@use 'sass:map';
@use '../../scss/font-settings' as font-settings;
@use '../../scss/breakpoints' as breakpoints;
@import '../../scss/supernova/styles/colors.css';
@import '../../scss/supernova/styles/spacers.css';

.dropdown {
  position: relative;

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.188rem var(--core-space-3xs) 0.188rem var(--core-space-s);
    cursor: pointer;
    border-radius: 0;
    border-width: 2px;
    border-style: solid;
    font-family: inherit;
    font-size: font-settings.$font-size-sm;
    line-height: 1.3rem; // Custom fordi teksten skal henge bedre sammen om den går over to linjer
    border-color: var(--color-base-border-onlight-emphasized);
    background-color: var(--core-color-white);

    &:hover {
      background-color: var(--color-base-background-neutral);
    }

    &:active {
      background-color: var(--core-color-neutral-100);
    }

    @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
      padding: 0.313rem var(--core-space-3xs) 0.313rem var(--core-space-s);
      font-size: font-settings.$font-size-md;
      line-height: 1.5rem;
    }

    &:focus-visible {
      outline: none;
      border-color: var(--color-action-border-onlight-focus);
      box-shadow: 0 0 0 1px var(--color-action-border-onlight-focus);
    }

    &:disabled {
      cursor: initial;
      color: var(--color-disabled-text);
      background-color: transparent;
      border-color: var(--color-disabled-border);
      border-style: dashed;
    }

    &--with-icon {
      padding-left: var(--core-space-2xs);
    }

    &--borderless {
      min-width: none;
      border-color: transparent;
    }

    &--transparent,
    &--borderless {
      background-color: transparent;

      &:hover {
        background-color: var(--core-color-neutral-100);
      }

      &:active {
        background-color: var(--core-color-neutral-200);
      }
    }

    &--borderless:disabled {
      border-color: transparent;
    }

    &--borderless#{&}--open {
      border-color: var(--color-base-border-onlight-emphasized);
    }

    &__text {
      padding: 0.34rem 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
        padding: 0.375rem 0;
      }
    }
  }

  &__left-icon {
    margin-right: var(--core-space-3xs);
  }

  &__right-icon {
    margin-left: var(--core-space-3xs);
  }

  &__left-icon,
  &__right-icon {
    fill: var(--color-action-graphics-onlight);

    :hover > & {
      fill: var(--color-action-graphics-onlight-hover);
    }

    :disabled > & {
      fill: var(--color-disabled-graphics);
    }
  }

  &__content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--core-color-white);
    border: 2px solid var(--core-color-blueberry-500);
    z-index: 1;

    &--open {
      display: block;
    }
  }

  &__options {
    overflow: hidden auto;
    max-height: 384px;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
      max-height: 464px;
    }
  }

  &__close {
    padding: var(--core-space-s);
  }

  &__multiselect-item {
    padding-left: var(--core-space-m);
    padding-right: var(--core-space-m);
  }

  &__list-item {
    min-height: 44px;
    border-bottom: 1px solid var(--color-base-border-neutral-emphasized);

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: var(--core-color-neutral-50);
    }

    &:active {
      background-color: var(--core-color-neutral-100);
    }

    &:has(:checked),
    &:has([aria-current='true']) {
      background-color: var(--core-color-blueberry-50);

      &:hover {
        background-color: var(--core-color-blueberry-100);
      }

      &:active {
        background-color: var(--core-color-blueberry-200);
      }
    }

    &--single-select:has(:focus-visible) {
      border-color: var(--color-action-border-onlight-focus);
      outline: 4px solid var(--color-action-border-onlight-focus);
      outline-offset: -4px;
    }
  }
}
