@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';
@import '../../scss/screen-reader';

.dropdown {
  position: relative;
  width: fit-content;

  &__label {
    @include sr-only;
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 0;
    border-width: 2px;
    border-style: solid;
    padding: 0 getSpacer(3xs) 0 getSpacer(s);
    font-family: inherit;
    font-size: $font-size-sm;
    line-height: 1.3rem; // Custom fordi teksten skal henge bedre sammen om den går over to linjer

    @media (min-width: map.get($grid-breakpoints, md)) {
      padding: getSpacer(3xs) getSpacer(3xs) getSpacer(3xs) getSpacer(s);
      font-size: $font-size-md;
      line-height: 1.5rem;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: initial;
      color: $neutral700;
      background-color: transparent;
      border-color: $neutral600;
      border-style: dashed;
    }

    &--on-white,
    &--on-grey {
      border-color: $neutral700;
      background-color: $white;

      &:hover {
        background-color: $neutral50;
        box-shadow: 0 0 0 1px $neutral700;
      }

      &:focus {
        border-color: $black;
        box-shadow: 0 0 0 1px $black;
      }
    }

    &--on-blueberry {
      border-color: $blueberry500;
      background-color: $white;

      &:hover {
        background-color: $blueberry50;
        box-shadow: 0 0 0 1px $blueberry500;
      }

      &:focus {
        border-color: $black;
        box-shadow: 0 0 0 1px $black;
      }
    }

    &--on-cherry {
      border-color: $cherry500;
      background-color: $white;

      &:hover {
        background-color: $cherry50;
        box-shadow: 0 0 0 1px $cherry500;
      }

      &:focus {
        border-color: $black;
        box-shadow: 0 0 0 1px $black;
      }
    }

    &--open#{&}--on-white,
    &--open#{&}--on-grey {
      background-color: $neutral50;

      &:hover {
        background-color: $white;
      }
    }

    &--open#{&}--on-blueberry {
      background-color: $blueberry50;

      &:hover {
        background-color: $white;
      }
    }

    &--open#{&}--on-cherry {
      background-color: $cherry50;

      &:hover {
        background-color: $white;
      }
    }

    &--transparent {
      background-color: transparent;
    }

    &--transparent#{&}--on-grey {
      &:hover {
        background-color: $neutral100;
      }
    }

    &--transparent#{&}--on-blueberry {
      &:hover {
        background-color: $blueberry100;
      }
    }

    &--transparent#{&}--on-cherry {
      &:hover {
        background-color: $cherry100;
      }
    }

    &--transparent#{&}--open#{&}--on-grey {
      background-color: $neutral100;

      &:hover {
        background-color: transparent;
      }
    }

    &--transparent#{&}--open#{&}--on-blueberry {
      background-color: $blueberry100;

      &:hover {
        background-color: transparent;
      }
    }

    &--transparent#{&}--open#{&}--on-cherry {
      background-color: $cherry100;

      &:hover {
        background-color: transparent;
      }
    }

    &--fluid {
      width: 100%;
    }

    &__label {
      padding: getSpacer(3xs) 0;

      @media (min-width: map.get($grid-breakpoints, md)) {
        padding: getSpacer(2xs) 0;
      }
    }
  }

  &__icon {
    margin-left: getSpacer(2xs);
  }

  &__content {
    display: none;
    position: absolute;
    background-color: $white;
    margin-top: getSpacer(2xs);
    box-shadow: 0 0 0 2px $blueberry500;
    z-index: 1;

    &--open {
      display: block;
    }
  }

  &__options {
    overflow: hidden auto;
    max-height: 384px;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: map.get($grid-breakpoints, md)) {
      max-height: 464px;
    }
  }

  &__close {
    padding: getSpacer(s);
  }

  &__input {
    border-bottom: 1px solid $neutral300;
    padding: getSpacer(2xs) getSpacer(s);

    @media (min-width: map.get($grid-breakpoints, md)) {
      padding: getSpacer(s);
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
