@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';

.tag-list {
  all: unset;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: getSpacer('2xs');

  &__item {
    all: unset;
  }
}
