@use '../../scss/spacers' as spacers;
@use '../../scss/palette' as palette;
@use '../../scss/breakpoints' as *;

.tag-list {
  all: unset;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: spacers.getSpacer(2xs);

  &__item {
    all: unset;
  }
}
