@use 'sass:map';
@use '../../../scss/breakpoints' as breakpoints;
@import '../../../scss/supernova/styles/spacers.css';

.select {
  select {
    outline: none;
    text-align: right;
    color: var(--color-action-text-onlight);
    padding-right: 3rem;
    height: 2.75rem;

    @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
      height: 3rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    gap: var(--core-space-4xs);
  }

  &__label {
    margin-bottom: 0;
  }
}
