@use 'sass:map';
@use '../../scss/spacers' as spacers;
@use '../../scss/font-settings' as font-settings;
@use '../../scss/palette' as palette;
@use '../../scss/breakpoints' as breakpoints;
@import '../../scss/supernova/styles/colors.css';
@import '../../scss/supernova/styles/spacers.css';

.list-edit-mode {
  border: none !important;

  &__icon-button {
    background: none;
    border: none;
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: var(--core-space-3xs) 0 var(--core-space-3xs) var(--core-space-2xs);
    cursor: pointer;

    &:hover {
      background-color: var(--color-action-background-transparent-onmulticolor-hover);
    }

    &:active {
      background-color: var(--color-action-background-transparent-onmulticolor-active);
    }

    &:focus-visible {
      outline: 4px solid var(--color-action-border-onlight-focus);
    }
  }

  &__item {
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;

    &--neutral,
    &--white {
      border-bottom: 1px solid var(--color-base-border-onlight);

      &:first-of-type {
        border-top: 1px solid var(--color-base-border-onlight);
      }
    }

    &--cherry {
      border-bottom: 1px solid var(--core-color-cherry-400);

      &:first-of-type {
        border-top: 1px solid var(--core-color-cherry-400);
      }
    }

    &--blueberry {
      border-bottom: 1px solid var(--core-color-blueberry-500);

      &:first-of-type {
        border-top: 1px solid var(--core-color-blueberry-500);
      }
    }

    &--line {
      > * {
        border: none !important;
      }
    }

    &--fill {
      > * {
        margin-top: var(--core-space-2xs) !important;
        margin-bottom: var(--core-space-2xs) !important;
      }
    }

    &__link {
      margin: 0;
    }
  }
}
