@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';
@import '../../scss/screen-reader';

$status-dot-size: 0.937rem;

.statusdot {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  font-size: $font-size-xs;
  line-height: $lineheight-size-xs;
  font-weight: 400;

  @media (min-width: map.get($grid-breakpoints, sm)) {
    font-size: $font-size-sm;
    line-height: $lineheight-size-sm;
  }

  &--cancelled {
    color: $cherry600;
  }

  &__dot {
    top: getSpacer(3xs);
    margin-right: getSpacer(2xs);
    border-radius: 10rem;
    margin-top: 0.28rem;

    @media (min-width: map.get($grid-breakpoints, sm)) {
      margin-top: 0.45rem;
    }

    &:not(#{&}--icon) {
      width: $status-dot-size;
      height: $status-dot-size;
      min-width: $status-dot-size;
      min-height: $status-dot-size;
    }

    &--info {
      background: $kiwi900;
    }

    &--warning {
      background: $banana400;
    }

    &--alert,
    &--cancelled {
      background: $cherry500;
    }

    &--active {
      background: $blueberry500;
    }

    &--transparent {
      border: 2px solid $neutral600;
    }

    &--icon {
      position: absolute;
      margin: getSpacer(4xs) * -1 0 0 getSpacer(3xs) * -1;
    }
  }

  &__label {
    &--icon {
      margin-left: getSpacer(m);
    }

    &--on-dark {
      color: $white;
    }
  }
}
