@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';
@import '../../scss/screen-reader';

$status-dot-size: 0.937rem;

.statusdot {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  font-size: $font-size-xs;
  line-height: 1.4rem;
  font-weight: 400;

  @media (min-width: map.get($grid-breakpoints, sm)) {
    font-size: $font-size-sm;
    line-height: 1.6rem;
  }

  &--cancelled {
    color: $cherry600;
  }

  &__dot {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: getSpacer(4xs);
    margin-right: getSpacer(2xs);
    border-radius: 10rem;
    width: $status-dot-size;
    height: $status-dot-size;
    min-width: $status-dot-size;
    min-height: $status-dot-size;

    @media (min-width: map.get($grid-breakpoints, sm)) {
      top: getSpacer(3xs);
    }

    &--info {
      background: $kiwi900;
    }
    &--info#{&}--on-dark {
      background: $kiwi400;
    }

    &--warning {
      background: $banana400;
    }

    &--alert,
    &--cancelled {
      background: $cherry500;
    }
    &--alert#{&}--on-dark {
      background: $cherry300;
    }
    &--cancelled#{&}--on-dark {
      outline: 2px solid $white;
    }

    &--active {
      background: $blueberry500;
    }
    &--active#{&}--on-dark {
      background: $blueberry300;
    }

    &--transparent {
      border: 2px solid $neutral600;
    }
    &--transparent#{&}--on-dark {
      border: none;
      background: $white;
    }

    svg {
      position: absolute;
    }
  }

  &__label {
    &--on-dark {
      color: $white;
    }
  }
}
