@import '../../scss/_breakpoints.scss';
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  display: flex;

  @media (min-width: map-get($grid-breakpoints, md)) {
    max-width: 66rem;
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    max-width: 84rem;
  }
}
