@import '../../scss/_spacers.scss';
@import '../../scss/_breakpoints.scss';
@import '../../scss/_font-settings.scss';
@import '../../scss/_palette.scss';
@import '../AnchorLink/styles.module.scss';

.notification-panel {
  $panel: &;
  display: flex;
  width: inherit;

  &--has-children {
    padding: getSpacer(2xs) getSpacer(s) getSpacer(2xs) getSpacer(2xs);
    #{$panel}__icon {
      margin-top: getSpacer(2xs);
      margin-right: getSpacer(2xs);
    }
    #{$panel}__content {
      margin-top: getSpacer(s);
      margin-bottom: getSpacer(s);
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
      padding-left: getSpacer(s);
      padding-right: getSpacer(m);
      #{$panel}__icon {
        margin-right: getSpacer(m);
      }
    }
  }
  &--label-only {
    align-items: center;
    padding: getSpacer(m) getSpacer(s) getSpacer(m) getSpacer(2xs);
    #{$panel}__icon {
      display: flex;
      margin-right: getSpacer(2xs);
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
      padding: getSpacer(l) getSpacer(m) getSpacer(l) getSpacer(s);
      #{$panel}__icon {
        margin-right: getSpacer(s);
      }
    }
  }
  &--dismissable {
    padding: getSpacer(2xs) getSpacer(2xs) getSpacer(m) getSpacer(2xs);
  }
  &--dismissable#{&}--has-children {
    padding-left: getSpacer(s);
  }
  &--small {
    max-width: map-get($grid-breakpoints, sm);
  }
  &--medium {
    max-width: map-get($grid-breakpoints, md);
  }
  &--large {
    max-width: map-get($grid-breakpoints, lg);
  }
  &--info {
    background-color: $kiwi50;
  }
  &--warn {
    background-color: $banana50;
  }
  &--alert {
    background-color: $cherry100;
  }
  &--alert#{&}--label-only {
    color: $cherry500;
  }
  &--crisis {
    background-color: $black;
  }
  &--shadow {
    box-shadow: 0 0.3rem getSpacer(2xs) -0.1rem rgba(0, 0, 0, 0.15);
  }

  &__close {
    order: 1;
    margin-left: auto;
    padding-left: getSpacer(2xs);
  }

  &__content {
    max-width: 772px;
    p {
      margin: 0;
    }

    a {
      @include anchorlink;
      @include anchorlink-icon;
    }

    &--crisis {
      color: $banana200;
      a {
        color: $white;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          color: $white;
        }
        &:focus {
          background-color: $white;
          color: $black;
          border-color: $white;
        }
        &[target='_blank'] {
          &:after {
            content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='38px' height='38px' viewBox='0 0 48 48' fill='%23bdbab9'><polygon points='33.305,14.659,33.305,29.205,32.005,29.205,32.005,16.948,15.804,33.149,14.885,32.229,31.155,15.959,18.761,15.96,18.761,14.659' /></svg>");
          }

          &:focus {
            &:after {
              content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='38px' height='38px' viewBox='0 0 48 48'><polygon points='33.305,14.659,33.305,29.205,32.005,29.205,32.005,16.948,15.804,33.149,14.885,32.229,31.155,15.959,18.761,15.96,18.761,14.659' /></svg>");
            }
          }
        }
      }
    }
  }

  &__label {
    font-size: $font-size-sm;
    line-height: $lineheight-size-xs;
    font-weight: 600;
    margin: 0;
    @media (min-width: map-get($grid-breakpoints, md)) {
      font-size: $font-size-md;
      line-height: $lineheight-size-md;
    }
  }
}

.fluid-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  &--info {
    background-color: $kiwi50;
  }
  &--warn {
    background-color: $banana50;
  }
  &--alert {
    background-color: $cherry100;
  }
  &--crisis {
    background-color: $black;
  }
  &--shadow {
    box-shadow: 0 0.3rem getSpacer(2xs) -0.1rem rgba(0, 0, 0, 0.15);
  }
}
