@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/font-settings';
@import '../../scss/palette';
@import '../AnchorLink/styles.module';

.notification-panel {
  $panel: &;

  display: flex;
  padding: getSpacer(2xs) getSpacer(s) getSpacer(2xs) getSpacer(2xs);
  box-shadow: 0.25rem 0.25rem 0.375rem rgb(0 0 0 / 15%);
  border-radius: 0.25rem;

  @media (min-width: map.get($grid-breakpoints, md)) {
    padding-left: getSpacer(s);
    padding-right: getSpacer(m);
    #{$panel}__icon {
      margin-right: getSpacer(m);
    }
  }

  &--compact {
    width: fit-content;
    font-size: $font-size-xs;
    line-height: 1.25rem;
    box-shadow: none;

    @media (min-width: map.get($grid-breakpoints, md)) {
      padding-left: getSpacer(2xs);
      padding-right: getSpacer(s);
    }

    &--outline {
      border: none;
    }
  }
  #{$panel}__icon {
    margin-right: getSpacer(2xs);
  }

  &--dismissable {
    padding: getSpacer(2xs) getSpacer(2xs) getSpacer(m) getSpacer(2xs);
  }

  &--small {
    max-width: map.get($grid-breakpoints, sm);
  }

  &--medium {
    max-width: map.get($grid-breakpoints, md);
  }

  &--large {
    max-width: map.get($grid-breakpoints, lg);
  }

  &--info {
    border: 0.125rem solid $blueberry700;
    background-color: $blueberry50;
  }

  &--info#{&}--compact {
    box-shadow: none;
    background-color: transparent;
  }

  &--info#{&}--compact--basic {
    border: none;
  }

  &--warn {
    border: 0.125rem solid $banana700;
    background-color: $banana50;
  }

  &--warn#{&}--compact {
    box-shadow: none;
    background-color: transparent;
  }

  &--warn#{&}--compact--basic {
    border: none;
  }

  &--alert {
    border: 0.125rem solid $cherry700;
    background-color: $cherry50;
  }

  &--alert#{&}--compact {
    box-shadow: none;
    background-color: transparent;
  }

  &--alert#{&}--compact--basic {
    border: none;
  }

  &--success {
    border: 0.125rem solid $kiwi900;
    background-color: $kiwi50;
  }

  &--success#{&}--compact {
    box-shadow: none;
    background-color: transparent;
  }

  &--success#{&}--compact--basic {
    border: none;
  }

  &__close {
    order: 1;
    margin-left: auto;
    padding-left: getSpacer(2xs);
  }

  &__content {
    align-self: center;

    a {
      @include anchorlink;
      @include anchorlink-icon;
    }
  }

  &__label,
  &__children {
    font-size: $font-size-xs;
    line-height: $lineheight-size-xs;
    margin: 0;

    @media (min-width: map.get($grid-breakpoints, md)) {
      font-size: $font-size-sm;
      line-height: 1.625rem;
    }
  }

  &__label {
    font-weight: 700;
    margin: getSpacer(2xs) 0 0 0;

    &--compact {
      font-size: $font-size-xs;
      line-height: 1.25rem;
    }

    &--no-content {
      margin: 0;
    }

    &--compact,
    &--no-content {
      font-weight: 600;
    }

    &--outline {
      font-weight: 500;
    }
  }

  &__children {
    font-weight: 600;
    padding: getSpacer(3xs) 0;

    &--with-label {
      font-weight: 500;
    }

    &--expander-no-label {
      margin: getSpacer(2xs) 0 0 0;

      @media (max-width: map.get($grid-breakpoints, lg)) {
        padding-top: 0;
      }
    }

    &--outline {
      font-weight: 500;
    }
  }

  &__icon {
    line-height: 0;
  }

  &--with-content {
    padding-bottom: getSpacer(xs);
  }
}

.fluid-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
