@import '../../../scss/supernova/styles/colors.css';
@import '../../../scss/supernova/styles/spacers.css';

.link-list {
  list-style: none;
  padding: 0;
  width: inherit;
  margin: 0;
  position: relative;

  &__item {
    &:first-of-type {
      border-top: 1px solid var(--component-listelements-border-neutral-normal);
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-right: 0;
    min-height: 4rem;
    text-decoration: none;
    color: var(--color-base-text-onlight);
    cursor: pointer;
    width: 100%;
    background-color: var(--color-base-background-white);
    border: none;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid var(--component-listelements-border-neutral-normal);

    &:hover {
      background-color: var(--component-listelements-background-neutral-light);
    }

    &:active {
      background-color: var(--component-listelements-background-neutral-medium);
    }

    &:focus-visible {
      outline: 4px solid var(--color-action-border-onlight-focus);
      outline-offset: 0; // Override user agent default
      position: relative;
      z-index: 1;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
    }
  }
}
