@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/supernova/styles/colors';

.emptystate {
  display: flex;
  flex-flow: row;
  gap: getSpacer(s);
  padding: getSpacer(s);
  align-items: center;

  @media (min-width: map.get($grid-breakpoints, md)) {
    gap: getSpacer(m);
    padding: getSpacer(l);
  }

  &--dashed {
    border-radius: 16px;
    border-style: dashed;
    border-width: 1px;
    border-color: var(--color-base-border-onlight-emphasized);
  }

  &--blank {
    border: none;

    @media (min-width: map.get($grid-breakpoints, md)) {
      padding-left: getSpacer(2xs);
    }
  }

  &--compact {
    border-radius: 4px;
    gap: getSpacer(3xs);
    padding: getSpacer(2xs);
    min-height: getSpacer(2xl);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
}
