@use 'sass:map';
@use '../../scss/breakpoints' as breakpoints;
@import '../../scss/supernova/styles/colors.css';

.chip {
  display: flex;
  flex-flow: row nowrap;
  height: 2.75rem;

  .chip__chip:focus-visible,
  .chip__close:focus-visible {
    z-index: 1;
  }

  &__chip,
  &__close {
    height: 2.75rem;
    background-color: transparent;
    align-self: flex-start;
    padding: 0;
    border: unset;
    outline: unset;
    cursor: pointer;

    &__inner {
      display: block;
      box-sizing: border-box;
      height: 1.625rem;
      line-height: 1.25rem;
      background-color: var(--core-color-blueberry-50);
      border: 1px solid var(--core-color-blueberry-500);

      @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
        height: 1.875rem;
      }

      .chip__chip:hover &,
      .chip__close:hover & {
        background-color: var(--core-color-blueberry-100);
      }

      .chip__chip:active &,
      .chip__close:active & {
        background-color: var(--core-color-blueberry-200);
      }

      .chip__chip:focus-visible &,
      .chip__close:focus-visible & {
        outline: 3px solid var(--color-action-border-onlight-focus);
      }
    }
  }

  &__chip {
    &__inner {
      border-radius: 100px 0 0 100px;
      padding-right: 0.375rem;
      padding-left: 0.75rem;
      padding-top: 0.1875rem;
      text-transform: uppercase;
      font-size: 0.875rem;
      font-weight: 600;
      color: var(--core-color-blueberry-800);
      text-wrap: nowrap;

      @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
        padding-top: 0.3125rem;
        font-size: 1rem;
      }

      &--without-close {
        border-radius: 100px;
        padding-right: 0.75rem;
      }
    }
  }

  &__close {
    &__inner {
      border-radius: 0 100px 100px 0;
      border-left: 0;
      padding-right: 0.25rem;
      display: flex;
      align-items: center;

      svg {
        fill: var(--color-action-graphics-onlight);
      }
    }
  }
}
