@import '../../../../utils/variables';

.mol_validation-summary {
  background-color: $color-primary-9;
  border-left: 4px solid $color-functional-3;
  padding: 1rem;

  @media screen and (min-width: $two-to-three-col) {
    padding: 2rem 4rem;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: $three-col-content;
  }

  &__header {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1.375rem;
    margin-top: 0;
  }

  .mol_validation-summary__listitem:not(:first-child) {
    margin-top: 1rem;
  }

  .mol_validation-summary__link {
    color: $color-functional-3;
    font-size: 1.125rem;
    font-weight: 400;
  }
}
