@use 'sass:map';
@use '@helsenorge/designsystem-react/scss/spacers' as spacers;
@use '@helsenorge/designsystem-react/scss/palette' as palette;
@use '@helsenorge/designsystem-react/scss/font-settings' as font-settings;
@use '@helsenorge/designsystem-react/scss/font-mixins' as fonts;
@use '@helsenorge/designsystem-react/scss/breakpoints' as *;

.date-time-picker-wrapper {
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: map.get($grid-breakpoints, sm)) {
    flex-flow: row nowrap;
  }

  &__date-picker {
    flex: 100%;
    margin-right: spacers.getSpacer(l);

    @media (min-width: map.get($grid-breakpoints, sm)) {
      flex: unset;
    }
  }

  &__legend {
    margin-bottom: spacers.getSpacer(m);
    margin-top: 0;

    @include fonts.legend;
  }
}

.time-separator {
  display: flex;
  align-items: center;
  padding: 0 spacers.getSpacer(2xs);
}

.datepicker-popup-container {
  position: fixed;
  visibility: hidden;
  z-index: 10;

  &--visible {
    visibility: visible;
  }
}

.datepicker-popup-arrow {
  --drop-shadow-color: #{palette.$blueberry500};

  width: 0;
  height: 0;
  position: fixed;
  visibility: hidden;
  border-style: solid;
  border-color: transparent;
  z-index: 10;

  &--visible {
    visibility: visible;
  }

  &--over {
    border-width: 0.625rem;
    border-bottom-color: palette.$white;
    filter: drop-shadow(var(--drop-shadow-color) 0 0.125rem 0.375rem 0.125rem);
    filter: drop-shadow(0 -0.185rem 0 var(--drop-shadow-color));
  }

  &--under {
    border-width: 0.625rem;
    border-top-color: palette.$white;
    filter: drop-shadow(var(--drop-shadow-color) 0 0.125rem 0.375rem 0.125rem);
    filter: drop-shadow(0 0.2rem 0 var(--drop-shadow-color));
  }
}

.date-button {
  position: absolute;
  z-index: 9;
  right: 0.1rem;
  top: 0.1rem;

  &__inner {
    min-height: 2.5rem;

    @media (min-width: map.get($grid-breakpoints, md)) {
      min-height: 3.125rem;
    }
  }
}

.footer-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

// Overstyrer klasser til datedaypicker pakken https://github.com/gpbl/react-day-picker/blob/main/src/style.css
/* stylelint-disable */
.root {
  --rdp-background-color: #e7edff;
  --rdp-dropdown-gap: 0.25rem;
  --rdp-nav-height: 2.375rem;

  background-color: palette.$white;
  padding: spacers.getSpacer(s) spacers.getSpacer(s) spacers.getSpacer(xs);
  border: 2px solid palette.$blueberry500;
}

.month {
  width: 100%;
}

.month_grid {
  width: 100%;
  margin: 0 spacers.getSpacer(3xs) * -1 spacers.getSpacer(4xs) * -1;
  border-spacing: spacers.getSpacer(3xs) spacers.getSpacer(4xs);
  border-collapse: separate;

  @media (min-width: map.get($grid-breakpoints, sm)) {
    margin: 0 spacers.getSpacer(xs) * -1 spacers.getSpacer(3xs) * -1;
    border-spacing: spacers.getSpacer(xs) spacers.getSpacer(3xs);
  }
}

.weekday {
  color: palette.$neutral700;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: font-settings.$font-size-sm;
  font-weight: 400;
  text-transform: capitalize;
}

.day {
  width: spacers.getSpacer(l);
  height: spacers.getSpacer(l);
  padding: 0;

  .day_button {
    font-size: font-settings.$font-size-sm;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: palette.$blueberry600;
    overflow: hidden;
    box-sizing: border-box;
    width: spacers.getSpacer(l);
    max-width: spacers.getSpacer(l);
    height: spacers.getSpacer(l);
    margin: 0;
    border: 2px solid transparent;
    border-radius: 0;

    cursor: pointer;
    text-decoration: none;
    background-color: transparent;

    &:focus-visible:not([disabled]),
    &:focus:not([disabled]) {
      background-color: palette.$neutral100;
      color: palette.$blueberry600;
      text-decoration: underline 2px palette.$blueberry600;
      outline: none;
    }

    &:hover:not([disabled]):not(._day--selected) {
      background-color: palette.$neutral100;
    }
  }

  &--today {
    .day_button {
      background-color: palette.$blueberry100;
      color: palette.$blueberry600;

      &:hover:not([disabled]):not(._day--selected) {
        background-color: palette.$blueberry200;
      }

      &:focus-visible:not([disabled]),
      &:focus:not([disabled]) {
        background-color: palette.$blueberry200;
        text-decoration: underline 2px palette.$blueberry600;
        outline: none;
      }
    }
  }

  &--disabled:not(.day--selected) {
    .day_button {
      cursor: default;
      opacity: 1 !important;
      color: palette.$neutral400;

      &:hover {
        background-color: palette.$white;
      }
    }
  }
}

.day--selected {
  .day_button {
    background-color: palette.$blueberry500;
    color: palette.$white;

    &:hover:not([disabled]):not(._day--selected) {
      background-color: palette.$blueberry700;
    }

    &:focus-visible:not([disabled]),
    &:focus:not([disabled]) {
      background-color: palette.$blueberry700;
      color: palette.$white;
      text-decoration: underline 2px palette.$white;
      outline: none;
    }
  }
}

.dropdown {
  appearance: none;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  border: none;
  background-color: transparent;
  font-size: font-settings.$font-size-sm;
  line-height: inherit;
  text-transform: capitalize;

  &:disabled {
    opacity: unset;
    color: unset;
  }

  &:focus-visible:not([disabled]) + .caption_label {
    box-shadow: 0 0 0 4px palette.$neutral900;
    border-radius: 0;
  }
}

.caption_label {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  margin: 0;
  white-space: nowrap;
  color: palette.$blueberry600;
  border: 2px solid transparent;
  text-transform: capitalize;
  font-size: font-settings.$font-size-sm;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;

  .chevron {
    fill: palette.$blueberry600;
  }
}

.dropdown_month {
  margin-right: spacers.getSpacer(2xs);
}

.button_previous,
.button_next {
  cursor: pointer;
  background: transparent;
  display: inline-flex;
  margin-left: spacers.getSpacer(2xs);
  align-items: center;
  justify-content: center;
  width: 2.375rem;
  height: 2.375rem;
  padding: 0.25em;
  border-radius: 0;
  border: none;

  &[disabled] {
    cursor: default;
    fill: palette.$neutral300;
  }

  &:focus-visible:not([disabled]) {
    box-shadow: 0 0 0 4px palette.$neutral900;
    background-color: palette.$neutral100;
  }

  &:hover:not([disabled]):not(.day--selected) {
    background-color: palette.$neutral100;
  }
}
/* stylelint-enable */
