@import '../../scss/_spacers.scss';
@import '../../scss/_breakpoints.scss';
@import '../../scss/_font-settings.scss';
@import '../../scss/_palette.scss';

.expander-list {
  list-style: none;
  padding: 0;
  width: inherit;
  margin: 0;

  &__item {
    border: 0;
    border-bottom: 1px solid $neutral500;

    &--top {
      border-top: 1px solid $neutral500;
    }

    &--no-bottom {
      border-bottom: 0;
    }
  }
}

.expander-list-link {
  padding: getSpacer(2xs) 0 getSpacer(2xs) 0;
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;
  @media (min-width: map-get($grid-breakpoints, md)) {
    padding-left: getSpacer(2xs);
    padding-right: getSpacer(2xs);
    font-size: $font-size-md;
    line-height: $lineheight-size-md;
  }
  display: flex;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  letter-spacing: unset;
  color: $black;
  border: 0;
  width: 100%;
  outline: none;

  &--banana {
    background-color: $banana100;

    &:hover,
    &:focus {
      background-color: $banana100;
    }
  }
  &--blueberry {
    background-color: $blueberry100;

    &:hover,
    &:focus {
      background-color: $blueberry100;
    }
  }
  &--cherry {
    background-color: $cherry100;

    &:hover,
    &:focus {
      background-color: $cherry100;
    }
  }
  &--kiwi {
    background-color: $kiwi100;

    &:hover,
    &:focus {
      background-color: $kiwi100;
    }
  }
  &--neutral {
    background-color: $neutral100;

    &:hover,
    &:focus {
      background-color: $neutral100;
    }
  }
  &--plum {
    background-color: $plum100;

    &:hover,
    &:focus {
      background-color: $plum100;
    }
  }
  &--white {
    background-color: $neutral50;

    &:hover,
    &:focus {
      background-color: $neutral50;
    }
  }

  &--closed:not(:hover, :focus) {
    background-color: transparent;
  }

  &:focus {
    outline: none;
  }

  &--large {
    font-size: $font-size-lg;
    line-height: $lineheight-size-lg;
  }

  &--jsx {
    &:focus {
      box-shadow: inset 0px 2px 0px 0px $neutral500, inset 0px -2px 0px 0px $neutral500;
    }
  }

  &__title {
    color: $black;
    display: flex;
    align-items: center;
    text-align: left;
    &--string {
      border-bottom: 1px solid transparent;

      :focus > & {
        border-color: $black;
      }
    }
    &--jsx {
      width: 100%;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: getSpacer(2xs);
  }

  &__chevron {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: getSpacer(2xs);
  }

  &__main-content {
    padding: 0;
    display: none;

    @media print {
      display: block;
    }

    &--expanded {
      display: block;
    }

    &--padding {
      padding: getSpacer(m) 0 getSpacer(m) 0;
      @media (min-width: map-get($grid-breakpoints, md)) {
        padding-left: getSpacer(2xs);
        padding-right: getSpacer(2xs);
      }
    }
  }
}
