types
coverage
bundle-stats.json

data/
dist/
lib/
lib_npm/
**/dist/**
**/lib/**

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

componentsEntries.json
componentdata.json
allconsImports.tsx

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.cache
web/public/
# Local Netlify folder
.netlify