@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';

.form-group-wrapper {
  &__title {
    &--on-dark {
      color: $white;
    }
  }
}

.form-group-wrapper:last-of-type {
  padding-bottom: 0;
}

.field-set {
  border: none;
  padding: 0;
  margin: 0;

  > div {
    padding-bottom: 0;
  }

  &__legend {
    font-size: $font-size-md;
    font-weight: 600;
    margin-bottom: getSpacer(m);
    margin-top: 0;

    &--on-dark {
      color: $white;
    }
  }
}
