@import '../../scss/_spacers.scss';
@import '../../scss/_breakpoints.scss';
@import '../../scss/_palette.scss';
@import '../../scss/font-settings.scss';

.form-group-wrapper {
  &__title {
    margin-bottom: getSpacer(l) !important;

    &--on-dark {
      color: $white;
    }
  }

  &__errors {
    font-size: $font-size-sm;
    font-weight: 600;
    color: $cherry500;
    margin-top: 0;
  }
}

.form-group-wrapper:first-of-type {
  padding-top: getSpacer(xl);
}

.form-group-wrapper:last-of-type {
  padding-bottom: getSpacer(xl);
}

.form-group {
  padding: getSpacer(s) 0 getSpacer(m);

  @media (min-width: map-get($grid-breakpoints, md)) {
    padding: getSpacer(s) 0 getSpacer(l);
  }

  &--invalid {
    margin-left: -(getSpacer(m) + 0.25rem);
    padding-left: getSpacer(m);
    background-color: $cherry50;
    border-left: 0.25rem solid $cherry500;
  }
}

.field-set {
  border: none;
  padding: 0;
  margin: 0;

  &__legend {
    font-size: $font-size-md;
    font-weight: 600;
    margin-bottom: getSpacer(m);

    &--on-dark {
      color: $white;
    }
  }
}
