@import '../../scss/_spacers.scss';
@import '../../scss/_breakpoints.scss';
@import '../../scss/_palette.scss';
@import '../../scss/font-settings.scss';

.form-group-wrapper {
  padding-bottom: getSpacer(xl);

  &__title {
    &--on-dark {
      color: $white;
    }
  }

  &__errors {
    font-size: $font-size-sm;
    font-weight: 600;
    color: $cherry500;
    margin-top: 0;
  }
}

.form-group-wrapper:last-of-type {
  padding-bottom: 0;
}

.form-group {
  padding: getSpacer(s) 0 getSpacer(m);

  @media (min-width: map-get($grid-breakpoints, md)) {
    padding: getSpacer(s) 0 getSpacer(l);
  }

  &--invalid {
    margin-left: getSpacer(xs) * -1;
    margin-right: getSpacer(xs) * -1;
    padding-left: getSpacer(2xs);
    padding-right: getSpacer(xs);
    background-color: $cherry100;
    border-left: getSpacer(3xs) solid $cherry500;

    @media (min-width: map-get($grid-breakpoints, md)) {
      margin-left: (getSpacer(m) + 0.25rem) * -1;
      margin-right: (getSpacer(m) + 0.25rem) * -1;
      padding-left: getSpacer(m);
      padding-right: getSpacer(m);
    }
  }
}

.field-set {
  border: none;
  padding: 0;
  margin: 0;

  &__legend {
    font-size: $font-size-md;
    font-weight: 600;
    margin-bottom: getSpacer(m);
    margin-top: 0;

    &--on-dark {
      color: $white;
    }
  }
}
