@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';
@import '../../scss/screen-reader';
@import '../../scss/supernova/styles/colors';

$dot-size: 1.765rem;

.sharing-status {
  display: inline-flex;
  align-items: center;
  font-size: $font-size-sm;
  line-height: 1.25rem;
  font-weight: 600;
  gap: getSpacer(2xs);

  &__dot {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    width: $dot-size;
    height: $dot-size;
    min-width: $dot-size;
    min-height: $dot-size;

    &--kiwi {
      background: var(--color-notification-text-success);
    }

    &--cherry {
      background: var(--color-notification-text-error);
    }

    &--neutral {
      background: $neutral700;
    }

    &--blueberry {
      background: var(--color-notification-text-info);
    }

    &--banana {
      background: var(--color-notification-text-warning);
    }
  }

  &__label {
    white-space: nowrap;

    &--wrap {
      white-space: normal;
    }

    &--kiwi {
      color: $kiwi900;
    }

    &--cherry {
      color: var(--color-notification-text-error);
    }

    &--neutral {
      color: $neutral700;
    }

    &--blueberry {
      color: var(--color-notification-text-info);
    }

    &--banana {
      color: var(--color-notification-text-warning);
    }
  }
}
