@import '../../styling/colors';

.display-button {
  position: relative;
  display: inline-flex;
  border: none;
  border-radius: 0;
  background-color: $secondary-color;
  text-overflow: ellipsis;
  letter-spacing: normal;
  color: white;
  margin: 0;
  padding: 0 3.25rem;
  min-height: 3.13rem;
  font-size: 1.125rem;
  text-align: center;
  align-items: center;
  cursor: pointer;
  appearance: none;
  white-space: nowrap;
  &:focus,
  &:hover {
    background-color: $secondary-color-hover;
    box-shadow: 0 0 0 4px $outline;
  }
  &--secondary {
  }
  &--tertiary {
  }
}
