@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';

.list-header {
  display: grid;
  grid-template:
    'icon text badge chevron' 4rem
    '. text . .' auto / min-content auto min-content min-content;
  column-gap: getSpacer(2xs);
  margin-left: getSpacer(2xs);
  margin-right: getSpacer(2xs);
  width: 100%;
  height: 100%;
  text-align: left;

  &__title {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  &__content {
    width: 100%;
    height: 100%;
    grid-area: text;
    align-self: center;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;

    &--element {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    :focus > &,
    :focus-visible > & {
      border-color: $black;
    }
  }

  &__icon,
  &__icon svg,
  &__avatar,
  &__badge-container,
  &__chevron,
  &__chevron svg {
    align-self: center;
  }

  &__icon,
  &__avatar {
    grid-area: icon;
  }

  &__icon {
    height: 100%;
  }

  &__chevron {
    grid-area: chevron;
    height: 100%;
  }

  &__chevron svg,
  &__icon svg {
    height: 100%;
  }

  &__badge-container {
    grid-area: badge;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
  }

  &__badge:has(svg),
  &__badge svg {
    height: 100%;
  }
}

.text-wrapper {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  font-weight: 400;

  &--sub-level {
    font-size: 18px;
  }

  &__text--emphasised {
    font-weight: 600;
  }
}
