@use '../../../scss/palette' as palette;
@use '../../../scss/spacers' as spacers;

.word {
  all: unset;
  position: relative;
  display: inline-block;
  cursor: help;

  // bruker border istedet for text-decoration for å komme rundt text-decoraton-thickness begrensninger i safari
  border-bottom: 0.2rem dotted palette.$plum400;
  line-height: 1.4rem;

  &:focus-visible {
    box-shadow: 0 0 0 spacers.getSpacer(4xs) palette.$black;
    outline: none;
  }
}
