@use 'sass:map';
@use '../../scss/breakpoints' as breakpoints;
@import '../../scss/supernova/styles/colors.css';
@import '../../scss/supernova/styles/spacers.css';

$trigger-medium-size: 1.25rem;
$trigger-large-size: 1.5rem;
$trigger-xl-size: 2rem;
$outline-medium-width: 2px;
$outline-large-width: 2.2px;
$outline-xl-width: 2.5px;

.help-trigger-inline {
  display: inline;
  color: var(--color-help-graphics-normal);
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0 var(--core-space-3xs);
  font-size: clamp(0px, 1em, 48px);
  font-weight: inherit;

  &:hover,
  &:active {
    color: var(--color-help-graphics-verydark);
    background-color: var(--color-help-background-transparent-onlight-hover);
  }

  &:focus-visible {
    outline: 3px solid var(--color-action-border-onlight-focus);
  }

  &:active {
    text-decoration: solid underline;
    text-underline-offset: 4.23px;
  }

  &__text {
    margin-right: clamp(var(--core-space-3xs), 0.2em, var(--core-space-2xs));
  }
}
