@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';
@import '../../scss/input';

.input-wrapper {
  @include input-wrapper;

  margin: getSpacer(l) 0;
}

.input-wrapper:first-of-type {
  margin-top: 0;
}

.input-wrapper:last-of-type {
  margin-bottom: 0;
}

.content-wrapper {
  display: flex;
  position: relative;
  z-index: 0;
  width: 100%;

  &__right-of-input {
    display: flex;
    position: relative;
  }
}

.input-container {
  @include input-container;

  $container: &;

  padding: 0.5rem 0;
  align-items: center;

  &--with-icon {
    padding: 1px 0;

    @media (min-width: map.get($grid-breakpoints, md)) {
      padding: 0.375rem 0;
    }
  }

  &--with-icon#{&}--large {
    padding: getSpacer(2xs) 0;
  }

  &__input {
    line-height: getSpacer(m);
    height: getSpacer(m);

    &--large {
      height: 2.5rem;
    }

    @media (min-width: map.get($grid-breakpoints, md)) {
      line-height: 1.625rem;
      height: 2.125rem;
      font-size: $font-size-md;

      &--large {
        line-height: 1.75rem;
        height: 3.5rem;
      }
    }

    &__icon {
      cursor: pointer;
    }
  }

  &--disabled {
    #{$container}__input__icon {
      cursor: initial;
    }
  }
}
