@import '../../scss/spacers';

.list {
  $list: &;

  margin-top: 0;
  margin-bottom: 0;

  &--margin {
    margin-top: getSpacer(s);
    margin-bottom: getSpacer(s);
  }

  &--bullet {
    list-style-type: disc;

    > #{$list}__item {
      > #{$list}--bullet {
        list-style-type: circle;

        > #{$list}__item {
          > #{$list}--bullet {
            list-style-type: '⬥ ';

            > #{$list}__item {
              &::marker {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }

  &--dashed {
    list-style-type: '– ';
  }

  &--numbered {
    list-style-type: decimal;
  }

  &--alphabetical {
    list-style-type: lower-alpha;
  }

  &__item {
    > #{$list} {
      margin-top: getSpacer(2xs);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: getSpacer(2xs);
  }
}
