@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';
@import '../AnchorLink/styles.module';

.popover {
  $popover: &;

  display: flex;
  position: fixed;
  align-items: flex-start !important;
  max-width: 23.3125rem;
  text-align: start;
  font-family: inherit;
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;
  background-color: $white;
  z-index: 3;
  visibility: hidden;

  & + &__arrow {
    visibility: hidden;
  }

  &--visible {
    visibility: visible;

    & + #{$popover}__arrow {
      visibility: visible;
    }
  }

  border: getSpacer('4xs') solid $plum600;
  border-radius: 0.5625rem;
  box-shadow: 0 0.125rem 1.125rem 0 rgb(0 0 0 / 15%);

  @media (min-width: map.get($grid-breakpoints, lg)) {
    font-size: $font-size-md;
    line-height: $lineheight-size-md;
  }

  &__arrow {
    --drop-shadow-color: #{$plum600};

    width: 0;
    height: 0;
    position: fixed;
    border-style: solid;
    border-color: transparent;
    z-index: 3;

    &--over {
      border-width: 0.625rem;
      border-bottom-color: $white;
      filter: drop-shadow(var(--drop-shadow-color) 0 0.125rem 0.375rem 0.125rem);
      filter: drop-shadow(0 -0.185rem 0 var(--drop-shadow-color));
    }

    &--under {
      border-width: 0.625rem;
      border-top-color: $white;
      filter: drop-shadow(var(--drop-shadow-color) 0 0.125rem 0.375rem 0.125rem);
      filter: drop-shadow(0 0.2rem 0 var(--drop-shadow-color));
    }
  }
}
