@use 'sass:map';
@use '../../scss/spacers' as spacers;
@use '../../scss/palette' as palette;
@use '../../scss/font-settings' as font-settings;
@use '../../scss/breakpoints' as breakpoints;

.popover {
  $popover: &;

  display: flex;
  position: fixed;
  align-items: flex-start !important;
  max-width: 23.3125rem;
  text-align: start;
  font-family: inherit;
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;
  background-color: $white;
  z-index: 3;
  visibility: hidden;
  border: getSpacer(4xs) solid $plum600;
  border-radius: 0.5625rem;
  box-shadow: 0 0.125rem 1.125rem 0 rgb(0 0 0 / 15%);

  @media (min-width: map.get(breakpoints.$grid-breakpoints, lg)) {
    font-size: font-settings.$font-size-md;
    line-height: font-settings.$lineheight-size-md;
  }

  &--visible {
    visibility: visible;
  }

  &__arrow {
    --drop-shadow-color: #{$plum600};

    width: 0;
    height: 0;
    position: fixed;
    border-style: solid;
    border-color: transparent;
    z-index: 3;
    visibility: hidden;

    &--over {
      border-width: 0.625rem;
      border-bottom-color: $white;
      filter: drop-shadow(var(--drop-shadow-color) 0 0.125rem 0.375rem 0.125rem);
      filter: drop-shadow(0 -0.185rem 0 var(--drop-shadow-color));
    }

    &--under {
      border-width: 0.625rem;
      border-top-color: $white;
      filter: drop-shadow(var(--drop-shadow-color) 0 0.125rem 0.375rem 0.125rem);
      filter: drop-shadow(0 0.2rem 0 var(--drop-shadow-color));
    }

    &--visible {
      visibility: visible;
    }
  }
}
