@use 'sass:map';
@import '../../scss/font-settings';
@import '../../scss/palette';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/screen-reader';
@import '../../scss/supernova/styles/colors';

.tile {
  // Referanse for grandparent selection i underklassene lenger nede
  $tile: &;

  display: flex;
  width: inherit;
  padding: getSpacer(2xs) getSpacer(2xs) getSpacer(xs);
  flex-direction: column;
  justify-content: center;
  background-color: var(--core-color-white);
  color: $black;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--color-base-border-blueberry);
  outline: none;

  @media (min-width: map.get($grid-breakpoints, md)) {
    padding: getSpacer(l) getSpacer(m) getSpacer(l) getSpacer(s);
    justify-content: flex-start;
  }

  @media print {
    border: 1px solid $black;
  }

  &--fixed {
    min-width: 15rem;
    max-width: 20rem;
  }

  &--compact {
    padding: getSpacer(2xs) getSpacer(2xs) getSpacer(xs);

    @media (min-width: map.get($grid-breakpoints, md)) {
      padding: getSpacer(s) getSpacer(m) getSpacer(s) getSpacer(s);
    }
  }

  svg {
    flex-shrink: 0;
  }

  &:hover,
  &:active {
    background-color: var(--color-action-background-ondark-selected);
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px var(--color-action-border-onlight-focus);
    border-color: var(--color-action-border-onlight-focus);
  }

  &--highlighted {
    background-color: $blueberry500;
    border-color: $blueberry500;
    color: $white;

    &:hover,
    &:active {
      background-color: $blueberry700;
      border-color: $blueberry700;
    }

    &:focus-visible {
      border-color: var(--color-action-border-onlight-focus);
    }
  }

  &__title {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-size: $font-size-sm;
    text-align: center;
    line-height: 1.74rem;
    font-weight: 400;
    margin: getSpacer(3xs) 0 0;

    @media (min-width: map.get($grid-breakpoints, md)) {
      text-align: left;
      font-weight: 600;
      font-size: $font-size-md;
      line-height: 1.625rem;
      margin: getSpacer(s) 0 0 getSpacer(2xs);
    }

    &--compact {
      margin: 0 0 0 getSpacer(3xs);
      text-align: left;

      @media (min-width: map.get($grid-breakpoints, md)) {
        margin-left: getSpacer(2xs);
      }
    }
  }

  #{$tile}:focus-visible & {
    &__title {
      &--highlighted {
        text-decoration: underline;
      }
    }
  }

  &__description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: getSpacer(2xs) 0 0 getSpacer(2xs);
  }

  &__children {
    margin: getSpacer(s) 0 0 getSpacer(2xs);
  }
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: map.get($grid-breakpoints, md)) {
    align-items: start;

    @media print {
      flex-direction: row;
    }
  }

  &--compact {
    flex-direction: row;
    align-items: center;
    padding-right: getSpacer(s);
    padding-bottom: 0;

    svg {
      flex-shrink: 0;
    }
  }
}
