@use 'sass:map';
@use '../../../scss/spacers' as spacers;
@use '../../../scss/breakpoints' as *;

.formgrid {
  display: grid;
  //   grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: spacers.getSpacer(2xs);
  //   align-items: end;

  @media (min-width: map.get($grid-breakpoints, md)) {
    gap: spacers.getSpacer(m);
  }

  //   & > * {
  //     height: 100%;

  //     & > * {
  //       height: 100%;

  //       //   & > * {
  //       //     height: 100%;
  //       //   }
  //     }
  //   }
}
