@import '../../scss/_spacers.scss';
@import '../../scss/_breakpoints.scss';
@import '../../scss/_palette.scss';
@import '../../scss/_font-settings.scss';
@import '~bootstrap/scss/mixins/_screen-reader.scss';

$dark-mode-disabled-transparrent: #ffffffb3;

$with-icons: 
// icon-class, size-class, padding-left, padding-right, padding-left desktop, padding-right desktop, svg-margin-left, svg-margin-right, svg-margin-left desktop, svg-margin-right desktop
  'left-icon' 'normal' getSpacer(4xs) getSpacer(xs) getSpacer(xs) getSpacer(m) 0 getSpacer(3xs) 0 getSpacer(2xs),
  'right-icon' 'normal' getSpacer(xs) getSpacer(4xs) getSpacer(m) getSpacer(xs) getSpacer(3xs) 0 getSpacer(2xs) 0,
  'left-icon' 'large' getSpacer(xs) getSpacer(m) getSpacer(s) getSpacer(l) 0 getSpacer(2xs) 0 getSpacer(xs),
  'right-icon' 'large' getSpacer(m) getSpacer(xs) getSpacer(l) getSpacer(s) getSpacer(2xs) 0 getSpacer(xs) 0,
  'only-icon' 'normal' 0.062rem 0.062rem 0.375rem 0.375rem 0 0 0 0,
  'only-icon' 'large' 0.312rem 0.312rem getSpacer(3xs) getSpacer(3xs) 0 0 0 0;

@mixin on-dark {
  &--on-dark {
    background-color: $white;

    &:hover {
      box-shadow: none;
    }
    &:hover,
    :focus > & {
      background-color: $blueberry50;
    }
    :focus > & {
      box-shadow: 0 0 0 getSpacer(3xs) $white;

      &:hover {
        background-color: $white;
      }
    }

    :disabled > & {
      background-color: $dark-mode-disabled-transparrent;
    }
  }
  &--on-dark#{&}--outline,
  &--on-dark#{&}--borderless {
    background-color: transparent;

    &:hover {
      background-color: $inverted-hover;
    }
  }
  &--on-dark#{&}--outline {
    outline-color: $white;

    :disabled > & {
      @media (min-width: map-get($grid-breakpoints, sm)) {
        outline-color: $dark-mode-disabled-transparrent;
      }
    }
  }
  &--on-dark#{&}--borderless {
    :disabled > & {
      border-color: $dark-mode-disabled-transparrent;
    }
  }

  &--on-dark &__text {
    color: $blueberry600;

    :disabled > & {
      color: $neutral700;
    }
  }
  &--on-dark#{&}--outline &__text,
  &--on-dark#{&}--borderless &__text {
    color: $white;

    :disabled > & {
      @media (min-width: map-get($grid-breakpoints, sm)) {
        color: $dark-mode-disabled-transparrent;
      }
    }
  }
}

// UU krav om klikkbart område er 48x48px, button-wrapper fyller de manglende 8px i høyden på mobilskjerm (synlig button er 40px høy)
.button-wrapper {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
  padding: getSpacer(2xs) 0;

  @media (min-width: map-get($grid-breakpoints, sm)) {
    padding: 0;
  }

  &--fluid {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.button {
  display: inline-flex;
  background-color: $blueberry500;
  padding: 0 getSpacer(m);
  font-size: $font-size-sm;
  font-weight: 600;
  font-family: inherit;
  align-items: center;
  width: 100%;
  min-height: 2.5rem;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: 0;
  letter-spacing: unset;

  &:hover {
    background-color: $blueberry700;
    box-shadow: 0 0 0 getSpacer(3xs) $blueberry700;
  }

  :disabled > & {
    pointer-events: none;
    outline: getSpacer(4xs) dashed $neutral700;
    outline-offset: getSpacer(4xs) * -1;
    background-color: $neutral200;
  }
  :disabled > & &__text {
    color: $neutral800;
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    min-height: 3.125rem;
    padding: 0 getSpacer(l);
    font-size: $font-size-md;
  }

  &--large {
    min-height: 3.625rem;
    padding: 0 getSpacer(l);

    @media (min-width: map-get($grid-breakpoints, sm)) {
      min-height: 4.5rem;
    }
  }

  &--arrow {
    padding-left: getSpacer(s);
    padding-right: getSpacer(xs);

    @media (min-width: map-get($grid-breakpoints, sm)) {
      padding-left: getSpacer(m);
      padding-right: getSpacer(m);
    }
  }

  @each $icon-class, $size-class, $pl, $pr, $pld, $prd, $svgml, $svgmr, $svgmld, $svgmrd in $with-icons {
    &--#{$icon-class}#{&}--#{$size-class} {
      padding-left: $pl;
      padding-right: $pr;

      @media (min-width: map-get($grid-breakpoints, sm)) {
        padding-left: $pld;
        padding-right: $prd;
      }

      svg:not(.button__arrow) {
        margin-left: $svgml;
        margin-right: $svgmr;

        @media (min-width: map-get($grid-breakpoints, sm)) {
          margin-left: $svgmld;
          margin-right: $svgmrd;
        }
      }
    }
  }

  &__arrow {
    margin-left: getSpacer(m);

    @media (min-width: map-get($grid-breakpoints, sm)) {
      margin-left: getSpacer(l);
    }
  }
  &--large &__arrow {
    margin-left: getSpacer(l);

    @media (min-width: map-get($grid-breakpoints, sm)) {
      margin-left: getSpacer(xl);
    }
  }

  &--destructive {
    background-color: $cherry500;

    &:hover {
      background-color: $cherry700;
      box-shadow: 0 0 0 getSpacer(3xs) $cherry700;
    }
  }

  &--outline,
  &--borderless {
    background-color: transparent;

    &:hover {
      background-color: $blueberry50;
    }
    :disabled > & {
      background-color: transparent;
    }
  }

  &--outline {
    outline: getSpacer(4xs) solid $blueberry700;
    outline-offset: getSpacer(4xs) * -1;

    &:hover {
      color: $blueberry700;
      outline: getSpacer(4xs) solid $blueberry50;
      outline-offset: 0;
      box-shadow: 0 0 0 getSpacer(3xs) $blueberry700;
    }

    :disabled > & {
      outline-color: $neutral700;

      @media (min-width: map-get($grid-breakpoints, sm)) {
        outline-color: $neutral500;
      }
    }
  }

  &--borderless:not(.button--only-icon) {
    padding: 0 getSpacer(3xs);
  }
  &--borderless {
    &:hover {
      box-shadow: none;
    }

    :disabled > & {
      outline: none;
    }
  }

  :focus > & {
    outline: none;
    box-shadow: 0 0 0 getSpacer(3xs) $black;
  }

  &__text {
    color: $white;
    margin: 0 auto 0 0;

    @media (min-width: map-get($grid-breakpoints, sm)) {
      margin: 0 auto 0 0;
    }

    &--ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &--outline &__text {
    color: $blueberry600;
    :disabled > & {
      @media (min-width: map-get($grid-breakpoints, sm)) {
        color: $neutral700;
      }
    }
  }
  &--borderless &__text {
    color: $blueberry600;
    :disabled > & {
      color: $neutral700;
    }
  }
  &--only-icon &__text {
    @include sr-only();
  }

  @include on-dark();
}

.diagonal {
  transform: matrix(-1, 0, 0, 1, 0, 0);

  &__line {
    border-bottom: getSpacer(4xs) dashed $neutral500;
    transform-origin: top left;
    position: absolute;
  }

  &--on-dark &__line {
    border-color: $white;

    @media (min-width: map-get($grid-breakpoints, sm)) {
      border-color: $dark-mode-disabled-transparrent;
    }
  }
}
