/* stylelint-disable no-descending-specificity */
@use 'sass:map';
@use '../../scss/palette' as palette;
@use '../../scss/font-settings' as font-settings;
@use '../Button/styles.module' as button;
@use '../../scss/breakpoints' as breakpoints;
@import '../../scss/supernova/styles/colors.css';
@import '../../scss/supernova/styles/spacers.css';

.expander {
  position: initial;
  width: 100%;

  &:focus-within {
    z-index: 1;
  }

  @media print {
    border: 1px solid palette.$black;
  }

  &__icon {
    display: flex;
    align-items: center;

    &--left {
      margin-right: var(--core-space-2xs);
    }

    &--right {
      margin-left: auto;
      padding-left: var(--core-space-2xs);
    }
  }

  &__button {
    position: relative;
    padding-right: var(--core-space-s);
    text-align: left;

    &--expanded {
      @include button.outline-borderless-hover;
    }
  }

  &__button &__button__text {
    @include button.outline-borderless-text-hover;
  }

  &__trigger {
    $trigger: &;

    position: relative;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    font-size: font-settings.$font-size-sm;
    line-height: font-settings.$lineheight-size-sm;
    font-weight: 600;
    text-align: left;

    @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
      font-size: font-settings.$font-size-md;
      line-height: font-settings.$lineheight-size-md;
    }

    &--large {
      width: 100%;
      padding: var(--core-space-xs) var(--core-space-2xs) var(--core-space-xs) var(--core-space-s);
      cursor: pointer;

      @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
        padding: var(--core-space-xs) var(--core-space-s) var(--core-space-xs) var(--core-space-l);
      }
    }

    &--icon {
      padding-left: var(--core-space-2xs);

      @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
        padding-left: var(--core-space-s);
      }
    }

    $colors: 'neutral', 'blueberry', 'cherry', 'kiwi', 'banana', 'plum';

    @each $color in $colors {
      &--#{$color} {
        background-color: map.get(palette.$palette-map, #{$color}50);

        &:hover {
          background-color: map.get(palette.$palette-map, #{$color}100);
        }

        &:focus {
          box-shadow:
            0 0 0 1.5px palette.$neutral600,
            inset 0 0 0 1.5px palette.$neutral600;
        }

        &#{$trigger}--expanded {
          background-color: map.get(palette.$palette-map, #{$color}100);

          &:hover {
            background-color: map.get(palette.$palette-map, #{$color}200);
          }
        }
      }
    }

    // Hvit bakgrunn har egne regler for bakgrunnsfarge, hover og fokus
    &--white {
      background-color: palette.$white;

      &:hover {
        background-color: palette.$neutral100;
      }

      &:focus {
        box-shadow:
          0 0 0 1.5px palette.$neutral600,
          inset 0 0 0 1.5px palette.$neutral600;
      }

      &#{$trigger}--expanded {
        box-shadow: inset 0 0 0 6px palette.$neutral100;

        &:focus {
          box-shadow:
            0 0 0 1.5px palette.$neutral600,
            inset 0 0 0 1.5px palette.$neutral600,
            inset 0 0 0 6px palette.$neutral100;
        }
      }
    }
  }

  &__button-container {
    display: flex;

    &--sticky {
      background-color: palette.$white;
    }
  }

  &__button-container,
  &__trigger {
    &--sticky {
      position: sticky;
      top: 0;
    }
  }

  &__content {
    $content: &;

    display: none;
    width: 100%;

    @media print {
      display: block;
    }

    &--expanded {
      display: block;
    }

    &--small {
      margin-top: var(--core-space-s);
    }

    &--small#{&}--sticky {
      margin-top: 1.25rem;
    }

    &--emphasized {
      padding: var(--core-space-m) var(--core-space-s);
      margin-top: var(--core-space-3xs);
      background: var(--color-base-background-neutral, #f5f3f3);
    }

    &--nested-line {
      &--outer {
        padding-left: 0;

        @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
          padding-left: calc(38px / 2 - 1px); // Halvparten av chevron-ikonets bredde minus halve bredden på border
        }
      }

      &--inner {
        padding-left: var(--core-space-s);
        border-left: solid 3px palette.$neutral200;

        @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
          padding-left: calc(
            38px / 2 + 12px - 2px
          ); // Halvparten av chevron-ikonets bredde, pluss ikonets margin-right på tablet, minus bredden på border
        }
      }
    }

    &--large {
      padding: var(--core-space-s) var(--core-space-m) var(--core-space-l) var(--core-space-s);

      @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
        padding: var(--core-space-m) var(--core-space-l) var(--core-space-xl);
      }

      &#{$content}--icon {
        @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
          padding-left: 70px;
        }
      }
    }

    &--neutral {
      background-color: palette.$neutral50;
    }

    &--blueberry {
      background-color: palette.$blueberry50;
    }

    &--cherry {
      background-color: palette.$cherry50;
    }

    &--kiwi {
      background-color: palette.$kiwi50;
    }

    &--banana {
      background-color: palette.$banana50;
    }

    &--plum {
      background-color: palette.$plum50;
    }

    &--white {
      background-color: palette.$white;
    }
  }
}
