@use 'sass:map';
@import '../../scss/palette';

.trigger {
  $trigger: &;

  vertical-align: text-bottom;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &--medium {
    height: 24.18px;
    width: 24.18px;
  }

  &--large {
    height: 30.61px;
    width: 30.61px;
  }

  $variant-map: (
    'help': 'plum',
    'info': 'blueberry',
  );

  @each $variant, $color in $variant-map {
    &--#{$variant} {
      box-shadow: inset 0 0 0 1.5px map.get($palette-map, #{$color}600);

      &:hover {
        box-shadow: inset 0 0 0 1.5px map.get($palette-map, #{$color}800);
        background-color: rgba-to-rgb(rgba(map.get($palette-map, #{$color}600), 0.1));
      }

      &:focus-visible {
        box-shadow: inset 0 0 0 1.5px $black;
        outline: 1.5px solid $black;
      }

      &#{$trigger}[aria-expanded='true'] {
        box-shadow: inset 0 0 0 1.5px map.get($palette-map, #{$color}800);
        background-color: rgba-to-rgb(rgba(map.get($palette-map, #{$color}600), 0.1));

        &:hover {
          background-color: rgba-to-rgb(rgba(map.get($palette-map, #{$color}600), 0.2));
        }

        &:focus {
          background-color: rgba-to-rgb(rgba(map.get($palette-map, #{$color}600), 0.1));
        }
      }
    }
  }

  &--ondark {
    box-shadow: inset 0 0 0 1.5px $white;

    &:hover {
      background-color: rgba-to-rgb(rgba($plum50, 0.2), $plum600);
    }

    &:focus-visible {
      outline: 1.5px solid $white;
    }

    &#{$trigger}[aria-expanded='true'] {
      background-color: rgba-to-rgb(rgba($plum50, 0.1), $plum600);

      &:hover {
        background-color: rgba-to-rgb(rgba($plum50, 0.2), $plum600);
      }

      &:focus-visible {
        background-color: rgba-to-rgb(rgba($plum50, 0.1), $plum600);
      }
    }
  }
}
