@use 'sass:map';
@use '../../scss/palette' as palette;
@use '../../scss/icon' as icon;

$trigger-medium-size: 24.18px;
$trigger-medium-click-area: 44px;
$trigger-large-size: 30.61px;

.trigger {
  $trigger: &;

  position: relative;
  vertical-align: text-bottom;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &--medium {
    height: $trigger-medium-size;
    width: $trigger-medium-size;
    margin-left: calc((map.get(icon.$icon-sizes, xs) - $trigger-medium-size) / 2);
    margin-right: calc((map.get(icon.$icon-sizes, xs) - $trigger-medium-size) / 2);

    &::after {
      // Increase the clickable area
      content: '';
      position: absolute;
      left: calc(($trigger-medium-click-area - $trigger-medium-size) / -2);
      top: calc(($trigger-medium-click-area - $trigger-medium-size) / -2);
      width: $trigger-medium-click-area;
      height: $trigger-medium-click-area;
    }
  }

  &--large {
    height: $trigger-large-size;
    width: $trigger-large-size;
    margin-left: calc((map.get(icon.$icon-sizes, sm) - $trigger-large-size) / 2);
    margin-right: calc((map.get(icon.$icon-sizes, sm) - $trigger-large-size) / 2);
  }

  $variant-map: (
    'help': 'plum',
    'info': 'blueberry',
  );

  @each $variant, $color in $variant-map {
    &--#{$variant} {
      box-shadow: inset 0 0 0 1.6px map.get(palette.$palette-map, #{$color}600);

      &:hover,
      &#{$trigger}--hovered {
        box-shadow: inset 0 0 0 1.6px map.get(palette.$palette-map, #{$color}800);
        background-color: rgba(map.get(palette.$palette-map, #{$color}600), 0.1);
      }

      &:focus-visible {
        box-shadow: inset 0 0 0 1.6px palette.$black;
        outline: 1.6px solid palette.$black;
      }

      &#{$trigger}--selected {
        box-shadow: inset 0 0 0 1.6px map.get(palette.$palette-map, #{$color}800);
        background-color: rgba(map.get(palette.$palette-map, #{$color}600), 0.1);

        &:hover,
        &#{$trigger}--hovered {
          background-color: rgba(map.get(palette.$palette-map, #{$color}600), 0.2);
        }

        &:focus {
          background-color: rgba(map.get(palette.$palette-map, #{$color}600), 0.1);
        }
      }
    }
  }

  &--ondark {
    box-shadow: inset 0 0 0 1.6px palette.$white;

    &:hover {
      background-color: rgba(palette.$plum50, 0.2);
    }

    &:focus-visible {
      outline: 1.6px solid palette.$white;
    }

    &#{$trigger}--selected {
      background-color: rgba(palette.$plum50, 0.1);

      &:hover,
      &#{$trigger}--hovered {
        background-color: rgba(palette.$plum50, 0.2);
      }

      &:focus-visible {
        background-color: rgba(palette.$plum50, 0.1);
      }
    }
  }
}
