@use 'sass:map';
@import '../../scss/palette';

.trigger {
  $trigger: &;

  vertical-align: text-bottom;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &--medium {
    height: 24.18px;
    width: 24.18px;
  }

  &--large {
    height: 30.61px;
    width: 30.61px;
  }

  $variant-map: (
    'help': 'plum',
    'info': 'blueberry',
  );

  @each $variant, $color in $variant-map {
    &--#{$variant} {
      box-shadow: inset 0 0 0 1.6px map.get($palette-map, #{$color}600);

      &:hover,
      &#{$trigger}--hovered {
        box-shadow: inset 0 0 0 1.6px map.get($palette-map, #{$color}800);
        background-color: rgba(map.get($palette-map, #{$color}600), 0.1);
      }

      &:focus-visible {
        box-shadow: inset 0 0 0 1.6px $black;
        outline: 1.6px solid $black;
      }

      &#{$trigger}--selected {
        box-shadow: inset 0 0 0 1.6px map.get($palette-map, #{$color}800);
        background-color: rgba(map.get($palette-map, #{$color}600), 0.1);

        &:hover,
        &#{$trigger}--hovered {
          background-color: rgba(map.get($palette-map, #{$color}600), 0.2);
        }

        &:focus {
          background-color: rgba(map.get($palette-map, #{$color}600), 0.1);
        }
      }
    }
  }

  &--ondark {
    box-shadow: inset 0 0 0 1.6px $white;

    &:hover {
      background-color: rgba($plum50, 0.2);
    }

    &:focus-visible {
      outline: 1.6px solid $white;
    }

    &#{$trigger}--selected {
      background-color: rgba($plum50, 0.1);

      &:hover,
      &#{$trigger}--hovered {
        background-color: rgba($plum50, 0.2);
      }

      &:focus-visible {
        background-color: rgba($plum50, 0.1);
      }
    }
  }
}
