@import '../../styling/old-variables';

.emphasis-box {
  border: 1px solid #d3d3d3;
  background-color: white;
  padding: 1.5rem;
  &--grey {
    background-color: $color-base-6-2;
  }
  &--green {
    background-color: $color-pres-1;
    border-color: $color-pres-2;
  }
  &--blue {
    background-color: #e7f1f3;
  }
}
