$colorCoreColorBlack: #000000;    
$colorCoreColorWhite: #ffffff;    
$colorCoreColorBlueberry50: #e4f7f9;    
$colorCoreColorNeutral500: #989693;    
$colorCoreColorNeutral700: #62625f;    
$colorColorActionTextOndark: #ffffff;    
/* Hoverfarge for bakgrunn på interaktive elementer - onLight */
$colorColorActionBackgroundTransparentOnlightHover: #126f8721;    
/* Hoverfarge for bakgrunn på interaktive elementer - onLight selected */
$colorColorActionBackgroundTransparentOnlightHoverselected: #126f872b;    
$colorColorNotificationBackgroundInfo: #e4f7f9;    
$colorColorNotificationBackgroundError: #fff2ea;    
$colorColorDestructiveGraphicsNormal: #c83521;    
$colorColorBaseTextOnlight: #000000;    
$colorColorActionBackgroundOndark: #ffffff;    
$colorColorActionBorderOndark: #ffffff;    
$colorColorActionBorderOndarkFocus: #ffffff;    
$colorColorActionGraphicsOndark: #ffffff;    
$colorColorBaseTextOndark: #ffffff;    
$colorColorBaseBackgroundNeutral: #f5f3f3;    
$colorColorBaseBackgroundWhite: #ffffff;    
$colorColorBaseGraphicsOndark: #ffffff;    
$colorColorDisabledTextOndark: #ffffff;    
$colorColorActionBorderOnlight: #188097;    
$colorColorActionBorderOnlightHover: #08667c;    
$colorColorActionBorderOnlightFocus: #000000;    
$colorColorActionTextOnlight: #126f87;    
$colorColorActionTextOnlightHover: #08667c;    
$colorColorActionGraphicsOnlight: #188097;    
$colorColorActionGraphicsOnlightHover: #126f87;    
$colorColorActionGraphicsOndarkHover: #e4f7f9;    
$colorColorActionBackgroundOndarkHover: #e4f7f9;    
$colorColorActionBackgroundOndarkSelected: #cae7ed;    
$colorColorActionBackgroundOndarkHoverselected: #afdae3;    
$colorColorActionBackgroundOnlight: #188097;    
$colorColorActionBackgroundOnlightHover: #08667c;    
$colorColorNotificationBackgroundWarning: #fdf8df;    
$colorColorNotificationBackgroundSuccess: #e6f8ee;    
$colorColorNotificationBorderInfo: #08667c;    
$colorColorNotificationBorderError: #a31f0e;    
$colorColorNotificationBorderWarning: #ab7c00;    
$colorColorNotificationBorderSuccess: #078141;    
$colorColorNotificationGraphicsInfo: #08667c;    
$colorColorNotificationGraphicsError: #a31f0e;    
$colorColorNotificationGraphicsWarning: #ab7c00;    
$colorColorNotificationGraphicsSuccess: #078141;    
$colorColorNotificationStatusWarning: #ebc840;    
$colorColorNotificationStatusSuccess: #099150;    
$colorColorDestructiveGraphicsHover: #b62e1c;    
$colorColorDestructiveTextNormal: #b62e1c;    
$colorColorDestructiveTextHover: #a31f0e;    
$colorColorDisabledBackground: #d6d4d3;    
$colorColorDisabledText: #62625f;    
$colorColorDisabledBorder: #7d7c79;    
$colorColorDisabledGraphics: #62625f;    
$colorColorDisabledBorderOndark: #d6d4d3;    
$colorColorDisabledGraphicsOndark: #d6d4d3;    
$colorColorBaseBackgroundBlueberry: #e4f7f9;    
$colorColorBaseBackgroundCherry: #fff2ea;    
$colorColorBaseBackgroundDarkBlueberry: #188097;    
$colorColorBaseBackgroundDarkCherry: #c83521;    
$colorColorBaseGraphicsOnlight: #000000;    
$colorColorBaseBorderOndark: #d6d4d3;    
$colorColorBaseBorderOnlight: #989693;    
$colorColorBaseBorderOnlightEmphasized: #62625f;    
$colorColorHelpBackground: #efe4fd;    
$colorColorHelpGraphics: #5b22a6;    
$colorColorHelpBorder: #5b22a6;    
$colorCoreColorBlueberry100: #cae7ed;    
$colorCoreColorBlueberry200: #afdae3;    
$colorCoreColorBlueberry300: #7abecc;    
$colorCoreColorBlueberry400: #58aabb;    
$colorCoreColorBlueberry500: #188097;    
$colorCoreColorBlueberry600: #126f87;    
$colorCoreColorBlueberry700: #08667c;    
$colorCoreColorBlueberry800: #06596c;    
$colorCoreColorBlueberry900: #084350;    
$colorCoreColorNeutral50: #f5f3f3;    
$colorCoreColorNeutral100: #eae7e7;    
$colorCoreColorNeutral200: #d6d4d3;    
$colorCoreColorNeutral300: #bdbab9;    
$colorCoreColorNeutral400: #aaa8a6;    
$colorCoreColorNeutral600: #7d7c79;    
$colorCoreColorNeutral800: #474745;    
$colorCoreColorNeutral900: #2b2c2b;    
$colorCoreColorBanana50: #fdf8df;    
$colorCoreColorBanana100: #fcf2bf;    
$colorCoreColorBanana200: #f9ea9f;    
$colorCoreColorBanana300: #f5e080;    
$colorCoreColorBanana400: #ebc840;    
$colorCoreColorBanana500: #ddab06;    
$colorCoreColorBanana600: #c59302;    
$colorCoreColorBanana700: #ab7c00;    
$colorCoreColorBanana800: #916500;    
$colorCoreColorBanana900: #764f00;    
$colorCoreColorCherry50: #fff2ea;    
$colorCoreColorCherry100: #f7e1d2;    
$colorCoreColorCherry200: #eec0a5;    
$colorCoreColorCherry300: #e39376;    
$colorCoreColorCherry400: #d56147;    
$colorCoreColorCherry500: #c83521;    
$colorCoreColorCherry600: #b62e1c;    
$colorCoreColorCherry700: #a31f0e;    
$colorCoreColorCherry800: #912112;    
$colorCoreColorCherry900: #7e1c0e;    
$colorCoreColorKiwi50: #e6f8ee;    
$colorCoreColorKiwi100: #c2edd6;    
$colorCoreColorKiwi200: #9de2bf;    
$colorCoreColorKiwi300: #79d6aa;    
$colorCoreColorKiwi400: #56ca96;    
$colorCoreColorKiwi500: #33be84;    
$colorCoreColorKiwi600: #10b172;    
$colorCoreColorKiwi700: #0ca161;    
$colorCoreColorKiwi800: #099150;    
$colorCoreColorKiwi900: #078141;    
$colorCoreColorPlum50: #efe4fd;    
$colorCoreColorPlum100: #d7bdf9;    
$colorCoreColorPlum200: #bf98f3;    
$colorCoreColorPlum300: #a875eb;    
$colorCoreColorPlum400: #9153e2;    
$colorCoreColorPlum500: #7a33d7;    
$colorCoreColorPlum600: #6a2abf;    
$colorCoreColorPlum700: #5b22a6;    
$colorCoreColorPlum800: #4c1b8c;    
$colorCoreColorPlum900: #3c1471;    
$colorColorDestructiveBackgroundEmphasized: #f7e1d2;    
$colorColorDestructiveBackgroundNormal: #fff2ea;    
$colorBrandcolorWhite: #ffffff;    
$colorBrandcolorBlack: #000000;    
$colorBrandcolorNeutralVerylight: #f5f3f3;    
$colorBrandcolorNeutralLight: #eae7e7;    
$colorBrandcolorNeutralMediumlight: #d6d4d3;    
$colorBrandcolorNeutralMedium: #989693;    
$colorBrandcolorNeutralDark: #62625f;    
$colorBrandcolorNeutralVerydark: #2b2c2b;    
$colorBrandcolorBlueberryVerylight: #e4f7f9;    
$colorBrandcolorBlueberryLight: #cae7ed;    
$colorBrandcolorBlueberryMediumlight: #afdae3;    
$colorBrandcolorBlueberryMedium: #188097;    
$colorBrandcolorBlueberryMediumdark: #126f87;    
$colorBrandcolorBlueberryDark: #08667c;    
$colorBrandcolorCherryVerylight: #fff2ea;    
$colorBrandcolorCherryLight: #f7e1d2;    
$colorBrandcolorCherryMedium: #c83521;    
$colorBrandcolorCherryMediumdark: #b62e1c;    
$colorBrandcolorCherryDark: #a31f0e;    
$colorColorNotificationStatusInfo: #188097;    
$colorColorNotificationStatusError: #c83521;    
$colorColorDestructiveBorderNormal: #c83521;    
$colorColorActionBorderOndarkHover: #e4f7f9;    
/* Hoverfarge for bakgrunn på interaktive elementer - onDark */
$colorColorActionBackgroundTransparentOndarkHover: #00000026;    
/* Hoverfarge for bakgrunn på interaktive elementer - onDark selected */
$colorColorActionBackgroundTransparentOndarkHoverselected: #00000040;    
$colorColorBaseBackgroundDarkNeutral: #2b2c2b;    
/* Palceholdertext in input- and textarea-controls */
$colorColorPlaceholderTextOnlight: #62625f;    
