
/* Alternativ overskrift for H1 - ekstra stor */
.typographyDesktopH1Feature_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Hovedtittel H1 */
.typographyDesktopH1Title1_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Sekundærtittel H2 */
.typographyDesktopH2Title2_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Tertiærtittel H3 */
.typographyDesktopH3Title3_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH4Title4_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 141%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH5Title5_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

.typographyDesktopPreamble 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopLegend 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopLabel 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopBody 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Display of condensed textual data, such as metadata or information that is useful, but perhaps not essential for the use of a service. */
.typographyDesktopCompactData 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Tekst i tabellceller. Mer kompakt enn brødtekst (body) */
.typographyDesktopTablecell 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopBodyStrong_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Text inside input-fields, textarea fields and numeric steppers, etc. Not to be used as the Label for Radiogroup or Checkbox - use Label. */
.typographyDesktopFormInput 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Bildetekst - plasseres nedenfor bilde eller figur */
.typographyDesktopImageCaption 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Supply copyright information for images */
.typographyDesktopImageCredit 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Formfield-text (input, textarea, numeric stepper) */
.typographyDesktopInputText 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Tekst til selve utfyllingsområdet i store (Large) form elementer: input, textarea, numeric stepper */
.typographyDesktopInputTextLarge_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Vis status/tidskoder - lav linjehøyde for kompakt visning */
.typographyDesktopStatusTimeStampTime_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Alternativ overskrift for H1 - ekstra stor */
.typographyMobileH1Feature 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 121%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Hovedtittel H1 */
.typographyMobileH1Title1_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Sekundærtittel H2 */
.typographyMobileH2Title2_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Tertiærtittel H3 */
.typographyMobileH3Title3_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH4Title4_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobilePreamble 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 145%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileLegend 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileLabel 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileBody 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Tekst i tabellceller. Mer kompakt enn brødtekst (body) */
.typographyMobileTablecell 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileFormInput 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileImageCaption 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileImageCredit 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Vis status/tidskoder - lav linjehøyde for kompakt visning */
.typographyMobileStatusTimeStampTime_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH5Title5_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Tekst til selve utfyllingsområdet i store (Large) form elementer: input, textarea, numeric stepper */
.typographyMobileInputTextLarge 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH6Title6_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopLabelSubdued_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopSubLabel 
{ 
  
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopSubLabelSubdued_ 
{ 
  
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH6Title6_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileLabelSubdued_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileSubLabel 
{ 
  
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileSubLabelSubdued_ 
{ 
  
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileBodyStrong_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileCompactData 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileInputText 
{ 
  
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Alternativ overskrift for H1 - ekstra stor */
@mixin typographyDesktopH1Feature_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Hovedtittel H1 */
@mixin typographyDesktopH1Title1_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Sekundærtittel H2 */
@mixin typographyDesktopH2Title2_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Tertiærtittel H3 */
@mixin typographyDesktopH3Title3_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH4Title4_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 141%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH5Title5_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopPreamble 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopLegend 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopLabel 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopBody 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Display of condensed textual data, such as metadata or information that is useful, but perhaps not essential for the use of a service. */
@mixin typographyDesktopCompactData 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Tekst i tabellceller. Mer kompakt enn brødtekst (body) */
@mixin typographyDesktopTablecell 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopBodyStrong_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Text inside input-fields, textarea fields and numeric steppers, etc. Not to be used as the Label for Radiogroup or Checkbox - use Label. */
@mixin typographyDesktopFormInput 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Bildetekst - plasseres nedenfor bilde eller figur */
@mixin typographyDesktopImageCaption 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Supply copyright information for images */
@mixin typographyDesktopImageCredit 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Formfield-text (input, textarea, numeric stepper) */
@mixin typographyDesktopInputText 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Tekst til selve utfyllingsområdet i store (Large) form elementer: input, textarea, numeric stepper */
@mixin typographyDesktopInputTextLarge_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Vis status/tidskoder - lav linjehøyde for kompakt visning */
@mixin typographyDesktopStatusTimeStampTime_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Alternativ overskrift for H1 - ekstra stor */
@mixin typographyMobileH1Feature 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 121%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Hovedtittel H1 */
@mixin typographyMobileH1Title1_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Sekundærtittel H2 */
@mixin typographyMobileH2Title2_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Tertiærtittel H3 */
@mixin typographyMobileH3Title3_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH4Title4_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobilePreamble 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 145%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileLegend 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileLabel 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileBody 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Tekst i tabellceller. Mer kompakt enn brødtekst (body) */
@mixin typographyMobileTablecell 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileFormInput 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileImageCaption 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileImageCredit 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Vis status/tidskoder - lav linjehøyde for kompakt visning */
@mixin typographyMobileStatusTimeStampTime_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH5Title5_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Tekst til selve utfyllingsområdet i store (Large) form elementer: input, textarea, numeric stepper */
@mixin typographyMobileInputTextLarge 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH6Title6_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopLabelSubdued_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopSubLabel 
{ 
  
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopSubLabelSubdued_ 
{ 
  
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH6Title6_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileLabelSubdued_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileSubLabel 
{ 
  
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileSubLabelSubdued_ 
{ 
  
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 144%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileBodyStrong_ 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileCompactData 
{ 
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileInputText 
{ 
  
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

