@use '../../scss/palette' as palette;
@use '../../scss/spacers' as spacers;

.expanderhierarchy {
  list-style: none;
  padding: 0;
  margin: 0;

  &--2 {
    margin-top: spacers.getSpacer(xl);
  }

  &--3-and-lower {
    margin-top: spacers.getSpacer(m);
  }
}
