@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
@import '../../../scss/supernova/styles/colors.css';
@import '../../../scss/supernova/styles/spacers.css';

$padding-clickable-area-top-bottom: 8px;
$padding-clickable-area-left: 8px;

button.radio-label.radio-label--disabled {
  cursor: default;
}

.radio-wrapper {
  cursor: pointer;
  margin-left: -$padding-clickable-area-left;
}

.radio-label {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  padding: $padding-clickable-area-top-bottom 0 $padding-clickable-area-top-bottom $padding-clickable-area-left;
  line-height: 1.75rem;

  &--disabled {
    cursor: default;
  }
}

.radio {
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.667rem 0 0;
  background-color: transparent;
  min-width: 0.67rem;
  min-height: 0.67rem;
  border-radius: 10rem;
  outline: none;

  &:checked {
    background-color: var(--core-color-black);
  }

  &--checked {
    background-color: var(--core-color-black);
  }

  &--disabled {
    cursor: default;
  }
}