@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
@import '../../../scss/supernova/styles/colors.css';
@import '../../../scss/supernova/styles/spacers.css';

$padding-clickable-area-top-bottom: 8px;
$padding-clickable-area-left: 8px;

.radio-button-wrapper {
  cursor: pointer;
  margin-left: -$padding-clickable-area-left;
}

.radio-button-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: $padding-clickable-area-top-bottom 0 $padding-clickable-area-top-bottom $padding-clickable-area-left;

  &--disabled {
    cursor: default;
  }
}

.radio-button {
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.667rem 0 0;
  background-color: transparent;
  min-width: 0.667rem;
  min-height: 0.667rem;
  border-radius: 10rem;
  outline: none;

  &:checked {
    background-color: var(--core-color-black);
  }

  &--disabled {
    cursor: default;
  }
}

.radiobutton-sublabel-wrapper {
  margin-top: -$padding-clickable-area-top-bottom;
  padding-left: calc(1.6rem + $padding-clickable-area-left);
}
