@use 'sass:map';
@use '../../scss/spacers' as spacers;
@use '../../scss/palette' as palette;
@use '../../scss/font-settings' as font-settings;
@use '../../scss/breakpoints' as breakpoints;

.validation {
  &__error-wrapper {
    margin-bottom: getSpacer(2xs);

    @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
      margin-bottom: spacers.getSpacer(m);
    }
  }

  &__summary {
    color: $cherry600;

    &--visible {
      margin: getSpacer(l) 0 getSpacer(s);
    }
  }

  &__errors {
    font-size: $font-size-sm;
    font-weight: 600;

    &--visible {
      margin: getSpacer(l) 0 getSpacer(s);
    }
  }
}
