@import '../../scss/_spacers.scss';
@import '../../scss/_palette.scss';
@import '../../scss/font-settings.scss';

.validation {
  &__errors {
    font-size: $font-size-sm;
    font-weight: 600;
    color: $cherry500;
    margin: getSpacer(l) 0 getSpacer(s);
  }
}

.form-group-wrapper {
  &--error-sibling {
    padding-bottom: 0 !important;
  }
}
