@import '../../scss/_spacers.scss';
@import '../../scss/_breakpoints.scss';
@import '../../scss/_font-settings.scss';
@import '../../scss/_palette.scss';

.link-list {
  list-style: none;
  padding: 0;
  width: inherit;
  margin: 0;

  & > :nth-child(n) {
    border-bottom: 1px solid $neutral500;
  }
  &--hastopborder {
    & > :first-child {
      border-top: 1px solid $neutral500;
    }
  }
  &--nobottomborder {
    & > :last-child {
      border-bottom: 0;
    }
  }

  &__anchor {
    display: flex;
    min-height: 4.5rem;
    text-decoration: none;
    align-items: center;
    color: $black;
    cursor: pointer;

    &--hasicon {
      min-height: unset;
    }
    &--small {
      padding: getSpacer(xs) 0 getSpacer(xs) 0;
      font-size: $font-size-xs;
      line-height: $lineheight-size-xs;
    }
    &--medium {
      padding: getSpacer(xs) 0 getSpacer(xs) 0;
      font-size: $font-size-sm;
      line-height: $lineheight-size-sm;
    }
    &--large {
      padding: getSpacer(xs) 0 getSpacer(xs) 0;
      font-size: $font-size-md;
      line-height: $lineheight-size-md;
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
      &--small {
        padding-left: getSpacer(xs);
        padding-right: getSpacer(xs);
        font-size: $font-size-sm;
        line-height: $lineheight-size-sm;
      }
      &--medium {
        padding-left: getSpacer(xs);
        padding-right: getSpacer(xs);
        font-size: $font-size-md;
        line-height: $lineheight-size-md;
      }
      &--large {
        padding-left: getSpacer(xs);
        padding-right: getSpacer(xs);
        font-size: $font-size-lg;
        line-height: $lineheight-size-lg;
      }
    }

    &--banana {
      &:hover,
      &:focus {
        background-color: $banana100;
      }
    }
    &--blueberry {
      &:hover,
      &:focus {
        background-color: $blueberry100;
      }
    }
    &--cherry {
      &:hover,
      &:focus {
        background-color: $cherry100;
      }
    }
    &--kiwi {
      &:hover,
      &:focus {
        background-color: $kiwi100;
      }
    }
    &--neutral,
    &--black {
      &:hover,
      &:focus {
        background-color: $neutral100;
      }
    }
    &--plum {
      &:hover,
      &:focus {
        background-color: $plum100;
      }
    }
    &--black {
      &:hover,
      &:focus {
        background-color: $black;
        color: $white;
      }
    }
    &--white {
      &:hover,
      &:focus {
        background-color: $neutral50;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    :focus > & {
      border-color: $black;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: getSpacer(xs);
  }

  &__chevron {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: getSpacer(xs);
  }
}
