@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/font-settings';
@import '../../scss/palette';

.link-list {
  list-style: none;
  padding: 0;
  width: inherit;
  margin: 0;

  &__list-item {
    &--line {
      border-bottom: 1px solid $neutral500;

      &:first-of-type {
        border-top: 1px solid $neutral500;
      }
    }

    &--outline {
      border-top: getSpacer(2xs) $neutral100 solid;
      border-left: getSpacer(2xs) $neutral100 solid;
      border-right: getSpacer(2xs) $neutral100 solid;

      &:last-of-type {
        border-bottom: getSpacer(2xs) $neutral50 solid;
      }
    }
  }

  &__anchor {
    display: flex;
    min-height: 4rem;
    text-decoration: none;
    color: $black;
    cursor: pointer;

    &--button {
      width: 100%;
      background: none;
      border: none;
      text-align: left;
      box-sizing: border-box;
      padding: 0;
    }

    &:hover {
      color: $blueberry700;
    }

    &--fill {
      margin: getSpacer(s) 0;
      background-color: $neutral50;
    }

    &--small {
      font-size: $font-size-xs;
      line-height: $lineheight-size-xs;
    }

    &--medium {
      font-size: $font-size-sm;
      line-height: $lineheight-size-sm;
    }

    &--large {
      font-size: $font-size-md;
      line-height: $lineheight-size-md;
    }

    @media (min-width: map.get($grid-breakpoints, md)) {
      &--small {
        font-size: $font-size-sm;
        line-height: $lineheight-size-sm;
      }

      &--medium {
        font-size: $font-size-md;
        line-height: $lineheight-size-md;
      }

      &--large {
        font-size: $font-size-lg;
        line-height: $lineheight-size-lg;
      }
    }

    &--banana {
      &:hover {
        background-color: $banana100;
      }
    }

    &--blueberry {
      &:hover {
        background-color: $blueberry100;
      }
    }

    &--cherry {
      &:hover {
        background-color: $cherry100;
      }
    }

    &--kiwi {
      &:hover {
        background-color: $kiwi100;
      }
    }

    &--neutral {
      &:hover {
        background-color: $neutral100;
      }
    }

    &--plum {
      &:hover {
        background-color: $plum100;
      }
    }

    &--black {
      &:hover {
        background-color: $black;
        color: $white;
      }
    }

    &--white {
      &:hover {
        background-color: $neutral50;
      }
    }

    &:focus,
    &:focus-visible {
      outline: getSpacer(4xs) solid $black;
      outline-offset: -1px;
    }
  }
}
