@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/palette';
@import '../../scss/breakpoints';
@import '../../scss/font-settings';
@import '../../scss/grid';

.service-message {
  $servicemessage: &;

  border-width: 1px;
  border-bottom-style: solid;

  &:first-of-type {
    border-top-style: solid;
  }

  &--success {
    background-color: $kiwi50;

    &:hover {
      background-color: rgba-to-rgb(rgba($kiwi500, 0.1), $kiwi50);
    }

    &#{$servicemessage},
    &#{$servicemessage}__label-container {
      border-color: $kiwi900;
    }
  }

  &--info {
    background-color: $blueberry50;

    &:hover {
      background-color: rgba-to-rgb(rgba($blueberry500, 0.1), $blueberry50);
    }

    &#{$servicemessage},
    &#{$servicemessage}__label-container {
      border-color: $blueberry700;
    }
  }

  &--warn {
    background-color: $banana50;

    &:hover {
      background-color: rgba-to-rgb(rgba($banana500, 0.1), $banana50);
    }

    &#{$servicemessage},
    &#{$servicemessage}__label-container {
      border-color: $banana700;
    }
  }

  &--alert {
    background-color: $cherry50;

    &:hover {
      background-color: rgba-to-rgb(rgba($cherry500, 0.1), $cherry50);
    }

    &#{$servicemessage},
    &#{$servicemessage}__label-container {
      border-color: $cherry700;
    }
  }

  &--error {
    background-color: $cherry50;

    &:hover {
      background-color: rgba-to-rgb(rgba($cherry500, 0.1), $cherry50);
    }

    &#{$servicemessage},
    &#{$servicemessage}__label-container {
      border-color: $cherry700;
    }
  }

  &__container {
    @include make-container;
    @include make-container-max-widths;
  }

  &__row {
    @include make-row;
  }

  &__col {
    @include make-col-ready;
    @include make-col(12);
  }

  &__label-container {
    position: relative;
    padding-top: getSpacer(3xs);
    padding-bottom: getSpacer(3xs);

    @media (min-width: map.get($grid-breakpoints, lg)) {
      padding-top: getSpacer(2xs);
      padding-bottom: getSpacer(2xs);
    }

    &--has-expander:has(:focus-visible) {
      box-shadow: inset 0 0 0 2px $black;
    }
  }

  &__label {
    display: flex;
    width: 100%;
    align-items: center;
    gap: getSpacer(2xs);

    @media (min-width: map.get($grid-breakpoints, md)) {
      gap: getSpacer(m);
    }
  }

  &__title {
    width: 100%;
    font-weight: 700;
    font-size: $font-size-xs;
    line-height: 1.25rem;

    @media (min-width: map.get($grid-breakpoints, md)) {
      font-size: $font-size-sm;
    }
  }

  &__toggle {
    all: unset;

    // Triks for at hele labelen skal trigge klikk på knappen
    &::after {
      inset: 0;
      content: '';
      position: absolute;
    }
  }

  &__content {
    margin-left: calc(38px + getSpacer(2xs));
    margin-right: calc(38px + getSpacer(2xs));
    padding-top: getSpacer(xs);
    padding-bottom: getSpacer(xs);

    @media (min-width: map.get($grid-breakpoints, md)) {
      margin-left: calc(38px + getSpacer(m));
      margin-right: calc(38px + getSpacer(m));
    }

    @media (min-width: map.get($grid-breakpoints, lg)) {
      margin-left: calc(48px + getSpacer(m));
      margin-right: calc(48px + getSpacer(m));
      padding-top: getSpacer(2xs);
      padding-bottom: getSpacer(s);
    }
  }

  &__info {
    font-size: $font-size-xs;
    line-height: 1.25rem;
    margin: 0;

    @media (min-width: map.get($grid-breakpoints, lg)) {
      margin-top: getSpacer(xs);
      line-height: 1.625rem;
      font-size: $font-size-sm;
    }

    &--extra {
      font-size: 0.875rem;
      margin-top: getSpacer(2xs);

      @media (min-width: map.get($grid-breakpoints, lg)) {
        margin-top: getSpacer(xs);
        font-size: $font-size-xs;
        line-height: $lineheight-size-xs;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    gap: getSpacer(2xs);
    margin-top: getSpacer(2xs);

    @media (min-width: map.get($grid-breakpoints, sm)) {
      flex-direction: row;
    }

    @media (min-width: map.get($grid-breakpoints, lg)) {
      margin-top: getSpacer(s);
    }
  }

  &__action {
    display: flex;
    align-items: center;
    border: none;
    width: fit-content;
    color: $blueberry700;
    font-weight: 600;
    font-size: $font-size-xs;
    line-height: 1.25rem;
    background-color: transparent;
    text-decoration: none;
    padding: 0.5rem;
    margin-left: -0.5rem;
    gap: getSpacer(xs);

    &:hover,
    &:active {
      background-color: rgb(88 170 187 / 10%);
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px $black;
      background-color: transparent;
      border: 0;
      outline: none;
    }

    &--close {
      @media (min-width: map.get($grid-breakpoints, lg)) {
        margin-left: auto;
      }
    }
  }

  &__close {
    z-index: 1;
  }
}
