@import '../../../scss/palette';
@import '../../../scss/spacers';

.word {
  all: unset;
  position: relative;
  display: inline-block;
  text-decoration: underline 0.15rem dashed $plum400;
  cursor: help;

  &:focus-visible {
    box-shadow: 0 0 0 getSpacer(4xs) $black;
    outline: none;
  }
}
