@import '../../../scss/palette';
@import '../../../scss/spacers';

.word {
  all: unset;
  position: relative;
  display: inline-block;
  cursor: help;

  // bruker border istedet for text-decoration for å komme rundt text-decoraton-thickness begrensninger i safari
  border-bottom: 0.2rem dotted $plum400;
  line-height: 1.4rem;

  &:focus-visible {
    box-shadow: 0 0 0 getSpacer(4xs) $black;
    outline: none;
  }
}
