@use 'sass:map';
@use '../../scss/spacers' as spacers;
@use '../../scss/palette' as palette;
@use '../../scss/breakpoints' as breakpoints;

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  @media (max-width: map.get(breakpoints.$grid-breakpoints, sm)) {
    height: 2.375rem;
    width: 2.375rem;
  }

  &:hover,
  &:active {
    background-color: rgb(88 170 187 / 10%);
  }

  &:focus {
    box-shadow: 0 0 0 2px palette.$black;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    outline: none;
  }

  &:hover {
    background-color: rgb(88 170 187 / 10%);
  }

  &--small {
    height: auto;
    width: auto;
  }
}
