@import '../../../utils/variables';

/* mol_expandable-component is temporary: this is a way of marking the component from toolkit so the css only applies to it and not other in other verticals Æ/ */
.mol_expandable-section.mol_expandable-component {
  .toggletrigger {
    &:hover {
      box-shadow: $outline-box-shadow;
    }
    &:focus {
      box-shadow: $outline-box-shadow;
      background-color: $focus-background-color;
    }
  }

  &.expandable-block-with-frame.open {
    border-color: transparent;
    .toggletrigger {
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
      &:focus {
        box-shadow: none;
      }
    }

    &:hover {
      .toggletrigger {
        box-shadow: $outline-box-shadow;
      }
    }

    &:focus,
    &:focus-within {
      box-shadow: $outline-box-shadow;
      .toggletrigger {
        box-shadow: none;
        &:hover,
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
