@use 'sass:map';
@use '../../scss/breakpoints' as breakpoints;
@import '../../scss/supernova/styles/spacers.css';

.visual-radio-button-cloud {
  display: flex;
  flex-flow: row wrap;
  gap: var(--core-space-4xs) var(--core-space-xs);

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    gap: var(--core-space-m) var(--core-space-s);
  }
}
