@use 'sass:map';
@use '../../../scss/font-settings' as fontSettings;
@use '../../../scss/breakpoints' as breakpoints;
@import '../../../scss/supernova/styles/colors.css';
@import '../../../scss/supernova/styles/spacers.css';

.loader-spinner {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--core-space-2xs);

  &__svg {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    stroke: var(--color-action-graphics-onlight);
    top: 6px;

    @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
      top: 5px;
    }
  }

  &__text {
    color: var(--color-base-text-onlight);
  }
}
