.toggle {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.checkboxes-under-toggle {
  padding-left: 1.5rem;
}

.modal-buttons {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 1rem;
}
