@import '../../scss/_spacers.scss';
@import '../../scss/_breakpoints.scss';
@import '../../scss/_palette.scss';
@import '../../scss/_font-settings.scss';

.panel-wrapper {
  width: 100%;
}

@mixin panel-padding {
  padding: getSpacer(s) getSpacer(s) getSpacer(s) getSpacer(s);

  @media (min-width: map-get($grid-breakpoints, md)) {
    padding: getSpacer(l) getSpacer(m) getSpacer(l) getSpacer(l);
  }
}

@mixin panel-padding-icon {
  padding: getSpacer(m) getSpacer(s) getSpacer(l) getSpacer(s);
  @media (min-width: map-get($grid-breakpoints, md)) {
    padding: getSpacer(m) getSpacer(m) getSpacer(l) getSpacer(m);
  }
}

@mixin hover-and-focus-effects($background-color, $box-shadow-color) {
  &:hover {
    background-color: $background-color;
  }

  &:focus {
    box-shadow: inset 0px 0px 0px 3px $box-shadow-color;
  }
}

.panel {
  @include panel-padding;
  outline: none;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  &__container {
    @media (min-width: map-get($grid-breakpoints, md)) {
      display: flex;
      flex-direction: row;
      flex: 1;
    }

    &--layout3 {
      @media (min-width: map-get($grid-breakpoints, lg)) {
        display: flex;
        flex-direction: row;
      }
    }

    &--grow {
      flex: 1;
    }
  }

  &--with-icon {
    display: flex;
    flex-direction: row;
    @include panel-padding-icon;
  }

  &__icon {
    padding-right: getSpacer(s);

    @media (min-width: map-get($grid-breakpoints, md)) {
      padding-right: getSpacer(l);
    }

    &--right {
      padding-left: getSpacer(s);
    }
  }

  &__badge {
    display: inline-block;
    vertical-align: text-bottom;
  }

  &__content-left {
    &--flex {
      display: flex;
    }
  }

  &__content-right {
    &--layout1 {
      display: flex;
      flex-direction: column;
      @media (min-width: map-get($grid-breakpoints, md)) {
        flex-direction: row;
      }
    }

    &--layout2 {
      display: flex;
      flex-direction: column;
      @media (min-width: map-get($grid-breakpoints, md)) {
        max-width: 200px;
      }
    }

    &--layout3 {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      @media (min-width: map-get($grid-breakpoints, lg)) {
        flex-direction: row;
        padding-left: getSpacer(m);
      }
    }

    &--layout3a {
      flex: 0.4;
    }
    &--layout3b {
      flex: 0.55;
    }
    &--layout3c {
      flex: 0.65;
    }
  }

  &__btn-container {
    display: flex;
    flex-direction: column;
    @media (min-width: map-get($grid-breakpoints, lg)) {
      align-self: flex-end;
    }

    &--layout3 {
      display: flex;
      align-self: initial;
      flex-direction: column;
      @media (min-width: map-get($grid-breakpoints, lg)) {
        align-self: flex-end;
      }
    }
    &--padding-top {
      padding-top: getSpacer(s);
    }
  }

  &__details-btn {
    align-self: flex-start;
    @media (min-width: map-get($grid-breakpoints, lg)) {
      align-self: flex-end;
    }
  }

  &__expand {
    position: unset;
    &:after {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  // Panel variants

  &--fill {
    background-color: $neutral50;
  }

  &--fill#{&}--selected {
    background-color: $neutral100;
  }

  &--fill#{&}--selected#{&}--clickable {
    &:hover {
      background-color: $neutral200;
    }
  }

  &--white {
    background-color: $white;
  }

  &--fill#{&}--clickable,
  &--white#{&}--clickable {
    @include hover-and-focus-effects($neutral100, $neutral600);
  }

  &--white#{&}--selected {
    box-shadow: inset 0px 0px 0px 6px $neutral100;
  }

  &--stroke {
    border: 6px solid $neutral100;
  }

  &--stroke#{&}--clickable {
    @include hover-and-focus-effects($neutral50, $neutral100);
    &:focus {
      border-color: $neutral600;
    }
  }

  &--line {
    background-color: $white;
    border-color: $neutral500;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  &--line#{&}--clickable {
    @include hover-and-focus-effects($neutral50, $neutral600);
  }

  &--line#{&}--selected {
    background-color: $neutral50;
    border-bottom: 0;
  }

  &--line#{&}--selected#{&}--clickable {
    &:hover {
      background-color: $neutral100;
    }
  }

  &--no-top-border#{&}--line {
    border-top: none;
  }

  &--button {
    cursor: pointer;
  }

  //Panel status
  &--status {
    &::before {
      content: '';
      position: absolute;
      border-left: 0.375rem;
      top: 0;
      left: 0;
      height: 100%;
      border-left-style: solid;
    }
  }
  &--new {
    &::before {
      border-left-color: $blueberry600;
    }
  }

  &--draft {
    &::before {
      border-left-style: dashed;
      border-left-color: $neutral500;
    }
  }

  &--error {
    &::before {
      border-left-color: $cherry500;
    }
  }
}

.panel-details {
  background-color: $neutral50;
  display: none;
  @include panel-padding;

  @media print {
    display: flex;
    flex-direction: column;
  }
  &--open {
    display: flex;
    flex-direction: column;
  }
  &--line {
    background: $white;
    border-bottom: 1px solid $neutral500;
  }
  &--white {
    background: $white;
  }
  &--with-icon {
    @include panel-padding-icon;
  }
}

.status-message {
  font-size: $font-size-sm;
  color: $cherry500;
  display: flex;
  margin-bottom: getSpacer(2xs);
  span {
    padding-left: 5px;
    align-self: center;
    font-size: $font-size-sm;
  }

  &--new {
    color: $blueberry800;
  }
}
.panel-content-a {
  flex: 1;
  padding-right: 0;

  @media (min-width: map-get($grid-breakpoints, md)) {
    padding-right: getSpacer(m);
  }

  &__title-container {
    display: inline-block;
    padding-bottom: getSpacer(s);
  }

  &__title {
    vertical-align: top;
    display: inline;

    &--badge {
      padding-right: getSpacer(2xs);
    }
  }

  &--layout3a {
    flex: 0.6;
  }
  &--layout3b {
    flex: 0.45;
  }
  &--layout3c {
    flex: 0.35;
  }
}

.panel-content-b {
  flex: 1;
  padding-top: getSpacer(s);

  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-top: 0;
  }

  &--layout1 {
    padding-top: getSpacer(s);
    padding-left: 0;
    @media (min-width: map-get($grid-breakpoints, md)) {
      padding-right: getSpacer(m);
    }
  }
  &--layout3 {
    @media (min-width: map-get($grid-breakpoints, lg)) {
      padding-right: getSpacer(m);
    }
  }
}

.datetime-container {
  display: flex;
  flex-direction: column;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-top: getSpacer(xs);
    flex-direction: row;
  }

  &__icon {
    display: flex;
    align-items: center;
    padding-bottom: getSpacer(2xs);

    @media (min-width: map-get($grid-breakpoints, lg)) {
      padding-top: 0;
      padding-right: getSpacer(m);
      padding-bottom: 0;
    }

    span {
      padding-left: getSpacer(2xs);
      font-size: $font-size-sm;
    }
  }
}
