@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/palette';
@import '../../scss/breakpoints';
@import '../../scss/font-settings';

.modal-overlay {
  background: rgb(51 51 51 / 75%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;

  @media print {
    position: absolute;
  }
}

.align {
  position: absolute;

  @media print {
    position: initial;
    left: 0;
    top: 0;
    transform: none;
  }
}

.modal {
  pointer-events: auto;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
  background-color: $white;
  animation: open 200ms 1;

  &__title {
    &--error {
      color: $cherry600;
    }

    &--success {
      color: $kiwi900;
    }
  }

  &__iconWrapper {
    padding-right: getSpacer(xs);
  }

  &__afterTitleChildren {
    padding-left: getSpacer(xs);
  }

  p {
    font-size: 1.125rem;
  }

  &--normal {
    background-color: $white;
  }

  &--error {
    background-color: $cherry100;
  }

  &--warning {
    background-color: $banana50;
  }

  &--success {
    background-color: $kiwi50;
  }

  &--large {
    width: calc(100vw - 0.75rem);
    padding-bottom: getSpacer(l);

    @media (max-width: map.get($grid-breakpoints, sm)) {
      p {
        font-size: 1.125rem;
      }
    }

    @media (min-width: map.get($grid-breakpoints, md)) {
      padding-bottom: getSpacer(xl);
      width: 612px;
    }

    @media (min-width: map.get($grid-breakpoints, lg)) {
      width: 696px;
    }
  }

  &--medium {
    width: calc(100vw - 0.75rem);
    padding-bottom: getSpacer(m);

    @media (min-width: map.get($grid-breakpoints, md)) {
      width: 335px;
    }

    @media (min-width: map.get($grid-breakpoints, lg)) {
      width: 515px;
    }
  }

  &--no-actions {
    padding-bottom: 0;
  }

  &--image {
    padding: 0;

    @media (min-width: map.get($grid-breakpoints, md)) {
      max-height: calc(100vh - 24px);
      max-width: calc(100vw - 24px);
      width: 100%;
    }
  }

  &__shadow {
    width: 100%;
    height: 16px;
    position: absolute;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 2;
  }

  &__shadow--top {
    // box-shadow: 0 3px 8px 4px grey;
    background: linear-gradient(0deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 45.7%) 100%);
  }

  &__shadow--bottom {
    // box-shadow: 0 -3px 8px 4px grey;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 45.7%) 100%);
    margin-top: -16px;
  }

  &__shadow--show {
    opacity: 1;
  }

  &__closeWrapper {
    @media print {
      display: none;
    }

    position: relative;
    width: 100%;

    &__close {
      position: absolute;
      right: getSpacer(3xs);
      top: getSpacer(3xs);
    }
  }

  &__contentWrapper {
    max-width: 100%;
    max-height: calc(100vh - 10rem);
    overflow: auto;
    overflow-x: hidden;

    @media print {
      overflow: hidden;
      max-height: none;
    }

    &--image {
      max-height: 100vh;
    }

    &__scroll {
      &--large {
        padding: getSpacer(xl) getSpacer(m) getSpacer(2xs);

        @media (min-width: map.get($grid-breakpoints, md)) {
          padding: getSpacer(xl) getSpacer(xl) getSpacer(2xs);
        }
      }

      &--medium {
        padding: getSpacer(l) getSpacer(m) getSpacer(2xs);

        @media (min-width: map.get($grid-breakpoints, md)) {
          padding: getSpacer(xl) getSpacer(m) getSpacer(2xs);
        }
      }
      &--large#{&}--image {
        padding: getSpacer(xl) getSpacer(2xs) getSpacer(l);
      }
    }

    &__title {
      display: flex;
      align-items: center;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__imageWrapper {
      line-height: 0;
      text-align: center;

      img {
        max-height: calc(100vh - 185px);
        max-width: calc(100vw - 57px);
      }
    }

    &__imageDescription {
      font-size: $font-size-xs;
      padding-top: getSpacer(s);
      display: block;
    }
  }

  &__description {
    white-space: pre-line;
  }

  &__call-to-action {
    display: flex;

    button:first-of-type {
      margin-right: 24px;
    }

    &--large {
      padding: getSpacer(l) getSpacer(m) 0;

      @media (min-width: map.get($grid-breakpoints, md)) {
        padding: getSpacer(l) getSpacer(xl) 0;
      }
    }

    &--medium {
      padding: getSpacer(m) getSpacer(m) 0;
    }
  }

  /* animation on open */
  @keyframes open {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @media print {
    width: 100%;
  }
}
