@import '../../scss/_palette.scss';
@import '../../scss/spacers.scss';
@import '../../scss/_breakpoints.scss';

.modal-overlay {
  z-index: 1300000;
  background: rgba(51, 51, 51, 0.75);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &--lowerzindex {
    z-index: 1100000;
  }

  @media print {
    display: none;
  }
}

.align {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  pointer-events: auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: $white;
  animation: open 200ms 1;

  p {
    font-size: 20px;
  }

  &--normal {
    background-color: $white;
  }
  &--error {
    background-color: $cherry100;

    &__title {
      color: $cherry600;
    }
  }
  &--warning {
    background-color: $banana50;
  }
  &--error,
  &--warning {
    &__title {
      div:nth-child(2) {
        padding-left: 8px;
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    width: calc(100vw - 24px);
    p {
      font-size: 18px;
    }
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    width: 507px;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    width: 515px;
  }

  &--large {
    @media (min-width: map-get($grid-breakpoints, md)) {
      width: 612px;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      width: 696px;
    }
  }

  &--image {
    max-height: calc(100vh - 24px);
    max-width: calc(100vw - 24px);
    width: 100%;

    &__img {
      max-height: calc(100vh - 185px);
      max-width: calc(100vw - 40px);
      width: 100%;
      line-height: 0px;
      overflow: hidden;
    }

    &__text {
      font-size: 12pt;
      padding-top: 16px;
      display: block;
    }
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    @media (max-width: map-get($grid-breakpoints, md)) {
      right: 0px;
      top: 0px;
    }

    &--image {
      position: absolute;
      right: 0px;
      margin: 8px;
    }
  }

  &__contentWrapper {
    padding: 48px;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      padding: 32px 24px;
    }

    &--image {
      padding: 48px 16px 32px;
    }

    &__content {
      margin: 20px 0;

      &--image {
        margin-top: 10px;
      }
    }

    &__title {
      display: flex;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__description {
    white-space: pre-line;
  }

  &__lukkekryss {
    height: 42px;
    width: 42px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: rgba(88, 171, 187, 0.1);
    }
    &:focus {
      box-shadow: 0px 0px 0px 2px $black;
      background-color: rgba(88, 171, 187, 0.1);
      border-radius: 0;
      border: 0;
      outline: none;
    }
  }

  &__actions {
    display: flex;
    padding: 5px 0;
    button:first-child {
      margin-right: 24px;
    }
  }

  /* animation on open */
  @keyframes open {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
