@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';

.error-wrapper {
  position: relative;

  &--with-error {
    padding-top: getSpacer(s);
    margin-left: getSpacer(xs) * -1;
    margin-right: getSpacer(xs) * -1;
    padding-left: getSpacer(2xs);
    padding-right: getSpacer(xs);
    background-color: $cherry100;
    border-left: getSpacer(3xs) solid $cherry600;

    @media (min-width: map.get($grid-breakpoints, md)) {
      margin-left: (getSpacer(m) + 0.25rem) * -1;
      margin-right: (getSpacer(m) + 0.25rem) * -1;
      padding-left: getSpacer(m);
      padding-right: getSpacer(m);
    }
  }

  &__errors {
    line-height: 1.875rem;
    font-size: $font-size-sm;
    font-weight: 600;
    color: $cherry600;
    margin-top: 0;
  }
}
