@use 'sass:map';
@use '../../scss/spacers' as spacers;
@use '../../scss/palette' as palette;
@use '../../scss/font-settings' as font-settings;
@use '../../scss/breakpoints' as *;

.helpquestion {
  display: inline-flex;
  align-items: center;
  text-align: left;
  gap: spacers.getSpacer(2xs);
  padding: spacers.getSpacer(xs) spacers.getSpacer(xs) spacers.getSpacer(xs) spacers.getSpacer(3xs);
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: palette.$plum600;
  font-weight: 600;
  font-size: font-settings.$font-size-sm;
  line-height: font-settings.$lineheight-size-xs;

  @media (min-width: map.get($grid-breakpoints, md)) {
    gap: spacers.getSpacer(2xs);
    font-size: font-settings.$font-size-md;
    line-height: font-settings.$lineheight-size-sm;
  }

  &:hover {
    color: palette.$plum800;
    background-color: rgba(palette.$plum600, 0.1);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 3px palette.$black;
  }

  &--selected {
    color: palette.$plum800;
    background-color: rgba(palette.$plum600, 0.1);

    &:hover {
      background-color: rgba(palette.$plum600, 0.2);
    }

    &:focus-visible {
      background-color: rgba(palette.$plum600, 0.1);
    }
  }
}
