@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';

.date-time {
  display: flex;
  flex-flow: column wrap;

  @media (min-width: map.get($grid-breakpoints, sm)) {
    flex-direction: row;
    align-items: flex-end;
  }

  &__date-picker {
    padding-right: getSpacer('l');
  }

  &__time-wrapper {
    display: flex;
    align-items: flex-end;
    padding-top: getSpacer('m');

    @media (min-width: map.get($grid-breakpoints, sm)) {
      padding-top: 0;
    }
  }

  &__time-separator {
    margin-bottom: getSpacer('xs');
    margin-right: getSpacer('xs');
    margin-left: getSpacer('2xs');
  }
}
