@use 'sass:map';
@use '../../scss/spacers' as spacers;
@use '../../scss/breakpoints' as *;

.date-time {
  display: flex;
  flex-flow: column wrap;

  @media (min-width: map.get($grid-breakpoints, sm)) {
    flex-direction: row;
    align-items: flex-end;
  }

  &__date-picker {
    padding-right: spacers.getSpacer(l);
  }

  &__time-wrapper {
    display: flex;
    align-items: flex-end;
    padding-top: spacers.getSpacer(m);

    @media (min-width: map.get($grid-breakpoints, sm)) {
      padding-top: 0;
    }
  }

  &__time-separator {
    margin-bottom: spacers.getSpacer(xs);
    margin-right: spacers.getSpacer(xs);
    margin-left: spacers.getSpacer(2xs);
  }
}
