@use '../../scss/spacers' as spacers;
@use '../../scss/palette' as palette;
@use '../../scss/font-mixins' as fonts;
@use '../../scss/input' as input;
@use '../../scss/breakpoints' as breakpoints;

.textarea {
  @include input-wrapper;

  &--gutterBottom {
    margin-bottom: getSpacer(s);
  }
}

.input-container {
  @include input-container;

  &__input {
    @include input-text;

    height: auto;
    padding: 16px;
    resize: none;
  }
}
