@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';
@import '../../scss/input';

.textarea {
  @include input-wrapper;

  &--gutterBottom {
    margin-bottom: getSpacer(s);
  }
}

.input-container {
  @include input-container;

  &__input {
    line-height: 28px;
    height: auto;
    padding: 16px;
    resize: none;
  }
}
