@import '../../scss/_palette.scss';

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: $blueberry500;
  color: $white;
  &--selected {
    background-color: transparent;
  }
  &--black {
    background-color: $neutral900;
  }
  &--selected#{&}--black {
    background-color: transparent;
  }
}
