@use '../../scss/palette' as palette;
@use '../../scss/font-settings' as font-settings;

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: palette.$blueberry500;
  color: palette.$white;

  &--circle {
    border-radius: 50%;
  }

  &--selected {
    background-color: transparent;
  }

  &--black {
    background-color: palette.$neutral900;
  }

  &--selected#{&}--black {
    background-color: transparent;
  }

  &--xsmall {
    width: 2.375rem;
    height: 2.375rem;
    font-size: font-settings.$font-size-md;
    line-height: font-settings.$lineheight-size-md;
  }

  &--small {
    width: 3rem;
    height: 3rem;
    font-size: font-settings.$font-size-lg;
    line-height: font-settings.$lineheight-size-lg;
  }
}
