@import './palette';

//$primary-color:         $mandarin-orange-500;
//$primary-color-hover:   $mandarin-orange-700;
$primary-color: #a61e7b;
$primary-color-hover: #7c145c;
$secondary-color: #006d84;
$secondary-color-hover: #064e5f;
$functional-icon-color: #c7dfe5;
$outline: #adadad;
$disabled: #d3d3d3;
$disabled-text: #4e5355;
