@import './palette';

//$primary-color:         $mandarin-orange-500;
//$primary-color-hover:   $mandarin-orange-700;
$primary-color:         #a61e7b;
$primary-color-hover:   #7c145c;
$outline:               #adadad;