// TODO: Still need to maybe future-proof this with more shades rather than unique colors

$bone: white;
$black-putrefaction: black;

$pallor: #fff1e1;
$flesh: #ffdbbe;
$subcutaneous-fat: #ffb291;

$inflammation: #d22e06;
$blood: #bc2703;

$anti-bac: #c6f3f6;
$cyanide: #95dee5;
$varicose-veins: #59c2cc;

$gangrene: #01656f; // In use
$rot: #00474f;

$corpse: #f6f5f2;
$ashes: #d3dbd3;
$waiting-room: #9b978c; // In use
$scab: #383838;

$circulatory-failure: #f6f3ff;
$strangulation: #c1b1ea;
$acute-strangulation: #8a62db;

$nausea: #e5f2ec;
$mould: #badcce;
$surgical: #73c09e;

// Unindentified flying (fucking) color
$ufc1: #7462e0;
$ufc2: #5845c6;
$ufc3: #dedbd3;
$ufc4: #595959;
$ufc5: #5a40f4;
$ufc6: #f7f6fd; // In reality #7462E0 with 6% opacity
$ufc7: #00373c;
$ufc8: #e5f1f3; // In reality #017A87 with 10% opacity
$ufc9: #f2f8f9; // In reality #017A87 with 5% opacity
