// TODO: Still need to maybe future-proof this with more shades rather than unique colors

$bone: white;
$black-putrefaction: black;

$pallor: #fff1e1;
$flesh: #ffdbbe;
$subcutaneous-fat: #ffb291;

$inflammation: #d22e06;
$blood: #bc2703;

$anti-bac: #c6f3f6;
$cyanide: #95dee5;
$varicose-veins: #59c2cc;

$mri: #01656f;
$rot: #00474f;
$gangrene: #00373c;

$corpse: #f6f5f2;
$ashes: #d3dbd3;
$waiting-room: #9b978c;
$scab: #383838;

$circulatory-failure: #f6f3ff;
$strangulation: #c1b1ea;
$acute-strangulation: #8a62db;

$nausea: #e5f2ec;
$mould: #badcce;
$surgical: #73c09e;
