/* Mandarin Orange */
$mandarin-orange-50: #ffc17f;
$mandarin-orange-100: #ffb566;
$mandarin-orange-200: #ffa94d;
$mandarin-orange-300: #ff9d33;
$mandarin-orange-400: #ff9119;
$mandarin-orange-500: #ff8500;
$mandarin-orange-600: #e57600;
$mandarin-orange-700: #cc6900;
$mandarin-orange-800: #b25c00;
$mandarin-orange-900: #994f00;

/* Cucumber Green */
/* Blueberry Blue */
/* etc... */
