$bone: white;
$ash: #f6f5f2;
$scalpel: #dedbd3;
$waiting-room: #9b978c;
$scab: #383838;
$wheel-chair: black;

$band-aid-100: #fbf1db;
$band-aid-200: #f8e1b8;
$band-aid-300: #ecca8c;

$surgical-100: #d8f2ef;
$surgical-200: #bbebe8;
$surgical-300: #90d9d3;
$surgical-400: #01656f;
$surgical-500: #00373c;

$strangulation-100: #eee5ff;
$strangulation-200: #d9c9fa;
$strangulation-300: #c5adfa;
$strangulation-400: #7a33d7;
$strangulation-500: #651ac6;
$strangulation-600: #560fb3;

$blood-100: #fed1c3;
$blood-200: #dd3300;

$urine-100: #fff0be;
$urine-200: #e8be36;

$nausea-100: #d5efe4;
$nausea-200: #307a5b;
