@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';

.label-wrapper {
  margin-bottom: getSpacer(2xs);
  line-height: 1.5rem;

  @media (min-width: map.get($grid-breakpoints, sm)) {
    line-height: 1.75rem;
  }

  &--no-bottom-margin {
    margin-bottom: 0;
  }

  &--after-label-children {
    display: flex;
    align-items: flex-end;
  }
}

.label-content-wrapper {
  display: flex;
  min-width: 0;
}

.label {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;

  @media (min-width: map.get($grid-breakpoints, sm)) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &--semibold {
    font-weight: 600;
  }

  &--sublabel {
    display: block;
    font-size: 1rem;
    line-height: 1.25rem;
    color: $neutral800;

    @media (min-width: map.get($grid-breakpoints, sm)) {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }

  &--on-dark {
    color: $white;
  }

  &::after {
    content: ' ';
  }

  &__texts {
    min-width: 0;
  }
}

.after-label-children {
  padding-left: getSpacer(xs);
}
