@import '../../../scss/spacers';
@import '../../../scss/breakpoints';
@import '../../../scss/font-settings';
@import '../../../scss/palette';

.notification-panel__detail-section {
  display: flex;
  flex-direction: column-reverse;

  &__button--wrapper {
    padding: 0.375rem 0 0.625rem;
    font-size: $font-size-xs;
    line-height: $lineheight-size-xs;
  }

  &__content {
    padding: getSpacer('3xs') 0;
    font-size: $font-size-xs;
    line-height: $lineheight-size-xs;
  }
}

html .notification-panel__detail.notification-panel__detail-button {
  text-decoration: underline;
  text-decoration-color: $blueberry600;
  margin-left: -0.25rem;
  padding: 0 0 0 getSpacer('3xs');
  white-space: nowrap;
  overflow: initial;
  text-overflow: clip;
  font-size: $font-size-sm;
  line-height: 1.625rem;
  height: 1.625rem;

  @media (width >= 0) {
    min-height: unset;
  }
}
