@use 'sass:map';
@use '../../scss/spacers' as spacers;
@use '../../scss/palette' as palette;
@use '../../scss/font-settings' as font-settings;
@use '../../scss/font-mixins' as fonts;
@use '../../scss/breakpoints' as breakpoints;
@import '../../scss/supernova/styles/colors.css';

.toggle-container {
  display: flex;
  flex-direction: column;
  max-width: 43.5rem;

  &__row {
    display: flex;
    align-items: center;

    &--right {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__label {
    @include fonts.label;

    color: var(--core-color-neutral-900);
    margin-left: spacers.getSpacer(xs);

    @media (min-width: map.get(breakpoints.$grid-breakpoints, sm)) {
      margin-left: spacers.getSpacer(s);
    }

    &__text--subdued {
      @include fonts.label-subdued;
    }

    &--toggle-right {
      margin-left: 0;
      margin-right: spacers.getSpacer(xs);

      @media (min-width: map.get(breakpoints.$grid-breakpoints, sm)) {
        margin-right: spacers.getSpacer(s);
      }
    }
  }

  &__sublabel {
    --sublabel-mobile-margin: 3.9rem;
    --sublabel-desktop-margin: 4.1rem;

    font-size: font-settings.$font-size-xs;
    line-height: 1.25rem;
    color: var(--core-color-neutral-800);
    margin-left: var(--sublabel-mobile-margin);
    text-align: left;

    @media (min-width: map.get(breakpoints.$grid-breakpoints, sm)) {
      font-size: font-settings.$font-size-sm;
      line-height: font-settings.$lineheight-size-xs;
      text-align: left;
      margin-left: var(--sublabel-desktop-margin);
    }

    &--toggle-right {
      margin-left: 0;
      margin-right: var(--sublabel-mobile-margin);

      @media (min-width: map.get(breakpoints.$grid-breakpoints, sm)) {
        margin-right: var(--sublabel-desktop-margin);
      }
    }
  }

  &__toggle-group {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__toggle {
    position: relative;
    display: inline-block;
    width: 3.125rem;
    height: 2rem;
    background-color: var(--color-base-background-white);
    border-radius: 60px;
    border: 2px solid var(--color-base-border-onlight-emphasized);

    &--on-white {
      background-color: var(--core-color-neutral-50);
    }

    &--ignore-hover {
      pointer-events: none;
    }

    &__dot {
      content: '';
      position: absolute;
      width: 1.375rem;
      height: 1.375rem;
      left: 3px;
      bottom: 3px;
      background-color: var(--brandcolor-neutral-dark);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &--ignore-hover {
        pointer-events: none;
      }

      &__icon {
        opacity: 0;
        stroke: var(--color-action-graphics-onlight);
      }
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:focus-visible + .toggle-container__toggle {
      border-color: var(--color-action-border-onlight-focus);
      outline: 2px solid var(--color-action-border-onlight-focus);
    }
  }
}
