@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';
@import '../../scss/screen-reader';

.step {
  &__stepper {
    margin-bottom: getSpacer(m);
  }

  &__content {
    margin-bottom: getSpacer(m);
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    column-gap: getSpacer(l);
    row-gap: getSpacer(m);
  }

  &__buttons {
    display: flex;
    gap: getSpacer(s);

    @media (max-width: map.get($grid-max-breakpoints, xs)) {
      width: 100%;
    }

    &--additional {
      flex-wrap: wrap;
    }
  }

  &__button {
    &--back,
    &--forward {
      @media (max-width: map.get($grid-max-breakpoints, xs)) {
        width: 50%;
      }
    }
  }
}
