@use 'sass:map';
@use '../../../scss/breakpoints' as breakpoints;
@import '../../../../scss/supernova/styles/spacers.css';

.filter-button {
  height: 2.75rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 100px;

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    padding-left: 4px;
    padding-right: 4px;
  }

  &:focus-visible {
    outline: 4px solid var(--color-action-border-onlight-focus);
    outline-offset: -5px;

    @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
      outline-offset: -3px;
    }
  }

  &__inner {
    border-radius: 100px;
    height: 2rem;
    background-color: var(--color-action-graphics-onlight);
    border: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--core-space-3xs);
    padding: 0.1875rem var(--core-space-s) 0.1875rem 0.3125rem;

    @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
      height: 2.25rem;
    }

    &--hovered,
    &:hover {
      background-color: var(--color-action-graphics-onlight-hover);
    }

    .filter-button:active & {
      background-color: var(--color-action-background-onlight-active, #06596c);
    }

    .filter-button:focus-visible & {
      outline: 1px solid var(--color-action-border-ondark-focus);
    }

    svg {
      fill: white;
    }
  }

  &__text {
    color: white;
  }
}
