@use 'sass:map';
@use '../../scss/spacers' as spacers;
@use '../../scss/palette' as palette;
@use '../../scss/font-settings' as font-settings;
@use '../../scss/breakpoints' as breakpoints;

.max-characters {
  display: flex;
  justify-content: flex-end;
  padding-top: getSpacer(2xs);
  padding-right: 2px;
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    line-height: font-settings.$lineheight-size-md;
    font-size: font-settings.$font-size-md;
  }

  &--on-dark {
    color: $white;
  }

  &--invalid {
    color: $cherry600;
    font-weight: 600;
  }
}
