// atom_inline-btn

// icontypes: edit|add|delete|delete-negative|recycle|close|switch|check|info|select|function|send|message|resetfilters|upload|errordoc
// states: disabled* | wait
// formatting: labelleft|labelinvisible

/* <button type="button" class="atom_inline-btn {icontype}"><span>Button with this label and button-icon on left</span></button> */

/* <button type="button" class="atom_inline-btn {icontype} labelleft"><span>Button with label on the left (icon on the right)</span></button> */

/* <button type="button" class="atom_inline-btn {icontype} labelinvisible"><span>Button without a visible label (just icon) - but label visible for UU</span></button> */

/* <button type="button" class="atom_inline-btn {icontype} disabled" disabled><span>Disabled button (not all buttons have disabled state defined)</span></button> */

/* <button type="button" class="atom_inline-btn {icontype} wait"><span>Button with wait-state spinner</span></button> */

.atom_inline-btn {
  display: inline-block;
  position: relative;
  border: 0;
  background: none;
  cursor: pointer;
  overflow: visible;
  padding: 0;
  font-family: $basefont;
  font-weight: 400;
  text-transform: none;
  vertical-align: baseline;
  min-width: 1.725rem;
  min-height: 1.725rem;
  text-align: left;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $color-primary-5;
  }

  &:focus {
    outline: none;

    &:after {
      background-color: $focus-background-color;
    }

    span {
      text-decoration: underline;
    }
  }

  &:hover:after,
  &:focus:after {
    border: 2px solid $color-primary-5-5;
    box-shadow: 0 0 0 4px $color-base-4-2-5;
  }

  &:hover span,
  &:focus span {
    color: $color-primary-5-5;
  }

  span {
    margin-left: 2.0625rem;
    position: relative;
    display: block;
    line-height: 1.65rem;
    color: $color-primary-5;
  }

  &.labelleft {
    &::after {
      left: auto;
      right: 0;
    }

    span {
      margin-left: 0;
      margin-right: 2.0625rem;
    }
  }

  &.labelinvisible {
    span {
      margin-left: 0;
      width: 0;
      height: 0;
      overflow: hidden;
      position: absolute;
      display: block;
    }
  }

  &.noborder {
    &::after {
      border: 0.125rem solid rgba(0, 0, 0, 0);
    }
  }

  &.disabled,
  &.disabled:hover {
    cursor: default;

    &::after {
      border: 0.125rem solid #d3d3d3;
      box-shadow: #d3d3d3 0 0 0 0;
    }

    span {
      color: #ccc;
    }
  }

  /* type variations */
  &.edit,
  &.add,
  &.open,
  &.print_blue,
  &.delete,
  &.delete-negative,
  &.recycle,
  &.close,
  &.switch,
  &.check,
  &.info,
  &.select,
  &.function,
  &.send,
  &.message,
  &.resetfilters,
  &.upload,
  &.lastOpp,
  &.errordoc,
  &.reload,
  &.save,
  &.open_event,
  &.pause,
  &.doubledown,
  &.doubleup,
  &.fullskjerm,
  &.reply,
  &.reset,
  &.calendar,
  &.pillbottle,
  &.consultation,
  &.message-bubbles,
  &.bus,
  &.contact {
    &:after {
      border-radius: 2.25rem;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:hover {
      &:after {
        border: 0.125rem solid $color-primary-5;
      }

      span {
        color: $color-primary-5;
      }
    }
  }

  &.edit {
    &:after {
      background-image: url('../images/svg/nav-inline-edit.svg');
      background-size: 1rem;
    }

    /* disabled state */
    &.disabled,
    &:disabled,
    &.disabled:hover,
    &:disabled:hover {
      span {
        color: $color-base-4-1;
      }

      &:after {
        border: 0.125rem solid $color-base-4-5;
        background-image: url('../images/svg/nav-inline-edit-disabled.svg');
        background-size: 1.275rem;
      }
    }
  }

  &.add {
    &:after {
      background-image: url('../images/svg/nav-inline-add.svg');
      background-size: 0.825rem;
    }

    &.disabled {
      &:after {
        background-image: url('../images/svg/nav-inline-add-disabled.svg');
        background-size: 1.1rem;
      }

      &:hover:after {
        border: 0.125rem solid $color-base-4-5;
      }
    }
  }

  &.delete {
    &::after {
      background-image: url('../images/svg/nav-inline-delete.svg');
      background-size: 1.275rem;
    }

    &:hover {
      &:after {
        border: 0.125rem solid #d0021b;
      }

      span {
        color: #d0021b;
      }
    }
  }

  &.delete-negative {
    &::after {
      background-color: $color-red;
      background-image: url('../images/svg/nav-inline-close-negative.svg');
      background-size: 2rem;
    }

    &:hover {
      &:after {
        border: 0.125rem solid #d0021b;
      }

      span {
        color: #d0021b;
      }
    }
  }

  &.recycle {
    &::after {
      background-image: url('../images/svg/icon_slett_kast.svg');
      background-size: 1rem;
    }

    /* disabled state */
    &.disabled,
    &:disabled,
    &.disabled:hover,
    &:disabled:hover {
      span {
        color: $color-base-4-1;
      }

      &:after {
        border: 0.125rem solid $color-base-4-5;
        background-image: url('../images/svg/icon_slett_kast_disabled.svg');
        background-size: 1.275rem;
      }
    }
  }

  &.close:after {
    background-image: url('../images/svg/nav-inline-close.svg');
    background-size: 1.275rem;
  }

  &.switch:after {
    background-image: url('../images/svg/nav-inline-switch.svg');
    background-size: 1.125rem;
  }

  &.check:after {
    background-image: url('../images/svg/icon_check.svg');
    background-size: 0.9rem;
    background-position: left 0.3rem top 0.5rem;
  }

  &.info:after {
    background-image: url('../images/svg/icon_i.svg');
    background-size: 0.4rem;
  }

  &.open:after {
    background-image: url('../images/svg/icon_open-document.svg');
    background-size: 1rem;
  }

  &.print_blue:after {
    background-image: url('../images/svg/icon_print_blue.svg');
    background-size: 1rem;
  }

  &.save:after {
    background-image: url('../images/svg/icon_save.svg');
    background-size: 1rem;
  }

  &.pause:after {
    background-image: url('../images/svg/pause.svg');
    background-size: 0.8rem;
  }

  &.open_event:after {
    background-image: url('../images/svg/icon_event_open.svg');
    background-size: 1rem;
  }

  &.select:after {
    background-image: url('../images/svg/nav-inline-select.svg');
    background-size: 0.75rem;
    background-position: center top 0.6rem;
  }

  &.function:after {
    background-image: url('../images/svg/icon_function-table-inline.svg');
    background-size: 0.75rem;
  }

  &.send:after {
    background-image: url('../images/svg/icon_send_message.svg');
    background-size: 1rem;
  }

  &.message:after {
    background-image: url('../images/svg/nav-inline-message.svg');
    background-size: 1rem;
  }

  &.resetfilters:after {
    background-image: url('../images/svg/icon_reset-filter.svg');
    background-size: 1rem;
  }

  &.errordoc:after {
    background-image: url('../images/svg/icon_error-document.svg');
    background-size: 1.2rem;
    background-position: center top 0.1rem;
  }

  &.upload {
    &:after {
      background-image: url('../images/svg/inline-icon-upload.svg');
      background-size: 1rem;
    }

    &.disabled {
      &:after {
        background-image: url('../images/svg/inline-icon-upload-disabled.svg');
        background-size: 1rem;
      }

      &:hover {
        &:after {
          border: 0.125rem solid #d3d3d3;
        }
      }

      span {
        color: $color-base-4-1;
      }
    }
  }

  &.lastOpp {
    &:after {
      background-image: url('../images/svg/last-opp.svg');
      background-size: 0.825rem;
    }

    &.disabled {
      &:after {
        background-image: url('../images/svg/last-opp-disabled.svg');
      }

      &:hover {
        &:after {
          border: 0.125rem solid #d3d3d3;
        }
      }

      span {
        color: $color-base-4-1;
      }
    }
  }

  &.no-icon {
    &:after {
      display: none;
    }

    span {
      margin-left: 0;
      color: $color-primary-5;
      border-bottom: 1px solid white;
      line-height: 1.2rem;
    }

    &:hover {
      span {
        border-bottom: 1px solid #0f748d;
      }
    }
  }

  &.loading {
    cursor: wait;

    &:after {
      background-image: url(/images/endless-spinner-32-black-128-dither.gif);
      background-color: $color-base-6;
      background-size: 1.25rem;
      background-position: center center;
    }
  }

  &.reload:after {
    background-image: url('../images/svg/nav-inline-reload.svg');
    background-size: 0.9rem;
    background-position: center top 0.25rem;
  }

  &.doubledown:after {
    background-image: url('../images/svg/inline_icon_arrow_double_down.svg');
    background-size: 0.85rem;
    background-position: center top 0.4rem;
  }

  &.doubleup:after {
    background-image: url('../images/svg/inline_icon_arrow_double_up.svg');
    background-size: 0.85rem;
  }

  &.fullskjerm:after {
    background-image: url('../images/svg/fullskjerm.svg');
    background-size: 1rem;
  }

  &.reply:after {
    background-image: url('../images/svg/icon_reply.svg');
    background-size: 1.4rem;
  }

  &.reset:after {
    background-image: url('../images/svg/reset.svg');
    background-size: 1.4rem;
  }

  &.calendar,
  &.pillbottle,
  &.consultation,
  &.message-bubbles,
  &.bus,
  &.contact {
    &:after {
      border-width: 3px;
      width: 38px;
      height: 38px;
    }

    &:hover:after,
    &:focus:after {
      border-width: 3px;
    }

    span {
      margin-left: 3.7rem;
      line-height: 1.5rem;
    }

    min-height: 3rem;
  }

  &.calendar:after {
    background-image: url('../images/svg/inline_kalender_datovelger.svg');
    background-size: 1.35rem;
  }

  &.pillbottle:after {
    background-image: url('../images/svg/icon_pillBottle_blue-2.svg');
    background-size: 1.9rem;
  }

  &.consultation:after {
    background-image: url('../images/svg/icon_ekonsultasjon.svg');
    background-size: 1.68rem;
  }

  &.message-bubbles:after {
    background-image: url('../images/svg/icon_message_bubbles.svg');
    background-size: 2rem;
  }

  &.bus:after {
    background-image: url('../images/svg/offentlig-transport-064e5f.svg');
    background-size: 1.68rem;
  }

  &.contact:after {
    background-image: url('../images/svg/icon_ekontakt.svg');
    background-size: 1.68rem;
  }

  &.hide-text {
    &:after {
      top: 0.5rem;
    }

    span {
      display: none;
    }
  }
}

@media screen and (min-width: $one-to-two-col) {
  .atom_inline-btn.hide-text:after {
    top: 0.75rem;
  }
}

@media screen and (min-width: $three-to-four-col) {
  .atom_inline-btn.hide-text {
    &:after {
      top: 0;
    }

    span {
      display: block;
    }
  }
}

@media screen and (min-width: $one-to-two-col) {
  .atom_inline-btn {
    .small {
      min-width: 1.725rem;
      min-height: 1.725rem;

      &:after {
        width: 1.5rem;
        height: 1.5rem;
      }

      span {
        margin-left: 2.0625rem;
        line-height: 1.65rem;
      }

      &.labelleft {
        span {
          margin-right: 2.0625rem;
        }
      }

      &.edit:after {
        background-size: 1rem;
      }

      &.add:after {
        background-size: 0.825rem;
      }

      &.delete:after {
        background-size: 1.275rem;
      }

      &.recycle:after {
        background-size: 1rem;
      }

      &.close:after {
        background-size: 1.275rem;
      }

      &.switch:after {
        background-size: 1.125rem;
      }

      &.info:after {
        background-size: 0.4rem;
      }

      &.open:after {
        background-size: 1.3rem;
      }

      &.print_blue:after {
        background-size: 1.3rem;
      }

      &.save:after {
        background-size: 1.3rem;
      }

      &.pause:after {
        background-size: 1.3rem;
      }

      &.open_event:after {
        background-size: 1.3rem;
      }

      &.select:after {
        background-size: 0.75rem;
        background-position: center top 0.6rem;
      }

      &.function:after {
        background-size: 0.75rem;
      }

      &.send:after {
        background-size: 1rem;
      }

      &.message:after {
        background-size: 1rem;
      }

      &.resetfilters:after {
        background-size: 1rem;
      }

      &.errordoc:after {
        background-size: 1.2rem;
        background-position: center top 0.1rem;
      }

      &.check:after {
        background-size: 0.9rem;
        background-position: left 0.3rem top 0.5rem;
      }

      &.upload:after {
        background-size: 1rem;
      }

      &.lastOpp:after {
        background-size: 1rem;
      }

      &.loading:after {
        background-size: 1.25rem;
        background-position: center center;
      }

      &.reload:after {
        background-size: 0.9rem;
        background-position: center top 0.25rem;
      }

      &.doubledown:after {
        background-size: 0.85rem;
        background-position: center top 0.25rem;
      }

      &.doubleup:after {
        background-size: 0.85rem;
      }
    }

    min-width: 2.3rem;
    min-height: 2.3rem;

    &:after {
      width: 2rem;
      height: 2rem;
    }

    span {
      margin-left: 2.75rem;
      line-height: 2.2rem;
    }

    &.labelleft {
      span {
        margin-right: 2.75rem;
      }
    }

    &.edit:after {
      background-size: 1.3rem;
    }

    &.add:after {
      background-size: 1.1rem;
    }

    &.delete:after {
      background-size: 1.7rem;
    }

    &.recycle:after {
      background-size: 1.2rem;
    }

    &.close:after {
      background-size: 1.7rem;
    }

    &.switch:after {
      background-size: 1.5rem;
    }

    &.info:after {
      background-size: 0.6rem;
    }

    &.open:after {
      background-size: 1.3rem;
    }

    &.print_blue:after {
      background-size: 1.3rem;
    }

    &.save:after {
      background-size: 1.3rem;
    }

    &.pause:after {
      background-size: 1rem;
    }

    &.open_event:after {
      background-size: 1.3rem;
    }

    &.select:after {
      background-size: 1rem;
      background-position: center top 0.8rem;
    }

    &.function:after {
      background-size: 1rem;
    }

    &.send:after {
      background-size: 1.4rem;
    }

    &.message:after {
      background-size: 1.45rem;
    }

    &.resetfilters:after {
      background-size: 1.25rem;
    }

    &.errordoc:after {
      background-size: 1.35rem;
      background-position: center top 0.3rem;
    }

    &.check:after {
      background-size: 1.25rem;
      background-position: left 0.4rem top 0.6rem;
    }

    &.upload:after {
      background-size: 1.1rem;
    }

    &.lastOpp:after {
      background-size: 1.1rem;
    }

    &.loading:after {
      background-size: 1.75rem;
      background-position: center center;
    }

    &.reload:after {
      background-size: 1.2rem;
      background-position: center top 0.25rem;
    }

    &.doubledown:after {
      background-size: 1rem;
      background-position: center top 0.55rem;
    }

    &.doubleup:after {
      background-size: 1rem;
    }

    &.reply:after {
      background-size: 1.7rem;
    }

    &.reset:after {
      background-size: 1.7rem;
    }
  }
}

@media print {
  .atom_inline-btn:after {
    content: initial;
  }
}
