@use 'sass:map';
@use '@helsenorge/designsystem-react/scss/font-mixins' as fonts;
@use '@helsenorge/designsystem-react/scss/breakpoints' as breakpoints;
@import '@helsenorge/designsystem-react/scss/supernova/styles/colors';

.date-picker {
  --input-height: 2.75rem;

  padding-right: 0.25rem;
  border: 2px solid var(--color-base-border-onlight-emphasized);
  display: inline-flex;
  vertical-align: top;
  height: var(--input-height);
  box-sizing: content-box;
  width: 7rem;
  cursor: text;

  @supports not (field-sizing: content) {
    width: 8rem;
  }

  &--with-clear-button {
    width: 9rem;

    @supports not (field-sizing: content) {
      width: 10rem;
    }
  }

  &__inputs {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.1rem;
    padding: 0.6rem;

    @include breakpoints.tiny-screens-media-query {
      padding: 0.2rem;
    }
  }

  &:has(:hover) {
    box-shadow: 0 0 0 1px var(--color-base-border-onlight-emphasized);
  }

  &:has(:focus-visible):not(.date-picker--clear-button-focused) {
    border-color: black;
    box-shadow: 0 0 0 2px black;
  }

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    // Same as Input component
    --input-height: 3rem;
  }
}

.date-field {
  all: unset;

  &__soft-error-text {
    color: var(--color-notification-text-error);

    @include fonts.sublabel-subdued;

    margin-top: 0.75rem;
  }
}

.legend {
  @include fonts.label;

  margin-bottom: 8px;

  &__sublabel {
    @include fonts.sublabel-subdued;

    color: var(--color-base-text-onlight-subdued);
  }
}

.date-segment {
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: left;
  min-width: 0.5em;
  max-width: 3em;
  field-sizing: content;
  padding: 1px;
  padding-top: 2px;

  @supports not (field-sizing: content) {
    width: 3.4ch;
  }

  &--year {
    @supports not (field-sizing: content) {
      width: 5ch;
    }
  }

  &--error {
    text-decoration: underline;
    color: var(--color-notification-text-error);
  }

  &:hover {
    border-radius: 4px;
    background-color: var(--core-color-neutral-50);
  }

  &:focus {
    border-radius: 4px;
    background-color: var(--core-color-blueberry-100);
  }

  &::placeholder {
    color: var(--color-placeholder-text-onlight);
  }
}

.calendar-button {
  // Same as Input component
  --button-size: 2.75rem;

  width: var(--button-size);
  height: var(--button-size);
  background: transparent;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-base-border-onlight-emphasized);
  border-left: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    // Same as Input component
    --button-size: 3rem;
  }

  &:disabled {
    border: 2px dashed var(--color-disabled-border);
    border-left: none;

    svg {
      fill: var(--color-disabled-graphics);
    }
  }

  &:hover:not(:disabled) {
    background: var(--core-color-neutral-50);

    svg {
      fill: var(--color-action-graphics-onlight-hover);
    }
  }

  &:active:not(:disabled) {
    background: var(--core-color-neutral-100);

    svg {
      fill: var(--color-action-graphics-emphasized-onlight);
    }
  }

  &:focus-visible:not(:disabled) {
    outline: 2px solid var(--color-action-border-onlight-focus);
    border-color: var(--color-action-border-onlight-focus);

    // hack to make focus border on left without moving icon
    box-shadow: -2px 0 0 2px var(--color-action-border-onlight-focus);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  svg {
    fill: var(--color-action-graphics-onlight);
  }
}

.clear-button {
  --button-size: 2.75rem;

  width: var(--button-size);
  height: var(--button-size);
  border: none;
  background: transparent;
  align-items: center;
  justify-content: center;
  padding: 0;
  display: inline-flex;
  position: relative;
  right: 4px;

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    --button-size: 3rem;
  }

  &__placeholder {
    --button-size: 2.75rem;

    width: var(--button-size);
    height: var(--button-size);
    display: inline-flex;

    @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
      --button-size: 3rem;
    }
  }

  &:hover {
    &::after {
      content: '';
      position: absolute;
      border-radius: 100%;
      background: var(--core-color-neutral-50);
      width: 2rem;
      height: 2rem;
      z-index: 1;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    svg {
      fill: var(--color-action-graphics-onlight-hover);
    }
  }

  &:active {
    &::after {
      content: '';
      position: absolute;
      border-radius: 100%;
      background: var(--core-color-neutral-100);
      width: 2rem;
      height: 2rem;
      z-index: 1;
    }
  }

  &:focus-visible {
    border: none;
    outline: none;

    &::after {
      content: '';
      position: absolute;
      border-radius: 100%;
      outline: 2px solid var(--color-action-border-onlight-focus);
      width: 2rem;
      height: 2rem;
      z-index: 1;
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  svg {
    fill: var(--color-action-graphics-onlight);
    z-index: 2;
  }
}
