@use 'sass:map';
@import '../../../scss/spacers';
@import '../../../scss/palette';
@import '../../../scss/font-settings';
@import '../../../scss/breakpoints';
@import '../../../scss/supernova/styles/colors';

.tab-panel {
  $tab-panel: &;

  padding: 0;

  $colors: 'blueberry', 'neutral', 'white';

  width: 100%;

  @media (min-width: map.get($grid-breakpoints, md)) {
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1px solid var(--color-action-border-onlight-focus);
    border-top: 0;

    &#{$tab-panel}--first {
      border-radius: 0;

      @media (min-width: map.get($grid-breakpoints, md)) {
        border-radius: 0 0 0.5rem 0.5rem;
      }
    }

    @each $color in $colors {
      &#{$tab-panel}--#{$color} {
        background-color: var(--color-base-background-#{$color});
      }
    }
  }
}

.tab-panel--animate-left {
  animation: slide-left 0.5s forwards;
}

.tab-panel--animate-right {
  animation: slide-right 0.5s forwards;
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
