@use 'sass:map';
@import '../../../scss/spacers';
@import '../../../scss/palette';
@import '../../../scss/font-settings';
@import '../../../scss/breakpoints';
@import '../../../scss/supernova/styles/colors';

.tab-panel {
  $tab-panel: &;
  $colors: 'blueberry', 'neutral', 'white';

  padding: getSpacer(xl) getSpacer(l) getSpacer(2xl);
  width: 100%;
  border-bottom: 1px solid var(--color-action-border-onlight-focus);

  @each $color in $colors {
    &#{$tab-panel}--#{$color} {
      background-color: var(--color-base-background-#{$color});
    }
  }

  @media (min-width: map.get($grid-breakpoints, md)) {
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1px solid var(--color-action-border-onlight-focus);
    border-top: 0;
    padding: getSpacer(2xl) getSpacer(l) getSpacer(3xl);

    &#{$tab-panel}--first {
      border-radius: 0;

      @media (min-width: map.get($grid-breakpoints, md)) {
        border-radius: 0 0 0.5rem 0.5rem;
      }
    }
  }
}
