@import '../../scss/_spacers.scss';
@import '../../scss/_breakpoints.scss';
@import '../../scss/_palette.scss';

@mixin anchorlink {
  display: inline;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: left;
  text-decoration: none;
  color: $blueberry600;
  padding: 0.15rem;
  border-bottom: 1px solid $neutral300;

  &:hover {
    cursor: pointer;
    color: $blueberry700;
    background-color: $blueberry50;
    border-bottom-color: $blueberry600;
  }
  &:focus {
    padding: 0 0 0.15rem 0;
    outline: none;
    border: 0.15rem solid $black;
  }

  &__icon {
    display: inline-block;
    vertical-align: bottom;
    margin-right: -0.4rem;
    margin-top: -2rem;
    margin-bottom: -0.3rem;
  }
}

@mixin anchorlink-font {
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 400;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 1.25rem;
  }
}

@mixin anchorlink-icon {
  &[target='_blank'] {
    &:after {
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='38px' height='38px' viewBox='0 0 48 48' fill='%2308667c'><polygon points='33.305,14.659,33.305,29.205,32.005,29.205,32.005,16.948,15.804,33.149,14.885,32.229,31.155,15.959,18.761,15.96,18.761,14.659' /></svg>");
      display: inline-block;
      vertical-align: bottom;
      margin-right: -0.4rem;
      margin-top: -2rem;
      margin-bottom: -0.8rem;
    }
  }
}

.anchorlink {
  @include anchorlink;
  @include anchorlink-font;
}
