@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/palette';
@import '../../scss/breakpoints';
@import '../../scss/font-settings';
@import '../../scss/supernova/styles/colors';

.drawer {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__container {
    position: fixed;
    width: 100%;
    max-height: 85dvh;
    transform: translateY(100%) ;
    background-color: var(--core-color-white);
    border-radius: 0.75rem 0.75rem 0 0;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: getSpacer(xs) getSpacer(2xs);
    border-bottom: 1px solid var(--core-color-neutral-200);
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    padding: getSpacer(xs) getSpacer(2xs);
  }

  &__footer {
    border-top: 1px solid var(--core-color-neutral-200);
    padding: getSpacer(s) getSpacer(2xs);

    &__default-cta {
      display: flex;
      gap: getSpacer(m);
    }
  }
}
  