body {
  font-family: 'Source Sans Pro', Arial, Verdana, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}
