// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 564px,
  md: 682px,
  lg: 1088px,
);

$container-max-widths: (
  sm: 528px,
  md: 634px,
  lg: 1056px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 8,
  2: $spacer / 4,
  3: $spacer / 2,
  4: $spacer * 1,
  5: $spacer * 1.5,
  6: $spacer * 2,
  7: $spacer * 3,
  8: $spacer * 4,
  9: $spacer * 5,
  10: $spacer * 7,
  11: $spacer * 8,
);
