$black: #000000;
$white: #ffffff;

$banana50: #fcf2bf;
$banana100: #f9ea9f;
$banana200: #f5e080;
$banana300: #f1d460;
$banana400: #ebc840;
$banana500: #ddab06;
$banana600: #c59302;
$banana700: #ab7c00;
$banana800: #916500;
$banana900: #764f00;

$blueberry50: #e4f7f9;
$blueberry100: #cae7ed;
$blueberry200: #afdae3;
$blueberry300: #7abecc;
$blueberry400: #58aabb;
$blueberry500: #188097;
$blueberry600: #126f87;
$blueberry700: #08667c;
$blueberry800: #06596c;
$blueberry900: #084350;

$cherry50: #fff2ea;
$cherry100: #f7e1d2;
$cherry200: #eec0a5;
$cherry300: #e39376;
$cherry400: #d56147;
$cherry500: #c83521;
$cherry600: #b62e1c;
$cherry700: #a31f0e;
$cherry800: #912112;
$cherry900: #7e1c0e;

$kiwi50: #e6f8ee;
$kiwi100: #c2edd6;
$kiwi200: #9de2bf;
$kiwi300: #79d6aa;
$kiwi400: #56ca96;
$kiwi500: #33be84;
$kiwi600: #10b172;
$kiwi700: #0ca161;
$kiwi800: #099150;
$kiwi900: #078141;

$neutral50: #f5f3f3;
$neutral100: #eae7e7;
$neutral200: #d6d4d3;
$neutral300: #bdbab9;
$neutral400: #aaa8a6;
$neutral500: #989693;
$neutral600: #7d7c79;
$neutral700: #62625f;
$neutral800: #474745;
$neutral900: #2b2c2b;

$plum50: #efe4fd;
$plum100: #d7bdf9;
$plum200: #bf98f3;
$plum300: #a875eb;
$plum400: #9153e2;
$plum500: #7a33d7;
$plum600: #6a2abf;
$plum700: #5b22a6;
$plum800: #4c1b8c;
$plum900: #3c1471;

$palette-map: (
  'banana50': $banana50,
  'banana100': $banana100,
  'banana200': $banana200,
  'banana300': $banana300,
  'banana400': $banana400,
  'banana500': $banana500,
  'banana600': $banana600,
  'banana700': $banana700,
  'banana800': $banana800,
  'banana900': $banana900,
  'blueberry50': $blueberry50,
  'blueberry100': $blueberry100,
  'blueberry200': $blueberry200,
  'blueberry300': $blueberry300,
  'blueberry400': $blueberry400,
  'blueberry500': $blueberry500,
  'blueberry600': $blueberry600,
  'blueberry700': $blueberry700,
  'blueberry800': $blueberry800,
  'blueberry900': $blueberry900,
  'cherry50': $cherry50,
  'cherry100': $cherry100,
  'cherry200': $cherry200,
  'cherry300': $cherry300,
  'cherry400': $cherry400,
  'cherry500': $cherry500,
  'cherry600': $cherry600,
  'cherry700': $cherry700,
  'cherry800': $cherry800,
  'cherry900': $cherry900,
  'kiwi50': $kiwi50,
  'kiwi100': $kiwi100,
  'kiwi200': $kiwi200,
  'kiwi300': $kiwi300,
  'kiwi400': $kiwi400,
  'kiwi500': $kiwi500,
  'kiwi600': $kiwi600,
  'kiwi700': $kiwi700,
  'kiwi800': $kiwi800,
  'kiwi900': $kiwi900,
  'neutral50': $neutral50,
  'neutral100': $neutral100,
  'neutral200': $neutral200,
  'neutral300': $neutral300,
  'neutral400': $neutral400,
  'neutral500': $neutral500,
  'neutral600': $neutral600,
  'neutral700': $neutral700,
  'neutral800': $neutral800,
  'neutral900': $neutral900,
  'plum50': $plum50,
  'plum100': $plum100,
  'plum200': $plum200,
  'plum300': $plum300,
  'plum400': $plum400,
  'plum500': $plum500,
  'plum600': $plum600,
  'plum700': $plum700,
  'plum800': $plum800,
  'plum900': $plum900,
  'black': $black,
  'white': $white,
);
