$placeholder: '#4A412A';

$bone50: '#E4F7F9';
$bone100: '#F2F1F0';
$bone200: '#D6D4D3';
$bone300: $placeholder;
$bone400: $placeholder;
$bone500: $placeholder;
$bone600: '#666463';
$bone700: $placeholder;
$bone800: $placeholder;
$bone900: '#333130';

$gall50: $placeholder;
$gall100: '#FFF0BE';
$gall200: $placeholder;
$gall300: $placeholder;
$gall400: $placeholder;
$gall500: '#DDAB06';
$gall600: $placeholder;
$gall700: $placeholder;
$gall800: $placeholder;
$gall900: $placeholder;

$pulse50: '#FFF2EA';
$pulse100: '#FEE0D3';
$pulse200: $placeholder;
$pulse300: $placeholder;
$pulse400: $placeholder;
$pulse500: '#C83521';
$pulse600: $placeholder;
$pulse700: '#A31F0E';
$pulse800: $placeholder;
$pulse900: $placeholder;

$surgical50: $placeholder;
$surgical100: '#DFF2EA';
$surgical200: $placeholder;
$surgical300: $placeholder;
$surgical400: $placeholder;
$surgical500: $placeholder;
$surgical600: $placeholder;
$surgical700: '#115F3D';
$surgical800: $placeholder;
$surgical900: $placeholder;

$vein50: '#E4F7F9';
$vein100: $placeholder;
$vein200: $placeholder;
$vein300: $placeholder;
$vein400: $placeholder;
$vein500: '#188097';
$vein600: '#17798E';
$vein700: '#08667C';
$vein800: $placeholder;
$vein900: $placeholder;
