$placeholder: #4a412a;

$bone50: #e4f7f9;
$bone100: #f2f1f0;
$bone200: #d6d4d3;
$bone300: $placeholder;
$bone400: $placeholder;
$bone500: $placeholder;
$bone600: #666463;
$bone700: $placeholder;
$bone800: $placeholder;
$bone900: #333130;

$gall50: $placeholder;
$gall100: #fff0be;
$gall200: $placeholder;
$gall300: $placeholder;
$gall400: $placeholder;
$gall500: #ddab06;
$gall600: $placeholder;
$gall700: $placeholder;
$gall800: $placeholder;
$gall900: $placeholder;

$pulse50: #fff2ea;
$pulse100: #fee0d3;
$pulse200: $placeholder;
$pulse300: $placeholder;
$pulse400: $placeholder;
$pulse500: #c83521;
$pulse600: $placeholder;
$pulse700: #a31f0e;
$pulse800: $placeholder;
$pulse900: $placeholder;

$surgical50: $placeholder;
$surgical100: #dff2ea;
$surgical200: $placeholder;
$surgical300: $placeholder;
$surgical400: $placeholder;
$surgical500: $placeholder;
$surgical600: $placeholder;
$surgical700: #115f3d;
$surgical800: $placeholder;
$surgical900: $placeholder;

$vein50: #e4f7f9;
$vein100: $placeholder;
$vein200: $placeholder;
$vein300: $placeholder;
$vein400: $placeholder;
$vein500: #188097;
$vein600: #17798e;
$vein700: #08667c;
$vein800: $placeholder;
$vein900: $placeholder;
