$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 8,
  2: $spacer / 4,
  3: $spacer / 2,
  4: $spacer * 1,
  5: $spacer * 1.5,
  6: $spacer * 2,
  7: $spacer * 3,
  8: $spacer * 4,
  9: $spacer * 5,
  10: $spacer * 7,
  11: $spacer * 8,
);

@function getSpacer($spacerSize) {
  $spacerValue: map-get(
    (
      3xs: map-get($spacers, 1),
      2xs: map-get($spacers, 2),
      xs: map-get($spacers, 3),
      s: map-get($spacers, 4),
      m: map-get($spacers, 5),
      l: map-get($spacers, 6),
      xl: map-get($spacers, 7),
      2xl: map-get($spacers, 8),
      3xl: map-get($spacers, 9),
      4xl: map-get($spacers, 10),
      5xl: map-get($spacers, 11),
    ),
    $spacerSize
  );

  @return $spacerValue;
}
