@use 'sass:map';
@use '../../scss/breakpoints' as breakpoints;
@import '../../scss/supernova/styles/colors.css';

$trigger-medium-size: 1.25rem;
$trigger-large-size: 1.5rem;
$trigger-xl-size: 2rem;
$outline-medium-width: 2px;
$outline-large-width: 2.2px;
$outline-xl-width: 2.5px;

.help-trigger {
  $trigger: &;

  position: relative;
  vertical-align: text-bottom;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &:focus-visible {
    box-shadow: none;
    outline: 3px solid var(--core-color-black);
    outline-offset: -1.5px;
  }

  &--medium {
    height: $trigger-medium-size;
    width: $trigger-medium-size;
    box-shadow: inset 0 0 0 $outline-medium-width var(--core-color-plum-800);
  }

  &--large {
    height: $trigger-medium-size;
    width: $trigger-medium-size;
    box-shadow: inset 0 0 0 $outline-medium-width var(--core-color-plum-800);

    @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
      height: $trigger-large-size;
      width: $trigger-large-size;
      box-shadow: inset 0 0 0 $outline-large-width var(--core-color-plum-800);
    }
  }

  &--xlarge {
    height: $trigger-large-size;
    width: $trigger-large-size;
    box-shadow: inset 0 0 0 $outline-large-width var(--core-color-plum-800);

    @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
      height: $trigger-xl-size;
      width: $trigger-xl-size;
      box-shadow: inset 0 0 0 $outline-xl-width var(--core-color-plum-800);

      &:focus-visible {
        box-shadow: inset 0 0 0 1.75px var(--core-color-black);
        outline: 3.5px solid var(--core-color-black);
        outline-offset: -1.75px;
      }
    }
  }

  &--xlarge#{&}--strong {
    @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
      &:focus-visible {
        box-shadow: none;
        outline: 3.5px solid var(--core-color-black);
        outline-offset: 2px;
      }
    }
  }

  &:hover,
  &#{$trigger}--hovered,
  &#{$trigger}--selected,
  &:active {
    background-color: var(--core-color-plum-50);
  }

  &:hover:active,
  &#{$trigger}--hover#{$trigger}--selected {
    background-color: var(--core-color-plum-100);
  }

  &--strong {
    background-color: var(--core-color-plum-700);
    box-shadow: none;

    &:hover,
    &#{$trigger}--hovered,
    &#{$trigger}--selected,
    &:active {
      background-color: var(--core-color-plum-800);
    }

    &:hover:active,
    &#{$trigger}--hover#{$trigger}--selected {
      background-color: var(--core-color-plum-900);
    }

    &:focus-visible {
      box-shadow: none;
      outline: 3px solid var(--core-color-black);
      outline-offset: 2px;
    }
  }
}
