@use 'sass:map';
@use '../../scss/spacers' as spacers;
@use '../../scss/palette' as palette;
@use '../../scss/font-settings' as font-settings;
@use '../AnchorLink/styles.module' as anchorlink;
@use '../../scss/breakpoints' as *;

.helpbubble {
  $bubble: &;

  display: flex;
  align-items: flex-start !important;
  text-align: start;
  font-family: inherit;
  font-size: font-settings.$font-size-sm;
  line-height: font-settings.$lineheight-size-sm;

  @media (min-width: map.get($grid-breakpoints, lg)) {
    font-size: font-settings.$font-size-md;
    line-height: font-settings.$lineheight-size-md;
  }

  &__content {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-wrap: anywhere;
    row-gap: spacers.getSpacer(2xs);
    padding: spacers.getSpacer(s) spacers.getSpacer(s) spacers.getSpacer(m);

    &--close {
      padding-right: 0;
    }

    > p {
      margin: 0;
    }
  }

  &__link {
    all: unset;

    @include anchorlink.anchorlink;
  }

  &__close {
    order: 2;
    padding: spacers.getSpacer(2xs) spacers.getSpacer(2xs) 0 0;
  }
}
