@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';
@import '../AnchorLink/styles.module';

.helpbubble {
  $bubble: &;

  display: flex;
  align-items: flex-start !important;
  text-align: start;
  font-family: inherit;
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;

  @media (min-width: map.get($grid-breakpoints, lg)) {
    font-size: $font-size-md;
    line-height: $lineheight-size-md;
  }

  &__content {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-wrap: anywhere;
    row-gap: getSpacer('2xs');
    padding: getSpacer('s') getSpacer('s') getSpacer('m') getSpacer('s');

    &--close {
      padding-right: 0;
    }

    > p {
      margin: 0;
    }
  }

  &__link {
    all: unset;

    @include anchorlink;
  }

  &__close {
    order: 2;
    padding: getSpacer('2xs') getSpacer('2xs') 0 0;
  }
}
