@use 'sass:map';
@import '../../scss/palette';
@import '../../scss/breakpoints';

.pop-menu-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;

  &:focus {
    border: 0.1875rem solid $black;
    box-shadow: none;
    outline: none;
  }
}

html :focus > .pop-menu-button {
  box-shadow: none;
  border: solid;
}

.pop-menu-button :focus > .pop-menu-button {
  box-shadow: none;
}

// overrides
:focus > .pop-menu-button:hover {
  box-shadow: none;
}

.pop-menu-button--on-white {
  &:focus {
    background-color: transparent;
  }

  &:active {
    background-color: $neutral50;
    border: none;
  }

  &:hover {
    background-color: $neutral50;
  }

  &:active:hover {
    background-color: transparent;
  }

  &:active:focus {
    background-color: $neutral50;
    border: 0.1875rem solid $black;
  }
}

.pop-menu-button--on-gray {
  &:focus {
    background-color: transparent;
  }

  &:active {
    background-color: $neutral100;
    border: none;
  }

  &:hover {
    background-color: $neutral100;
  }

  &:active:hover {
    background-color: transparent;
  }

  &:active:focus {
    background-color: $neutral100;
    border: 0.1875rem solid $black;
  }
}

.pop-menu-button--on-blueberry {
  &:focus {
    background-color: transparent;
  }

  &:active {
    background-color: $blueberry100;
    border: none;
  }

  &:hover {
    background-color: $blueberry100;
  }

  &:active:hover {
    background-color: transparent;
  }

  &:active:focus {
    background-color: $blueberry100;
    border: 0.1875rem solid $black;
  }
}

.pop-menu__pop-over {
  width: 20.875rem;
  border: 0.125rem solid rgb(24 128 151);
  box-shadow: 0 0 0.3125rem 0 rgb(0 0 0 / 50%);

  @media (min-width: map.get($grid-breakpoints, md)) {
    width: 26.125rem;
  }

  li:first-of-type {
    a:hover,
    a:focus {
      border-top-left-radius: 0.5625rem;
      border-top-right-radius: 0.5625rem;
    }
  }

  li:last-of-type {
    a:hover,
    a:focus {
      border-bottom-left-radius: 0.5625rem;
      border-bottom-right-radius: 0.5625rem;
    }
  }
}

.pop-menu__pop-over-arrow {
  --drop-shadow-color: rgb(24 128 151);
}
