@import '../../styling/colors';

.action-button {
  cursor: pointer;
  font-size: 2.125rem;
  letter-spacing: 0.03125em;
  padding: 0.65rem 1.5rem 0.55rem;
  border-radius: 1.5rem;
  appearance: none;
  &:disabled {
    pointer-events: none;
    background-color: #cccccc;
  }
  &--primary {
    background-color: #cccccc;
    color: white;
    border: 2px solid transparent;
    &:focus,
    &:hover {
      background-color: #cccccc;
      box-shadow: 0 0 0 4px #cccccc;
      outline: none;
    }
  }
  &--secondary {
    background-color: transparent;
    border: 2px solid #cccccc;
    color: #cccccc;
    &:focus,
    &:hover {
      border: 2px solid #cccccc;
      box-shadow: 0 0 0 4px #cccccc;
      color: #cccccc;
    }
    &:disabled {
      border: 2px solid #cccccc;
      color: #cccccc;
    }
  }
  &--tertiary {
    color: #cccccc;
    border: none;
    border: 2px solid transparent;
    &:focus,
    &:hover {
      box-shadow: 0 0 0 4px #cccccc;
      outline: none;
    }
    &:disabled {
      color: #cccccc;
    }
  }
}
