@import '../../scss/_breakpoints.scss';
@import '../../scss/_spacers.scss';
@import '../../scss/_palette.scss';
@import '../../scss/_font-settings.scss';

.progressbar-wrapper {
  display: flex;
  align-items: center;
  min-height: getSpacer(l);
  @media (min-width: map-get($grid-breakpoints, md)) {
    min-height: getSpacer(xl);
  }
}

$transition: 0.4s linear 0s;

/**
 * Bredde og høyde på markør
 */
$markerSize: 24px;

/**
 * Bredde og høyde på prikk
 */
$dotSize: 8px;

/**
 * Høyde på progressbar
 */
$progressbarHeight: 12px;

/**
 * Horisontal padding på progressbar
 */
$progressbarPaddingX: 8px;

/**
 * Avstand fra venstre kant av progressbar til midten av første prikk
 */
$dotOffset: calc($progressbarPaddingX + $dotSize / 2);

.progressbar {
  flex-grow: 1;
  position: relative;
  display: block;
  height: $progressbarHeight;
  border-radius: 4px;
  background: linear-gradient(to right, $blueberry600, $blueberry600 $dotOffset, $blueberry50 $dotOffset, $blueberry50), $blueberry600;
  background-repeat: no-repeat;
  transition: background-position $transition;

  &__marker {
    position: absolute;
    width: $markerSize;
    height: $markerSize;
    top: calc(($progressbarHeight - $markerSize) / 2);
    background-color: $white;
    border: 6px solid $blueberry600;
    border-radius: 50%;
    transition: left $transition;
  }

  &__number {
    margin-left: getSpacer(xs);
    font-size: $font-size-xs;
    line-height: $lineheight-size-xs;
    font-weight: 700;
    color: $blueberry700;
  }

  &__dot {
    position: absolute;
    top: calc(($progressbarHeight - $dotSize) / 2);
    width: $dotSize;
    height: $dotSize;
    background-color: $blueberry600;
    border-radius: 50%;
    transition: background-color $transition;
    &--completed {
      background-color: $blueberry50;
    }
    &--left {
      left: $dotOffset;
    }
    &--right {
      right: $dotOffset;
    }
  }
}
