@import '../../scss/palette';
@import '../../scss/screen-reader';

.progressbar {
  &__svg {
    display: inline-block;
    position: relative;
    overflow: visible;
  }

  &__progress-circle {
    transition-property: stroke-dashoffset;
    transition-duration: 0.5s;
  }

  &--overlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--overlay-screen {
    background: $transparent-grey;
    position: fixed;
    inset: 0;
  }

  &--overlay-parent {
    position: absolute;
    top: 0;
    left: 0;
    background: $transparent-grey;
    height: 100%;
    width: 100%;
  }

  &__sr-only-text {
    @include sr-only;
  }
}
