@import '../../scss/_breakpoints.scss';

$gradient: rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27) 18%, transparent;

.horizontalscroll {
  transform: translateZ(0); // Gjør at position: fixed på child-elementer er relativ til denne parenten
  &__viewport {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }
  &__indicator {
    position: fixed;
    width: 23px;
    top: 0;
    height: 100%;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    &--left {
      left: 0;
      background: linear-gradient(to right, $gradient);
    }
    &--right {
      right: 0;
      background: linear-gradient(to left, $gradient);
    }
    &--visible {
      opacity: 1;
    }
  }
}
