// TODO: This is gonna be messy in the long run. Need to evaluate CSS Modules or Styled Components.
// @import '@helsenorge/designsystem-scss/dist/scss/helsenorge-grid.scss';
// @import '@helsenorge/designsystem-scss/dist/scss/base/buttons.scss';
// @import '@helsenorge/designsystem-scss/dist/scss/base/palette.scss';
// @import '@helsenorge/designsystem-scss/dist/scss/components/_all.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,900&display=swap');

@font-face {
  font-family: 'Potra';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Potra'), url(./fonts/potra.woff) format('woff'), url(./fonts/potra.woff2) format('woff2');
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  color: #383838;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
