@use 'sass:map';
@use '../../scss/spacers' as spacers;
@use '../../scss/palette' as palette;
@use '../../scss/font-settings' as font-settings;
@use '../../scss/breakpoints' as breakpoints;
@use '../../scss/screen-reader' as *;

$padding-clickable-area-top-bottom: 8px;
$padding-clickable-area-left: 8px;

.radio-button-errors {
  font-size: font-settings.$font-size-sm;
  font-weight: 600;
  color: palette.$cherry600;
  margin-top: 0;
}

.radio-button-wrapper {
  margin-left: -$padding-clickable-area-left;

  &__large {
    margin: spacers.getSpacer(2xs) 0;

    &:has(input:focus-visible) {
      box-shadow: 0 0 0 spacers.getSpacer(3xs);
      color: palette.$neutral500;
    }

    &--on-blueberry:has(input:focus-visible) {
      color: palette.$blueberry500;
    }

    &:has(input:checked):has(input:focus-visible) {
      color: palette.$blueberry900;
    }

    &--invalid:has(input:focus-visible) {
      color: palette.$cherry400;
    }
  }
}

.radio-button-label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  line-height: font-settings.$lineheight-size-sm;
  color: palette.$black;
  padding: $padding-clickable-area-top-bottom 0 $padding-clickable-area-top-bottom $padding-clickable-area-left;

  &--on-dark {
    color: palette.$white;
  }

  &--invalid {
    color: palette.$black;
  }

  &--disabled {
    cursor: not-allowed;
    color: palette.$neutral700;
  }

  &__large {
    padding: spacers.getSpacer(s);
    background-color: palette.$neutral50;
    border: 1px solid transparent;

    &:hover {
      background-color: palette.$neutral100;
    }

    &:has(input:focus-visible) {
      border: 1px solid var(--color-action-border-ondark-focus);
    }

    &--on-blueberry {
      background-color: palette.$white;

      &:focus {
        background-color: palette.$white;
      }

      &:hover {
        background-color: palette.$blueberry100;
      }
    }

    &--on-grey {
      background-color: palette.$white;

      &:hover {
        background-color: palette.$neutral100;
      }

      &:focus {
        background-color: palette.$white;
      }
    }
  }

  &__large#{&}--on-dark {
    background-color: palette.$blueberry800;
  }

  &__large#{&}--invalid {
    background-color: palette.$white;

    &:hover {
      background-color: palette.$cherry100;
    }
  }

  &__large#{&}__large--invalid:has(input:checked) {
    background-color: palette.$cherry100;
    color: palette.$black;

    &:hover {
      background-color: palette.$cherry200;
    }
  }

  &__large#{&}__large--on-grey {
    background-color: palette.$white;

    &:hover {
      background-color: palette.$neutral100;
    }

    &:focus {
      background-color: palette.$white;
    }
  }

  &__large#{&}__large--on-blueberry {
    background-color: palette.$white;

    &:hover {
      background-color: palette.$blueberry100;
    }

    &:focus {
      background-color: palette.$white;
    }
  }

  &__large:has(input:checked) {
    background-color: palette.$blueberry500;
    color: palette.$white;

    &:hover {
      background-color: palette.$blueberry600;
    }
  }

  &__large#{&}__large--disabled {
    color: palette.$neutral700;
    background-color: palette.$neutral50;

    &:hover {
      background-color: palette.$neutral50;
    }

    &:focus {
      background-color: palette.$neutral50;
    }
  }

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    &__large {
      padding: 1.68rem spacers.getSpacer(l);
    }
  }
}

.radio-button {
  @include sr-only;
}

.radio-button__marker-wrapper {
  margin-right: spacers.getSpacer(s);
}

.radiobutton-sublabel-wrapper {
  margin-top: -$padding-clickable-area-top-bottom;
  padding-left: calc(2.8rem + $padding-clickable-area-left);
}

.radiobutton-afterlabelchildren-wrapper {
  padding-top: $padding-clickable-area-top-bottom;
}
