@use '../../scss/font-mixins' as fonts;

.title {
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-left: 0;
  margin-right: 0;

  &--feature {
    @include fonts.title-feature;
  }

  &--title1 {
    @include fonts.title1;
  }

  &--title2 {
    @include fonts.title2;
  }

  &--title3 {
    @include fonts.title3;
  }

  &--title4 {
    @include fonts.title4;
  }

  &--title5 {
    @include fonts.title5;
  }

  &--title6 {
    @include fonts.title6;
  }
}
