@use 'sass:map';
@use './palette' as palette;
@use './font-mixins' as fonts;

body {
  font-family: 'Source Sans Pro', Arial, Verdana, sans-serif;
  background-color: palette.$white;
  color: palette.$black;

  @include fonts.body;
}
