@import './font-settings';
@import './palette';
@import 'breakpoints';

body {
  font-family: 'Source Sans Pro', Arial, Verdana, sans-serif;
  background-color: $white;
  color: $black;
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;
  @include media-breakpoint-up(md) {
    font-size: $font-size-md;
    line-height: $lineheight-size-md;
  }
}
