@use 'sass:map';
@import './palette';
@import './breakpoints';
@import './font-mixins';

body {
  font-family: 'Source Sans Pro', Arial, Verdana, sans-serif;
  background-color: $white;
  color: $black;

  @include body;
}
