@import 'spacers';

$grid-gutter-width: map-get($spacers, 5);

$grid-breakpoints: (
  xxs: 0,
  xs: 360px,
  sm: 564px,
  md: 768px,
  lg: 1088px,
  xl: 1450px,
);

$grid-max-breakpoints: (
  xs: map-get($grid-breakpoints, sm) - 1px,
  sm: map-get($grid-breakpoints, md) - 1px,
  md: map-get($grid-breakpoints, lg) - 1px,
);

$container-max-widths: (
  sm: 528px,
  md: 612px,
  lg: 1056px,
);
