@use 'sass:map';
@import 'spacers';

$grid-gutter-width: map.get($spacers, 5);
$grid-columns: 12;
$grid-breakpoints: (
  xxs: 0,
  xs: 360px,
  sm: 564px,
  md: 768px,
  lg: 1088px,
  xl: 1450px,
);
$grid-max-breakpoints: (
  xs: map.get($grid-breakpoints, sm) - 0.02,
  sm: map.get($grid-breakpoints, md) - 0.02,
  md: map.get($grid-breakpoints, lg) - 0.02,
);
$container-max-widths: (
  sm: 528px,
  md: 612px,
  lg: 1056px,
);

@function get($breakpoint) {
  $breakpoint-value: map.get(
    (
      xxs: map.get($grid-breakpoints, xxs),
      xs: map.get($grid-breakpoints, xs),
      sm: map.get($grid-breakpoints, sm),
      md: map.get($grid-breakpoints, md),
      lg: map.get($grid-breakpoints, lg),
      xl: map.get($grid-breakpoints, xl),
    ),
    $breakpoint
  );

  @return $breakpoint-value;
}
