@use 'sass:map';

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.125,
  2: $spacer * 0.25,
  3: $spacer * 0.5,
  4: $spacer * 0.75,
  5: $spacer * 1,
  6: $spacer * 1.5,
  7: $spacer * 2,
  8: $spacer * 3,
  9: $spacer * 4,
  10: $spacer * 5,
  11: $spacer * 6,
  12: $spacer * 7,
  13: $spacer * 8,
);
/* stylelint-disable-next-line */
@function getSpacer($spacerSize) {
  $spacer-value: map.get(
    (
      4xs: map.get($spacers, 1),
      3xs: map.get($spacers, 2),
      2xs: map.get($spacers, 3),
      xs: map.get($spacers, 4),
      s: map.get($spacers, 5),
      m: map.get($spacers, 6),
      l: map.get($spacers, 7),
      xl: map.get($spacers, 8),
      2xl: map.get($spacers, 9),
      3xl: map.get($spacers, 10),
      4xl: map.get($spacers, 11),
      5xl: map.get($spacers, 12),
      6xl: map.get($spacers, 13),
    ),
    $spacerSize
  );

  @return $spacer-value;
}
