@import './spacers';
@import './breakpoints';
@import './font-settings';

@mixin title-feature {
  font-size: 2.375rem;
  line-height: 2.875rem;
  font-weight: 600;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 4rem;
    line-height: 5rem;
  }
}

@mixin title1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 600;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 3.25rem;
    line-height: 3.75rem;
  }
}

@mixin title2 {
  font-size: 1.625rem;
  line-height: 2.125rem;
  font-weight: 600;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

@mixin title3 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 600;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@mixin title4 {
  font-size: $font-size-md;
  line-height: $lineheight-size-sm;
  font-weight: 700;
}

@mixin title5 {
  font-size: $spacer;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: $font-size-sm;
  }
}
