@import './spacers';
@import './breakpoints';
@import './palette';

/*
Denne filen er ment til å importeres som en css module:
import designsystemtypography from './scss/_typography.scss'
<div className={designsystemtypography.title1}></div>
*/

.title-feature {
  font-size: getSpacer(xl);
  line-height: getSpacer(2xl);
  font-weight: 600;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: getSpacer(2xl);
    line-height: getSpacer(3xl);
  }
}

.focused-content {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.title1 {
  font-size: 2.75rem;
  line-height: 3.25rem;
  font-weight: 600;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 3.25rem;
    line-height: 3.75rem;
  }
}

.title2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: getSpacer(l);
    line-height: 2.75rem;
  }
}

.title3 {
  font-size: getSpacer(m);
  line-height: getSpacer(l);
  font-weight: 600;
}

.title4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.title5 {
  font-size: $spacer;
  line-height: getSpacer(m);
  font-weight: 700;
  text-transform: uppercase;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 1.125rem;
  }
}

.preamble {
  font-size: 1.375rem;
  line-height: getSpacer(l);
  font-weight: 600;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: getSpacer(m);
  }
}

.legend {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 600;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: getSpacer(m);
    line-height: 1.875rem;
  }
}

.label {
  font-size: 1.125rem;
  line-height: getSpacer(m);
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.table {
  font-size: 1.125rem;
  line-height: 1.75rem;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 1.25rem;
  }
}

.strong {
  font-size: 1.125rem;
  line-height: 1.75rem;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

.form {
  font-size: 1.125rem;
  line-height: 1.75rem;
  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 1.25rem;
  }
}

.time {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.image-caption {
  font-size: $spacer;
  line-height: getSpacer(m);
}

.image-credit {
  font-size: 0.75rem;
  line-height: $spacer;
}

.anchorlink-wrapper {
  a {
    display: inline;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: left;
    padding-bottom: 0.15rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: $blueberry600;
    border-bottom: 1px solid $neutral300;
    text-decoration: none;

    @media (min-width: map-get($grid-breakpoints, md)) {
      font-size: 1.25rem;
      line-height: 1.875rem;
    }

    &:focus {
      outline: none;
      background-color: rgba(8, 102, 124, 0.05); /* Dette er blueberry 700 med 5% opacity*/
      border-color: $neutral300;
    }

    &:hover {
      cursor: pointer;
      border-color: $blueberry700;
    }

    &[target='_blank'] {
      /* external styling legge til icon*/
      &:after {
        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='38px' height='38px' viewBox='0 0 48 48' fill='%2308667c'><polygon points='33.305,14.659,33.305,29.205,32.005,29.205,32.005,16.948,15.804,33.149,14.885,32.229,31.155,15.959,18.761,15.96,18.761,14.659' /></svg>");
        display: inline-block;
        width: 38px;
        height: 38px;
        vertical-align: bottom;
        margin-bottom: -0.25rem;
      }
    }
  }
}
