@use 'sass:map';
@import './spacers';
@import './breakpoints';
@import './fonts';
@import './palette';
@import './title';

/*
Denne filen er ment til å importeres som en css module:
import designsystemtypography from './scss/typography.scss'
<div className={designsystemtypography.title1}></div>
*/

.title-feature {
  @include title-feature;
}

.focused-content {
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;
}

.title1 {
  @include title1;
}

.title2 {
  @include title2;
}

.title3 {
  @include title3;
}

.title4 {
  @include title4;
}

.title5 {
  @include title5;
}

.preamble {
  font-size: 1.375rem;
  line-height: getSpacer(l);
  font-weight: 600;

  @media (min-width: map.get($grid-breakpoints, md)) {
    font-size: getSpacer(m);
  }
}

.legend {
  font-size: $font-size-md;
  line-height: 1.625rem;
  font-weight: 600;

  @media (min-width: map.get($grid-breakpoints, md)) {
    font-size: getSpacer(m);
    line-height: $lineheight-size-md;
  }
}

.label {
  font-size: $font-size-sm;
  line-height: getSpacer(m);

  @media (min-width: map.get($grid-breakpoints, md)) {
    font-size: $font-size-md;
    line-height: $lineheight-size-sm;
  }
}

.table {
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;

  @media (min-width: map.get($grid-breakpoints, md)) {
    font-size: $font-size-md;
  }
}

.strong {
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;

  @media (min-width: map.get($grid-breakpoints, md)) {
    font-size: $font-size-md;
    line-height: $lineheight-size-md;
  }
}

.form {
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;

  @media (min-width: map.get($grid-breakpoints, md)) {
    font-size: $font-size-md;
  }
}

.time {
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;
}

.image-caption {
  font-size: $spacer;
  line-height: getSpacer(m);
}

.image-credit {
  font-size: 0.75rem;
  line-height: $spacer;
}

.anchorlink-wrapper {
  a {
    display: inline;
    box-decoration-break: clone;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: left;
    text-decoration: none;
    color: $blueberry600;
    padding: 0.15rem;
    border-bottom: 1px solid $neutral700;

    &:hover {
      cursor: pointer;
      color: $blueberry700;
      background-color: $blueberry50;
      border-bottom-color: $blueberry600;
    }

    &:focus {
      padding: 0 0 0.15rem;
      outline: none;
      border: 0.15rem solid $black;
    }

    &[target='_blank'] {
      /* external styling legge til icon */
      &::after {
        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='38px' height='38px' viewBox='0 0 48 48' fill='%2308667c'><polygon points='33.305,14.659,33.305,29.205,32.005,29.205,32.005,16.948,15.804,33.149,14.885,32.229,31.155,15.959,18.761,15.96,18.761,14.659' /></svg>");
        display: inline-block;
        vertical-align: bottom;
        margin-right: -0.4rem;
        margin-top: -2rem;
        margin-bottom: -0.8rem;
      }
    }
  }
}
