@use 'sass:map';
@use './spacers' as spacers;
@use './palette' as palette;
@use './font-mixins' as fonts;
@use './font-settings' as font-settings;
@use './breakpoints' as breakpoints;
@use './fonts' as *;

/*
Denne filen er ment til å importeres som en css module:
import designsystemtypography from './scss/typography.scss'
<div className={designsystemtypography.title1}></div>
*/

.title-feature {
  @include title-feature;
}

.focused-content {
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;
}

.title1 {
  @include title1;
}

.title2 {
  @include title2;
}

.title3 {
  @include title3;
}

.title4 {
  @include title4;
}

.title5 {
  @include title5;
}

.title6 {
  @include title6;
}

.body {
  @include body;
}

.preamble {
  @include preamble;
}

.legend {
  @include legend;
}

.label {
  @include label;
}

.label-subdued {
  @include label-subdued;
}

.sublabel {
  @include sublabel;
}

.sublabel-subdued {
  @include sublabel-subdued;
}

.compact-data {
  @include compact-data;
}

.table-cell {
  @include table-cell;
}

.strong {
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    font-size: font-settings.$font-size-md;
    line-height: font-settings.$lineheight-size-md;
  }
}

.form {
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    font-size: font-settings.$font-size-md;
  }
}

.status-timestamp {
  @include status-timestamp;
}

.image-caption {
  @include image-caption;
}

.image-credit {
  @include image-credit;
}

.input-text {
  @include input-text;
}

.input-text-large {
  @include input-text-large;
}

.text-list {
  @include text-list;
}

.definition-list-type {
  @include definition-list-type;
}

.definition-list-data {
  @include definition-list-data;
}

.anchorlink-wrapper {
  a {
    display: inline;
    box-decoration-break: clone;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: left;
    color: $blueberry600;
    border: 0.15rem solid transparent;
    text-decoration: underline;
    text-underline-offset: 0.16rem;
    text-decoration-color: $blueberry400;
    text-decoration-thickness: 0.0625rem;
    padding: 0.1rem;

    &:hover {
      cursor: pointer;
      color: $blueberry700;
      background-color: $blueberry50;
      text-decoration-color: $blueberry600;
    }

    &:focus {
      outline: none;
      border: 0.15rem solid $black;
    }

    &[target='_blank'] {
      /* external styling legge til icon */
      &::after {
        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='38px' height='38px' viewBox='0 0 48 48' fill='%2308667c'><polygon points='33.305,14.659,33.305,29.205,32.005,29.205,32.005,16.948,15.804,33.149,14.885,32.229,31.155,15.959,18.761,15.96,18.761,14.659' /></svg>");
        display: inline-block;
        vertical-align: bottom;
        margin-right: -0.4rem;
        margin-top: -2rem;
        margin-bottom: -0.8rem;
      }
    }
  }
}
