.help-expander-standalone-trigger {
  // Plasserer HelpTriggerStandalone over HelpExpanderStandalone for at focus-outline skal vises riktig
  position: relative;
  z-index: 1;

  // justerer tekst og chevron til topp ved flere linjer tekst
  & > * {
    align-items: flex-start;
  }
}
