.help-expander-standalone-trigger {
  // Plasserer HelpTriggerStandalone over HelpExpanderStandalone for at focus-outline skal vises riktig
  position: relative;
  z-index: 1;

  &__inner-container {
    display: flex;
    align-items: flex-start;
  }
}
