name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
        env:
          HUSKY: 0
      - run: npm run build
      - if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, 'beta')
        run: npm publish --provenance --tag beta
        working-directory: npm/designsystem/lib
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'beta')
        run: npm publish --provenance
        working-directory: npm/designsystem/lib
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, 'beta')
        run: npm publish --provenance --tag beta
        working-directory: npm/datepicker/lib
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'beta')
        run: npm publish # --provenance
        working-directory: npm/datepicker/lib
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
