name: Publish

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to publish'
        required: false
        type: string

env:
  NODE_VERSION: 24
  NPM_VERSION: '^11.6.2'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag || github.ref }}
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'
        # Need npm 11.5.1 or later for trusted publisher configuration to work
      - name: Use npm ${{ env.NPM_VERSION }}
        run: npm i -g npm@$NPM_VERSION
      - run: npm ci
        env:
          HUSKY: 0
      - run: npm run build
      - if:
          (startsWith(github.ref, 'refs/tags/v') || startsWith(inputs.tag, 'v')) && (contains(github.ref, 'beta') || contains(inputs.tag,
          'beta'))
        run: npm publish --provenance --tag beta
        working-directory: npm/designsystem/lib
      - if:
          (startsWith(github.ref, 'refs/tags/v') || startsWith(inputs.tag, 'v')) && !(contains(github.ref, 'beta') || contains(inputs.tag,
          'beta'))
        run: npm publish --provenance
        working-directory: npm/designsystem/lib
      - if:
          (startsWith(github.ref, 'refs/tags/v') || startsWith(inputs.tag, 'v')) && (contains(github.ref, 'beta') || contains(inputs.tag,
          'beta'))
        run: npm publish --provenance --tag beta
        working-directory: npm/datepicker/lib
      - if:
          (startsWith(github.ref, 'refs/tags/v') || startsWith(inputs.tag, 'v')) && !(contains(github.ref, 'beta') || contains(inputs.tag,
          'beta'))
        run: npm publish --provenance
        working-directory: npm/datepicker/lib
      - if:
          (startsWith(github.ref, 'refs/tags/v') || startsWith(inputs.tag, 'v')) && (contains(github.ref, 'beta') || contains(inputs.tag,
          'beta'))
        run: npm publish --provenance --tag beta
        working-directory: npm/lightbox/lib
      - if:
          (startsWith(github.ref, 'refs/tags/v') || startsWith(inputs.tag, 'v')) && !(contains(github.ref, 'beta') || contains(inputs.tag,
          'beta'))
        run: npm publish --provenance
        working-directory: npm/lightbox/lib
