@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';
@import '../../scss/screen-reader';

$checkbox-icon-size: 1.625rem;

.checkbox-errors {
  font-size: $font-size-sm;
  font-weight: 600;
  color: $cherry600;
  margin-top: 0;
}

.checkbox-wrapper {
  &--with-error {
    padding: getSpacer(s) getSpacer(2xs) getSpacer(m);
    background-color: $cherry100;
    border-left: 0.25rem solid $cherry600;

    @media (min-width: map.get($grid-breakpoints, md)) {
      padding: getSpacer(s) getSpacer(m) getSpacer(l);
    }
  }

  &--with-error#{&}--large {
    padding: getSpacer(m);
  }

  &--large {
    margin: getSpacer(2xs) 0;
  }
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  &__text {
    color: $black;

    &--on-dark {
      color: $white;
    }

    &__large {
      &--checked {
        color: $white;
      }
      &--checked#{&}--invalid {
        color: $black;
      }
      &--checked#{&}--disabled {
        color: $neutral700;
      }
    }

    &--disabled {
      color: $neutral700;
    }
  }

  &--disabled {
    cursor: default;
  }

  &__large {
    &--focus {
      box-shadow: 0 0 0 getSpacer(3xs);
    }

    &--on-white {
      background-color: $neutral50;

      :hover > & {
        background-color: $neutral100;
      }
    }
    &--on-white#{&}--focus {
      color: $neutral500;
    }

    &--on-grey {
      background-color: $white;

      :hover > & {
        background-color: $neutral100;
      }
    }

    &--on-grey#{&}--focus {
      color: $neutral500;
      background-color: $white;
    }

    &--on-blueberry {
      background-color: $white;

      :hover > & {
        background-color: $blueberry100;
      }
    }
    &--on-blueberry#{&}--focus {
      color: $blueberry500;
      background-color: $white;
    }

    &--on-invalid {
      background-color: $white;

      :hover > & {
        background-color: $cherry100;
      }
    }
    &--on-invalid#{&}--focus {
      color: $cherry400;
      background-color: $white;
    }

    &--disabled {
      background-color: $neutral50;

      :hover > & {
        background-color: $neutral50;
      }
    }

    &--checked {
      background-color: $blueberry500;

      :hover > & {
        background-color: $blueberry600;
      }
    }
    &--checked#{&}--focus {
      color: $blueberry900;
      background-color: $blueberry500;
    }

    &--checked#{&}--on-invalid {
      background-color: $cherry100;

      :hover > & {
        background-color: $cherry200;
      }
    }

    &--checked#{&}--on-invalid#{&}--focus {
      color: $cherry400;
    }

    &--checked#{&}--disabled {
      background-color: $neutral50;

      :hover > & {
        background-color: $neutral50;
      }
    }

    &--disabled#{&}--white {
      background-color: $white;

      :hover > & {
        background-color: $white;
      }
    }
  }

  &--large {
    padding: getSpacer(s);
  }

  &--large#{&}--on-dark {
    background-color: $blueberry800;
  }

  @media (min-width: map.get($grid-breakpoints, md)) {
    &--large {
      padding: 1.68rem getSpacer(l);
    }
  }
}

.checkbox {
  @include sr-only;

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: getSpacer(4xs) getSpacer(s) getSpacer(4xs) getSpacer(4xs);
    height: $checkbox-icon-size;
    width: $checkbox-icon-size;
    min-height: $checkbox-icon-size;
    min-width: $checkbox-icon-size;
    box-shadow: 0 0 0 getSpacer(4xs);

    // Vi overstyrer farger satt ved high-contrast mode i nettleser/os
    @media (forced-colors: active) {
      forced-color-adjust: none;
      background-color: #000 !important;
      color: #fff !important;
    }

    :hover > & {
      box-shadow: 0 0 0 getSpacer(3xs);
    }

    &--on-white,
    &--on-grey {
      color: $neutral700;

      :hover > & {
        background-color: $neutral100;
      }
    }

    &--on-blueberry {
      color: $blueberry500;

      :hover > & {
        background-color: $blueberry100;
      }
    }

    &--on-invalid {
      color: $cherry500;

      :hover > & {
        background-color: $cherry100;
      }
    }

    &--on-dark {
      color: $neutral200;

      :hover > & {
        background-color: #ffffff1a;
      }
    }

    &--disabled {
      color: $neutral600;
      background-color: $neutral50;

      :hover > & {
        box-shadow: 0 0 0 getSpacer(4xs);
        background-color: $neutral50;
      }
    }

    &__regular {
      &--checked {
        background-color: $blueberry500;
        color: $blueberry500;
        box-shadow: 0 0 0 getSpacer(4xs);

        :hover > & {
          background-color: $blueberry600;
          color: $blueberry600;
          box-shadow: 0 0 0 getSpacer(4xs);
        }
      }
      &--checked#{&}--invalid {
        background-color: $cherry500;
        color: $cherry500;
        box-shadow: 0 0 0 getSpacer(4xs);

        :hover > & {
          background-color: $cherry600;
          color: $cherry600;
          box-shadow: 0 0 0 getSpacer(4xs);
        }
      }
      &--checked#{&}--on-dark {
        background-color: $blueberry50;
        color: $blueberry50;
        box-shadow: 0 0 0 getSpacer(4xs);

        :hover > & {
          background-color: $blueberry200;
          color: $blueberry200;
          box-shadow: 0 0 0 getSpacer(4xs);
        }
      }
    }

    &__large {
      &--checked {
        background-color: $blueberry50;
        box-shadow: none;

        :hover > & {
          background-color: $blueberry200;
          box-shadow: none;
        }
      }
      &--checked#{&}--invalid {
        background-color: $cherry500;

        :hover > & {
          background-color: $cherry600;
        }
      }
      &--checked#{&}--disabled {
        color: $neutral600;
        background-color: $neutral50;
        box-shadow: 0 0 0 getSpacer(4xs);

        :hover > & {
          background-color: $neutral50;
          box-shadow: 0 0 0 getSpacer(4xs);
        }
      }
    }
  }

  &__icon {
    position: relative;
    top: 0.1rem;
    right: 0.05rem;

    // Vi overstyrer farger satt ved high-contrast mode i nettleser/os
    @media (forced-colors: active) {
      forced-color-adjust: none;
      fill: #fff;
    }
  }

  &:focus {
    /* stylelint-disable-next-line */
    & + .checkbox__icon-wrapper {
      box-shadow: 0 0 0 getSpacer(3xs);
      color: $black;

      &--on-dark {
        color: $white;
      }

      &--invalid {
        color: $black;
      }

      &__large {
        &--checked {
          background-color: $blueberry200;
          box-shadow: 0 0 0 getSpacer(3xs);
          color: $white;

          // komboklasser fungerer ikke i nested struktur
          &--invalid {
            background-color: $cherry500;
            color: $black;
          }

          &--disabled {
            color: $neutral700;
            background-color: $neutral50;
          }
        }
      }
    }
  }

  &:focus-visible {
    outline: none;
  }
}

.checkbox-sublabel-wrapper {
  padding-left: 2.8rem;
}
