@import '../../scss/_spacers.scss';
@import '../../scss/_breakpoints.scss';
@import '../../scss/_palette.scss';
@import '../../scss/font-settings.scss';

.checkbox-errors {
  font-size: $font-size-sm;
  font-weight: 600;
  color: $cherry500;
  margin-top: 0;
}

.checkbox-wrapper {
  margin: getSpacer(s) 0;

  &--with-error {
    padding: getSpacer(s) getSpacer(2xs) getSpacer(m);
    background-color: $cherry100;
    border-left: 0.25rem solid $cherry500;

    @media (min-width: map-get($grid-breakpoints, md)) {
      padding: getSpacer(s) getSpacer(m) getSpacer(l);
    }
  }

  &--with-error#{&}--bigform {
    padding: getSpacer(m) getSpacer(m);
  }

  &--bigform {
    margin: getSpacer(xs) 0 getSpacer(xs) 0;
  }
}

.checkbox-wrapper:first-of-type {
  margin-top: 0;
}

.checkbox-wrapper:last-of-type {
  margin-bottom: 0;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: $font-size-sm;

  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: $font-size-md;
  }

  &--on-dark {
    color: $white;
  }

  &--invalid {
    color: $black;
  }

  &--disabled {
    cursor: default;
    color: $neutral400;
  }

  &--bigform {
    padding: getSpacer(s);
    background-color: $neutral50;
  }

  &--bigform#{&}--on-blueberry {
    background-color: $blueberry50;
  }

  &--bigform#{&}--on-dark {
    background-color: $blueberry800;
  }

  &--bigform#{&}--invalid {
    background-color: $white;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    &--bigform {
      padding: 1.68rem getSpacer(l);
    }
  }
}

.checkbox {
  width: 0px;
  margin: 0;

  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: getSpacer(4xs) getSpacer(s) getSpacer(4xs) getSpacer(4xs);
    height: 1.625rem;
    width: 1.625rem;
    min-width: auto !important;
    min-height: auto !important;
    color: $neutral700;
    box-shadow: 0 0 0 getSpacer(4xs);

    :hover > & {
      box-shadow: 0 0 0 getSpacer(3xs);
      background-color: $neutral100;
    }

    :active > & {
      box-shadow: 0 0 0 getSpacer(3xs);
      color: $black;
    }

    &--checked {
      color: $blueberry500;

      :hover > & {
        background-color: $blueberry50;
      }
    }

    &--on-blueberry {
      color: $blueberry500;

      :hover > & {
        background-color: $blueberry100;
      }
    }

    &--on-dark {
      color: $neutral200;

      :hover > & {
        background-color: $inverted-hover;
      }

      &.checkbox__icon-wrapper--checked {
        color: $blueberry200;
      }

      :active > & {
        color: $white;
      }
    }

    &--invalid {
      color: $cherry500;

      :hover > & {
        background-color: $cherry100;
      }

      &.checkbox__icon-wrapper--checked {
        color: $cherry500;
      }

      :active > & {
        color: $black;
      }
    }

    &--disabled {
      color: $neutral400;
      &.checkbox__icon-wrapper--checked {
        color: $neutral400;
      }
      :hover > & {
        box-shadow: 0 0 0 getSpacer(4xs);
        background-color: transparent;
      }

      :active > & {
        color: $neutral400;
      }
    }
  }

  &__icon {
    position: relative;
    top: 0.1rem;
    right: 0.05rem;
  }

  &:focus {
    & + .checkbox__icon-wrapper {
      box-shadow: 0 0 0 getSpacer(3xs);
      color: $black;

      &--on-dark {
        color: $white;
      }

      &--invalid {
        color: $black;
      }
    }
  }
}
