@use 'sass:map';
@use '../../scss/spacers' as spacers;
@use '../../scss/palette' as palette;
@use '../../scss/font-settings' as font-settings;
@use '../../scss/screen-reader' as *;
@use '../../scss/breakpoints' as breakpoints;

$padding-clickable-area-top-bottom: 7px;
$padding-clickable-area-left: 8px;

.checkbox-errors {
  font-size: font-settings.$font-size-sm;
  font-weight: 600;
  color: palette.$cherry600;
  margin-top: 0;
}

.checkbox-wrapper {
  margin-left: -$padding-clickable-area-left;

  &--large {
    margin: spacers.getSpacer(2xs) 0;
  }
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  padding: $padding-clickable-area-top-bottom 0 $padding-clickable-area-top-bottom $padding-clickable-area-left;

  &__text {
    color: palette.$black;

    &__large {
      &--checked {
        color: palette.$white;
      }

      &--checked#{&}--invalid {
        color: palette.$black;
      }

      &--checked#{&}--disabled {
        color: palette.$neutral700;
      }
    }

    &--disabled {
      color: palette.$neutral700;
    }

    &--on-dark {
      color: palette.$white;
    }
  }

  &--disabled {
    cursor: not-allowed;
  }

  &__large {
    &--focus {
      box-shadow: 0 0 0 spacers.getSpacer(3xs);
    }

    &--on-white {
      background-color: palette.$neutral50;

      :hover > & {
        background-color: palette.$neutral100;
      }
    }

    &--on-white#{&}--focus {
      color: palette.$neutral500;
    }

    &--on-grey {
      background-color: palette.$white;

      :hover > & {
        background-color: palette.$neutral100;
      }
    }

    &--on-grey#{&}--focus {
      color: palette.$neutral500;
      background-color: palette.$white;
    }

    &--on-blueberry {
      background-color: palette.$white;

      :hover > & {
        background-color: palette.$blueberry100;
      }
    }

    &--on-blueberry#{&}--focus {
      color: palette.$blueberry500;
      background-color: palette.$white;
    }

    &--on-invalid {
      background-color: palette.$white;

      :hover > & {
        background-color: palette.$cherry100;
      }
    }

    &--on-invalid#{&}--focus {
      color: palette.$cherry400;
      background-color: palette.$white;
    }

    &--disabled {
      background-color: palette.$neutral50;

      :hover > & {
        background-color: palette.$neutral50;
      }
    }

    &--checked {
      background-color: palette.$blueberry500;

      :hover > & {
        background-color: palette.$blueberry600;
      }
    }

    &--checked#{&}--focus {
      color: palette.$blueberry900;
      background-color: palette.$blueberry500;
    }

    &--checked#{&}--on-invalid {
      background-color: palette.$cherry100;

      :hover > & {
        background-color: palette.$cherry200;
      }
    }

    &--checked#{&}--on-invalid#{&}--focus {
      color: palette.$cherry400;
    }

    &--checked#{&}--disabled {
      color: palette.$neutral700;
      background-color: palette.$neutral50;

      :hover > & {
        color: palette.$neutral700;
        background-color: palette.$neutral50;
      }
    }

    &--disabled#{&}--white {
      background-color: palette.$white;

      :hover > & {
        background-color: palette.$white;
      }
    }
  }

  &--large {
    padding: spacers.getSpacer(s);
  }

  &--large#{&}--on-dark {
    background-color: palette.$blueberry800;
  }

  @media (min-width: map.get(breakpoints.$grid-breakpoints, md)) {
    &--large {
      padding: 1.68rem spacers.getSpacer(l);
    }
  }
}

.checkbox {
  @include sr-only;

  &__marker-wrapper {
    margin-right: spacers.getSpacer(s);
  }

  &:focus-visible {
    outline: none;
  }
}

.checkbox-sublabel-wrapper {
  margin-top: -$padding-clickable-area-top-bottom;
  padding-left: calc(2.8rem + $padding-clickable-area-left);
}

.checkbox-afterlabelchildren-wrapper {
  padding-top: $padding-clickable-area-top-bottom;
}
