@use 'sass:map';
@import '../../scss/spacers';
@import '../../scss/breakpoints';
@import '../../scss/palette';
@import '../../scss/font-settings';

.checkbox-errors {
  font-size: $font-size-sm;
  font-weight: 600;
  color: $cherry600;
  margin-top: 0;
}

.checkbox-wrapper {
  margin: getSpacer(s) 0;

  &--with-error {
    padding: getSpacer(s) getSpacer(2xs) getSpacer(m);
    background-color: $cherry100;
    border-left: 0.25rem solid $cherry600;

    @media (min-width: map.get($grid-breakpoints, md)) {
      padding: getSpacer(s) getSpacer(m) getSpacer(l);
    }
  }

  &--with-error#{&}--bigform {
    padding: getSpacer(m) getSpacer(m);
  }

  &--bigform {
    margin: getSpacer(2xs) 0 getSpacer(2xs) 0;
  }
}

.checkbox-wrapper:first-of-type {
  margin-top: 0;
}

.checkbox-wrapper:last-of-type {
  margin-bottom: 0;
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  font-size: $font-size-sm;
  line-height: $lineheight-size-sm;

  &__text {
    display: flex;
    color: $black;

    &__big-form {
      &--checked {
        color: $white;
      }
      &--checked#{&}--invalid {
        color: $black;
      }
    }

    &--disabled {
      color: $neutral700;
    }
  }

  @media (min-width: map.get($grid-breakpoints, md)) {
    font-size: $font-size-md;
  }

  &--disabled {
    cursor: default;
    color: $neutral400;
  }

  &__big-form {
    &--focus {
      box-shadow: 0 0 0 getSpacer(3xs);
    }

    &--on-white {
      background-color: $neutral50;

      :hover > & {
        background-color: $neutral100;
      }
    }
    &--on-white#{&}--focus {
      color: $neutral500;
    }

    &--on-grey {
      background-color: $white;

      :hover > & {
        background-color: $neutral100;
      }
    }

    &--on-grey#{&}--focus {
      color: $neutral500;
      background-color: $white;
    }

    &--on-blueberry {
      background-color: $white;

      :hover > & {
        background-color: $blueberry100;
      }
    }
    &--on-blueberry#{&}--focus {
      color: $blueberry500;
      background-color: $white;
    }

    &--on-invalid {
      background-color: $white;

      :hover > & {
        background-color: $cherry100;
      }
    }
    &--on-invalid#{&}--focus {
      color: $cherry400;
      background-color: $white;
    }

    &--disabled {
      background-color: $neutral50;

      :hover > & {
        background-color: $neutral50;
      }
    }

    &--checked {
      background-color: $blueberry500;

      :hover > & {
        background-color: $blueberry600;
      }
    }
    &--checked#{&}--focus {
      color: $blueberry900;
      background-color: $blueberry500;
    }

    &--checked#{&}--on-invalid {
      background-color: $cherry100;

      :hover > & {
        background-color: $cherry200;
      }
    }

    &--checked#{&}--on-invalid#{&}--focus {
      color: $cherry400;
    }

    &--checked#{&}--disabled {
      background-color: $neutral50;

      :hover > & {
        background-color: $neutral50;
      }
    }

    &--disabled#{&}--white {
      background-color: $white;

      :hover > & {
        background-color: $white;
      }
    }
  }

  &--bigform {
    padding: getSpacer(s);
  }

  &--bigform#{&}--on-dark {
    background-color: $blueberry800;
  }

  @media (min-width: map.get($grid-breakpoints, md)) {
    &--bigform {
      padding: 1.68rem getSpacer(l);
    }
  }
}

.checkbox {
  width: 0;
  margin: 0;
  appearance: none;

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: getSpacer(4xs) getSpacer(s) getSpacer(4xs) getSpacer(4xs);
    height: 1.625rem;
    width: 1.625rem;
    min-height: 1.625rem;
    min-width: 1.625rem;
    box-shadow: 0 0 0 getSpacer(4xs);

    :hover > & {
      box-shadow: 0 0 0 getSpacer(3xs);
    }

    &--on-white,
    &--on-grey {
      color: $neutral700;

      :hover > & {
        background-color: $neutral100;
      }
    }

    &--on-blueberry {
      color: $blueberry500;

      :hover > & {
        background-color: $blueberry100;
      }
    }

    &--on-invalid {
      color: $cherry500;

      :hover > & {
        background-color: $cherry100;
      }
    }

    &--on-dark {
      color: $neutral200;

      :hover > & {
        background-color: #ffffff1a;
      }
    }

    &--disabled {
      color: $neutral600;
      background-color: $neutral50;

      :hover > & {
        box-shadow: 0 0 0 getSpacer(4xs);
        background-color: $neutral50;
      }
    }

    &__regular {
      &--checked {
        background-color: $blueberry500;
        color: $blueberry500;
        box-shadow: 0 0 0 getSpacer(4xs);

        :hover > & {
          background-color: $blueberry600;
          color: $blueberry600;
          box-shadow: 0 0 0 getSpacer(4xs);
        }
      }
      &--checked#{&}--invalid {
        background-color: $cherry500;
        color: $cherry500;
        box-shadow: 0 0 0 getSpacer(4xs);

        :hover > & {
          background-color: $cherry600;
          color: $cherry600;
          box-shadow: 0 0 0 getSpacer(4xs);
        }
      }
      &--checked#{&}--on-dark {
        background-color: $blueberry50;
        color: $blueberry50;
        box-shadow: 0 0 0 getSpacer(4xs);

        :hover > & {
          background-color: $blueberry200;
          color: $blueberry200;
          box-shadow: 0 0 0 getSpacer(4xs);
        }
      }
    }

    &__big-form {
      &--checked {
        background-color: $blueberry50;
        box-shadow: none;

        :hover > & {
          background-color: $blueberry200;
          box-shadow: none;
        }
      }
      &--checked#{&}--invalid {
        background-color: $cherry500;

        :hover > & {
          background-color: $cherry600;
        }
      }
      &--checked#{&}--disabled {
        color: $neutral600;
        background-color: $neutral50;
        box-shadow: 0 0 0 getSpacer(4xs);

        :hover > & {
          background-color: $neutral50;
          box-shadow: 0 0 0 getSpacer(4xs);
        }
      }
    }
  }

  &__icon {
    position: relative;
    top: 0.1rem;
    right: 0.05rem;
  }

  &:focus {
    /* stylelint-disable-next-line */
    & + .checkbox__icon-wrapper {
      box-shadow: 0 0 0 getSpacer(3xs);
      color: $black;

      &--on-dark {
        color: $white;
      }

      &--invalid {
        color: $black;
      }

      &__big-form {
        &--checked {
          background-color: $blueberry200;
          box-shadow: 0 0 0 getSpacer(3xs);
          color: $white;

          // komboklasser fungerer ikke i nested struktur
          &--invalid {
            background-color: $cherry500;
            color: $black;
          }

          &--disabled {
            color: $neutral700;
            background-color: $neutral50;
          }
        }
      }
    }
  }
}
