@import '../../../utils/variables';

/****************************************************/
/****************************************************/
/* LIGHTBOX rewritten according to BEM standards
/****************************************************/
/****************************************************/

/****************************************************/
/* BLOCK: Main component */
/****************************************************/
.toolkit-lightbox {
}

/****************************************************/
/* ELEMENT: overlay depends upon the lightbox block */
/****************************************************/
.toolkit-lightbox__overlay {
  z-index: 1300000;
  background: rgba(51, 51, 51, 0.75);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.toolkit-lightbox__overlay--lowerzindex {
    z-index: 1100000;
  }
}

/****************************************************/
/* ELEMENT: close button depends upon the lightbox block */
/****************************************************/
.toolkit-lightbox__closebutton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 200;
}

.toolkit-lightbox__closebuttonplaceholder {
  width: 1.7rem;
  height: 1.7rem;
  top: -8px;
  right: -11px;
  position: relative;
  float: right;

  @media only screen and (min-width: $one-to-two-col) {
    width: 2.1rem;
    height: 2rem;
  }
}

/****************************************************/
/* ELEMENT: action button depends upon the lightbox block */
/****************************************************/
.toolkit-lightbox__actionconfirmationprompt {
  margin-top: 1rem;

  &.giveMarginToButtons {
    margin-top: 0;
  }
}
.toolkit-lightbox__actionbutton {
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
}

/****************************************************/
/* ELEMENT: container depends upon the lightbox block */
/****************************************************/
.toolkit-lightbox__container {
  /*pointer-events: none;*/
  color: $color-base-7;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  z-index: 1300000;

  text-align: center;
  overflow-y: auto;
  &.toolkit-lightbox__container--lowerzindex {
    z-index: 1100000;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .messagebox,
  .download-successtext,
  .download-failtext {
    margin: 1rem 0;
  }

  .download-successtext,
  .download-failtext {
    &:not(.state-hidden) {
      display: block;
    }
  }

  .download-successtext,
  .download-failtext {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 500;
  }

  .download-successtext {
    color: $color-functional-1;
  }

  .download-failtext {
    color: $color-functional-3;
  }

  .emphasized-text {
    font-weight: 500;
  }

  .date-container {
    &--last {
      margin-bottom: 0.5rem;
    }

    &__label {
      width: 2rem;
      display: inline-block;
    }
  }
}

a.toolkit-toolkit-lightbox__actionbutton,
a.toolkit-lightbox__actionbutton:link,
a.toolkit-lightbox__actionbutton:visited {
  white-space: normal;
}

/****************************************************/
/* ELEMENT: content, nested in container depends upon the lightbox block */
/****************************************************/
.toolkit-lightbox__content {
  pointer-events: auto;
  animation: open 200ms 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid $color-base-4-2;
  background: $color-base-0;
  font-size: 1.125rem;
  text-align: left;
  padding: 1rem 1.25rem 1.25rem;
  margin: 0.5rem;
  width: calc(100% - 0.5rem - 0.5rem);
  max-width: calc(100% - 0.5rem - 0.5rem);
}

/****************************************************/
/* MODIFIER: changes the style of the container and its children */
/****************************************************/

.toolkit-lightbox__container--nopadding {
  .toolkit-lightbox__content {
    padding: 0;
  }
}

/****************************************************/
/* MODIFIER: changes the style of the container and its children */
/****************************************************/

.toolkit-lightbox__container--small {
  &:not(.toolkit-lightbox__container--nopadding) .toolkit-lightbox__content {
    padding: 2.75rem 2rem;
  }
  .toolkit-lightbox__content {
    width: calc(100% - 0.5rem - 0.5rem);

    .atom_spinner.local {
      margin: -1px;
    }

    h3:first-of-type {
      margin-top: 0;
    }

    .atom_messagebox.error.lvl2 ~ .mol_actionconfirmationprompt {
      margin-left: 2.7rem;
    }
  }

  .toolkit-lightbox__closebuttonplaceholder {
    top: -36px;
    right: -24px;
    @media only screen and (min-width: $two-to-three-col) {
      top: -39px;
      right: -31px;
    }
  }
}

/****************************************************/
/* MODIFIER: changes the style of the container and its children */
/****************************************************/
.toolkit-lightbox__container--medium,
.toolkit-lightbox__container--large {
  &:not(.toolkit-lightbox__container--nopadding) .toolkit-lightbox__content {
    padding: 2.75rem 1rem;
  }
  .toolkit-lightbox__content {
    width: calc(100% - 0.5rem - 0.5rem);
    margin: auto 0.5rem;

    .atom_spinner.lightbox {
      margin: -2.8rem -1.05rem;
    }
  }

  .toolkit-lightbox__closebuttonplaceholder {
    right: -8px;
    top: -35px;
    @media only screen and (min-width: $one-to-two-col) {
      right: -23px;
      top: -35px;
    }
    @media only screen and (min-width: $two-to-three-col) {
      right: -30px;
      top: -38px;
    }
  }
}

/****************************************************/
/* MODIFIER: changes the style of the container and its children */
/****************************************************/
.toolkit-lightbox__container--multistep {
  .toolkitlightbox__content {
    padding: 0;
  }
  .step-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .step {
    padding: 1rem 1.125rem 2.25rem;
    width: 100%;
    position: absolute;
    left: 5rem;
    top: 0;
    transition: left 0.4s ease;

    &.relative-position {
      position: relative;
      display: inline-block;
    }
  }
  .mol_process-indicator {
    margin: 0;
  }
}

/****************************************************/
/* BREAKPOINTS */
/****************************************************/
/* Landscape-oriented mobiles and portrait-oriented tablets. Two columns. */
@media only screen and (min-width: $one-to-two-col) {
  .toolkit-lightbox__content {
    margin: 4rem 1rem;
    width: auto;

    .mol_actionconfirmationprompt {
      .actionbutton {
        margin-bottom: 0;
      }
    }
  }

  .toolkit-lightbox__container--small {
    &:not(.toolkit-lightbox__container--nopadding) .toolkit-lightbox__content {
      padding-top: 2.875rem;
    }
    .toolkit-lightbox__content {
      width: calc(31rem + 2rem + 2rem);
      .atom_messagebox.error.lvl2 ~ .mol_actionconfirmationprompt {
        margin-left: 3.3rem;
      }
    }
  }

  .toolkit-lightbox__container--medium,
  .toolkit-lightbox__container--large {
    &:not(.toolkit-lightbox__container--nopadding) .toolkit-lightbox__content {
      padding: 2.75rem 2rem;
    }

    .toolkit-lightbox__content {
      width: calc(100% - 1rem - 1rem);
      margin: 1rem;

      .atom_spinner.lightbox {
        margin: -2.8rem -2.05rem;
      }
    }

    &.toolkit-lightbox__container--multistep {
      .step {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }
    }
  }

  .toolkit-lightbox {
    ol {
      padding-left: 2.5rem;
      margin-top: 1rem;
    }

    .download-successtext,
    .download-failtext {
      font-size: 1.5rem;
    }

    a.actionbutton,
    a.actionbutton:link,
    a.actionbutton:visited {
      white-space: nowrap;
    }

    .atom_messagebox.standalone.info {
      margin: 2rem 0;

      p {
        padding-left: 5.3rem;
        font-size: 1.5rem;

        &:first-of-type {
          background-size: 2.3rem auto;
        }
      }
    }

    &.alert .toolkit-lightbox__content {
      padding-left: 6rem;

      .mol_actionconfirmationprompt {
        margin-left: 0;
      }

      h3 {
        padding: 1rem 0 1rem 6rem;
        margin-left: -6rem;
        margin-right: -2rem;

        &::before {
          content: '';
          position: absolute;
          top: 0.5rem;
          left: 2rem;
          width: 3rem;
          height: 3rem;
          background: url('./../../../img/icons/icon_alertalert_inline.svg') left top no-repeat;
          background-size: 2.5rem;
        }
      }
    }
  }
}

/* Narrow desktops and landscape-oriented tablets.  Three columns. */
@media only screen and (min-width: $two-to-three-col) {
  .toolkit-lightbox__container--small .toolkit-lightbox__content {
    width: calc(17rem + 17rem + 2rem);
  }

  .toolkit-lightbox__container--medium .toolkit-lightbox__content {
    width: 46.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .atom_spinner.lightbox {
      margin: -3.05rem -2.6rem -3.05rem -2.55rem;
    }
  }

  .toolkit-lightbox__container--large .toolkit-lightbox__content {
    width: 100%;
    margin: 4rem auto;
    max-width: 57rem;

    .atom_spinner.lightbox {
      margin: -3.05rem -2.6rem -3.05rem -2.55rem;
    }
  }

  .toolkit-lightbox__container--small,
  .toolkit-lightbox__container--medium,
  .toolkit-lightbox__container--large {
    &:not(.toolkit-lightbox__container--nopadding) {
      padding: 3rem 2.5rem;
    }
  }

  .toolkit-lightbox__container--multistep {
    &.toolkit-lightbox__container--medium .step,
    &.toolkit-lightbox__container--large .step {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
}

@keyframes open {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
