.as-child-reset {
  all: unset;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none !important;
}
